<div class="panel panel-info">
  <div class="panel-heading">
    Add New Grade
	</div>					  
  <div class="panel-body">
		<%= form_for @grade, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="basicinput">Designation</label>
        <div class="col-lg-7">
          <%= f.grouped_collection_select :designation_id, Department.all, :designations, :department_name,  :id, :designation_name, { :prompt => "Please Select" }, { :class => "  form-control", :id=>"disabledSelect"  } %>                             
          <span class="help-block with-errors"></span>
        </div>
		</div>
	  
	  <div class="form-group">
	    <label class="col-lg-2 control-label" for="basicinput">Grade</label>
	    <div class="col-lg-7">
	       <%= f.text_field :value, :class => " form-control", :placeholder =>"Enter Grade Name", :data => {:error => "Please Enter  Designation name"}, :required =>true  %>                             
          <span class="help-block with-errors"></span>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-lg-2 control-label" for="basicinput"></label>
	    <div class="col-lg-7">								  
		    <%= f.submit  'Save', :class => "btn btn-success " %> 
		    <%= link_to  'Cancel', grades_path(@grade), :class => "btn btn-danger " %> </ul>			 										
			</div>
	  </div>
	  <% end %>	
	</div><!--/.module-body-->
</div><!--/.module-->
<%= title 'Grades'%>
