<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
						  <h3>Grades Info</h3>
						  <label style="font-weight:normal;margin-top:-10px;" class = "pull-right"><a><i class="icon-plus-sign "></i></a> <%= link_to "New Grade", new_grade_path %></label>   
					  </div>
					   <div class="module-body">
						  <table class="table table-striped table-bordered table-condensed">
							  <thead>
							   <% @grades.each do |grade| %>
							   <tr><td colspan="3" style="color:green"><%= grade.value %></td></tr>
								  <tr>
				            <th>Name Of Designation</th>
				            <th>Number of Employees</th>
				            <th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% @designations.each do |des| %>
							
								    <tr>
                    
								       <th><%= des.designation_name %></th>
								       <th><%= grade.employees.count %></th> 
								       <th><% if current_user.department == Department::HR %>
	                        <ul class="navigation-btns" style="list-style: none;display:inline;">
                            <li><%= link_to 'Edit', edit_grade_path(grade.id), :class => "btn btn-success pull-left" %></li>  
                        <li><%= link_to "Show",grade_path(grade.id),:class => "btn btn-info ",:class=>"btn btn-info pull-left"%></li>                      
                        <li><%= link_to "Delete",grade_path(grade.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger pull-left" %></li>                                   </th>
								    </tr> 
	                      
									  <% end %>
									    <% end %>
									     <%#end %>
								  </tbody>
								<% end %>
								</table>
								
							</div><!--.module-body-->
						</div><!--/.module -->
			    </div><!--/.content-->
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!--/.wrapper-->


