<!DOCTYPE html>
<html>
<body>

<h3>Hello <%= @employee.first_name %> <%= @employee.last_name%> your leave has been approved by <%= @employee.reporting_manager %></h3>

<table border="0">
    <thead>
      <tr>
          <th>Employee Id </th>
          <td>:   <%= @employee.employee_id %></td> 
 </tr><tr>
          <th>Name Of The Employee </th>
          <td>:   <%= @employee.first_name %> <%= @employee.last_name%></td>
</tr><tr>
          <th>Department</th>
          <td>:   <%= @employee.department.department_name %></td>
</tr><tr>
          <th>Designation</th>
          <td>:   <%= @employee.designation.designation_name %></td>
</tr><tr>   
          <th>Leave Type</th>
          <td>:   <%= @leave_history.leave_type.type_name %></td>
</tr><tr>         
          <th>From Date </th>
           <td>:  <%= @leave_history.from_date.to_date.strftime("%d %b, %Y") %></td>
</tr><tr>
          <th>To Date </th>
          <td>:   <%= @leave_history.to_date.to_date.strftime("%d %b, %Y") %> </td>
</tr><tr>
          <th>Number Of Day(s)</th>
           <td>:  <%= @leave_history.days %></td>
</tr><tr>
          <th>Reason </th>
           <td>:  <%= @leave_history.reason %></td>
</tr><tr>

          <th>Leave Status </th>
           <td>: <font color="green"><%= @leave_history.status %></td></font>

</tr>     
    </thead>
           
  </table>
</body>
</html>





