
<!DOCTYPE html>
<html>
  <body>
  Dear All,<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The following are the list of holidays for <%= @group.group_name %> for <%= @events.first.event_date.to_date.year%> year. <br> 
  <h3>Holidays List - <%= @events.first.event_date.to_date.year%>  </h3>
  <table border="1">

      <thead>

      <tr>
          <th>Festival Name </th>
          <th>Festival Date </th>        
      </tr>
      </thead>
      <% @events.each do |event| %>
      <tr>
       
          <td><%= event.event_name %></td>           
          <td><%= event.event_date.to_date.strftime("%d %b, %Y") %></td> 
          
     <% end %>     
      </tr>                   
  </table>
  </body>
</html>

