<section class="panel panel-info">
  <header class="panel-heading">
      Announcement Form
  </header>
  <div class="panel-body">
      <%= form_for @announcement,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>	
      <form class="form-horizontal" role="form">
          <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Announcement Title</label>
              <div class="col-lg-10">
                     <%= f.text_field :title, :class => "span8 form-control", :placeholder =>"Enter Title", :data => {:error => "Please Enter Valid Annoucement Title"}, :required => true %>
                    
                  <span class="help-block with-errors"></span>
                  
              </div>
          </div>
          
          <div class="form-group">
              <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Description</label>
              <div class="col-lg-9">
                 <%= f.bootsy_area :description, :class => "span8 form-control", :placeholder =>"Enter Description", :data => {:error => "Please Enter Announcement  Description"}, :required => true,:style => "margin: 0px 0px 10px; width: 850px; height: 221px;" %>
                  <span class="help-block with-errors"></span> 
              </div>
          </div>
           <%if @announcement.new_record? %>
          
           <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Select</label>
              <div class="col-lg-9">
               <select  name="announceable_type" class="announcement">
                <option value="all">All</option>
                <%unless @departments.blank? %>
                <option value="Department">Department</option>
                <%end%>
                 <%unless @groups.blank? %>
                <option value="Group">Group</option>
                <%end%>
                 <%unless @workgroups.blank? %>
                  <option value="Workgroup">WorkGroup</option>
                 <%end%>
              </select>
                  
              </div>
          </div>
          <div class="form-group ">
              <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label"></label>
              <div class="col-lg-9">
            
                        <div id ="departments">             
                      <%= select_tag :department_id, options_from_collection_for_select(@departments, "id", "department_name") %>
                    </div>
                    
                    <div id="groups">
                        <%= select_tag :group_id, options_from_collection_for_select(@groups, "id", "group_name") %>
                        
                    </div>
                    
                    <div id="workgroups">
                        <%= select_tag :workgroup_id, options_from_collection_for_select(@workgroups, "id", "name") %>
                    </div> 
              </div>
          </div>
          <% else %>
            <div class="form-group">
               <div class="col-lg-9">
             <strong>Announcement for <%if @announcement.announceable_type.nil? %> ALL <%else%> <%=@announceable %>  <%=@announcement.announceable_type%> <%end%></strong>
             </div>
            </div>
            <%end%>
            
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                      <div class="checkbox">
                          <label>
                              <%= f.check_box :is_send_mail %> Select To Send Mail
                          </label>
                      </div>
                  </div>
              </div>
         
         
         
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-8">
                 <button type="submit" class="btn btn-success">Post </button>&nbsp&nbsp
                <%= link_to "Cancel", announcements_path,:class => "btn btn-danger" %>
              </div>
          </div>
          
         
          
      </form>
      
       <% end %>
  </div>
</section>



	



<script>
    $(function() {
    $(".event_form").validator();
});
</script> 
<script>
 $(".date-picker").datepicker({
         dateFormat: 'dd/mm/yy',
         changeMonth: true,
         changeYear: true,
          minDate: -0,
         yearRange: "+0:+1",         
     });
</script>



<script>
  $(function(){
          $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").hide();
  
  $(".announcement").change(function () {
    var str = $( ".announcement" ).val();  
    console.log(str);
    switch (str) { 
    case 'Group': 
           console.log(str);
          $("#departments").hide();
          $("#groups").show();
          $("#workgroups").hide();
        break;
    case 'Department':
    console.log(str); 
        $("#departments").show();
          $("#groups").hide();
          $("#workgroups").hide();
        break;
    case 'Workgroup': 
    console.log(str);
        $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").show();
        break;      
    case 'all': 
    console.log(str);
         $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").hide();
    }
    
  });
});
</script>

