<section class="panel panel-info">
  <header class="panel-heading">
      Announcement Details
 	 </header>
	  <div class="panel-body">
	  <div class="form-group">											    
      <label class="control-label"><strong><%= @announcement.title %></strong></label>
    </div>
    <div class="form-group">
     <label class="control-label"><strong>Announcement for <%if @announcement.announceable_type.nil? %> ALL <%else%> <%=@announceable %>  <%=@announcement.announceable_type%> <%end%></strong></label>
    </div>
    
    <div class="form-group">
     <label class="control-label"><strong>Details</strong></label>
     <label class="dec">
      <%= raw @announcement.description%>
     </label>
     </div>
     <div class="for-group">
     <span class="pull-right">
      <% if current_user.department == Department::HR %>  
        
          <%= link_to 'Edit', edit_announcement_path(@announcement), :class => "btn btn-success " %>
          <%= link_to "Delete", announcement_path(@announcement), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
      
       <% end %>
     </span>
     </div>
    
</div><!--panel-body--> 
</section>	


