<section class="panel panel-info">
  <header class="panel-heading">
      Announcement Details
 
  		    <% if current_user.department == Department::HR %>  
					    <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'New Announcement',  new_announcement_path %></label>
					    <% end %>
					 </header>
				    <div class="panel-body">						
				     <% if @announcements.present? %>									            									      		
             <% @announcements.each do |announcement| %> 
             <h4><%= announcement.title %></h4> 
             <% if current_user.department == Department::HR %>                   
           
              <%= link_to 'Edit', edit_announcement_path(announcement), :class => "btn btn-success " %>&nbsp&nbsp
               <%= link_to "Delete", announcement_path(announcement.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger" %>
               <% end %>           
             <label class="desc">
               <%= raw announcement.description %>             
             </label>
             <%= link_to "Continue..", announcement_path(announcement), :class => "pt4" %><br><hr>
                          
            <% end %>   

            <% else %> 
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                No Announcements to display.
            </div>
           <% end %> 
           <%= paginate  @announcements %>      	           
						</div><!--panel-body-->
					
	


