<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <% if @employee_appraisal.present? %>
        <div class ="row">
            <div class="form-group">  
              <label class="control-label col-lg-2" for="basicinput">Title</label>
              <div class="col-lg-8">
                <%= text_field_tag :title, @employee_appraisal.title, disabled: "true", class: "form-control" %>
                <span class="help-block with-errors"></span>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="form-group">   
            <label class="control-label col-lg-2" for="basicinput">Description</label>
            <div class="col-lg-8">
              <%= text_area_tag :description, @employee_appraisal.description, class: "form-control", disabled: "true", size: "50x12" %>
              <span class="help-block with-errors"></span>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-4" for="basicinput">Start Date</label>
              <div class="col-lg-6">
                  <%= text_field_tag :start_date, @employee_appraisal.start_date.strftime("%d %b, %Y"), class: "form-control",disabled: "true"%>
                  <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-2" for="basicinput">End Date</label>
              <div class="col-lg-6">
                <%= text_field_tag :end_date, @employee_appraisal.end_date.strftime("%d %b, %Y"), class: "form-control" ,disabled: "true"%>
                <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-4" for="basicinput">Review Period</label>
              <div class="col-lg-6">
                  <%= text_field_tag :review_period, @employee_appraisal.review_period, class: "form-control",disabled: "true"%>
                  <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-2" for="basicinput">Department</label>
              <div class="col-lg-6">
                <%= text_field_tag :department, @employee.department.department_name, class: "form-control" ,disabled: "true"%>
                <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-4" for="basicinput">Employee</label>
              <div class="col-lg-6">
                  <%= text_field_tag :employee_name, @employee.full_name, class: "form-control",disabled: "true"%>
                  <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-2" for="basicinput">Reporting Manager</label>
              <div class="col-lg-6">
                <%= text_field_tag :manager, @employee.reporting_manager, class: "form-control" ,disabled: "true"%>
                <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="col-lg-6">
            <div class="form-group">   
              <label class="control-label col-lg-4" for="basicinput">Over All Rating</label>
              <div class="col-lg-6">
                <%= text_field_tag :over_all_rating, @employee_appraisal.overall_rating, class: "form-control" ,disabled: "true"%>
                <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="col-lg-12">
            <div class="form-group">   
              <label class="control-label col-lg-2" for="basicinput">Discussion Notes</label>
              <div class="col-lg-8">
                  <%= text_area_tag :discussion_notes, @employee_appraisal.discussion_notes , :class => "form-control", disabled: true, size: "50x5" %>
                  <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
        </div><hr/>
        <h4>Review Elements</h4><hr/>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Element</th>
              <th>Performance Indicator</th>
              <th>Employee Assesment</th>
              <th>Employee Rating</th>
              <th>Manager Feedback</th>
              <th>Manager Rating</th>
            </tr>
          </thead>
          <tbody>
            <% if @review_elements.present? %>
              <% @review_elements.each do |review_element| %>
                <tr>
                  <td><%= review_element.review_element %></td>
                  <td><%= review_element.performance_indicator %></td>
                  <td><%= review_element.employee_assesment %></td>
                  <td><%= review_element.employee_rating %></td>
                  <td><%= review_element.manager_feedback %></td>
                  <td><%= review_element.manager_rating %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
         </table><hr/>
        <% if @goals.present? %>
          <h4>Employee Goals</h4><hr/>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Goal</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
            <% @goals.each do |goal| %>
              <tr>
                <td><%= goal.title %></td>
                <td><%= goal.description%></td>
                <td><%= goal.start_date.strftime("%d %b, %Y") %></td>
                <td><%= goal.end_date.strftime("%d %b, %Y") %></td>
              </tr>
             <% end %>
            </tbody>
          </table>
        <% end %>
      <% else %>
        Appraisal Form not submited to HR
      <% end %>
    </div><!--/.module-body-->
  </div>
</div>

