
              <div class ="row-fluid">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Title</label>
                    <div class="controls">
                      <%= text_field_tag :title, @appraisal.title, class: "span7", disabled: "true" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Description</label>
                    <div class="controls">
                      <%= text_area_tag :description, @appraisal.description, :class => "span7", disabled: "true"%>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
              </div>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Start Date</label>
                    <div class="controls">
                      <%= text_field_tag :start_date, @appraisal.start_date.strftime("%d %b, %Y"), disabled: "true"%>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">End Date</label>
                    <div class="controls">
                      <%= text_field_tag :end_date, @appraisal.end_date.strftime("%d %b, %Y"), disabled: "true" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Period</label>
                    <div class="controls">
                      <%= text_field_tag :review_period, @appraisal.review_period, disabled: "true" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Department</label>
                    <div class="controls">
                      <%= text_field_tag :department, @employee.department.department_name, disabled: "true" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Employee</label>
                    <div class="controls">
                      <%= text_field_tag :employee_name, @employee.full_name, disabled: "true" %>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Manager</label>
                    <div class="controls">
                     <%= text_field_tag :manager_name, @employee.reporting_manager, disabled: "true" %>
                    </div>
                  </div>
                </div>
              </div>
                         
              
