<div class ="row">
    <div class="form-group">   
      <label class="control-label col-lg-2" for="basicinput">Title</label>
      <div class="col-lg-8">
        <%= text_field_tag :title, @employee_appraisal.title, class: "form-control", disabled: "true" %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
</div>
<div class="row">
    <div class="form-group">   
      <label class="control-label col-lg-2" for="basicinput">Description</label>
      <div class="col-lg-8">
        <%= text_area_tag :description, @employee_appraisal.description, :class => "form-control", disabled: "true", size: "50x12"%>
        <span class="help-block with-errors"></span>
      </div>
    </div>
</div>
<div class ="row">
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-4" for="basicinput">Start Date</label>
      <div class="col-lg-6">
        <%= text_field_tag :start_date, @employee_appraisal.start_date.strftime("%d %b, %Y"), class: "form-control", disabled: "true"%>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-2" for="basicinput">End Date</label>
      <div class="col-lg-6">
        <%= text_field_tag :end_date, @employee_appraisal.end_date.strftime("%d %b, %Y"),class: "form-control", disabled: "true" %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
</div>
<div class ="row">
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-4" for="basicinput">Period</label>
      <div class="col-lg-6">
        <%= text_field_tag :review_period, @employee_appraisal.review_period, class: "form-control", disabled: "true" %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-2" for="basicinput">Department</label>
      <div class="col-lg-6">
        <%= text_field_tag :department, @employee.department.department_name, class: "form-control", disabled: "true" %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
</div>
<div class ="row">
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-4" for="basicinput">Employee</label>
      <div class="col-lg-6">
        <%= text_field_tag :employee_name, @employee.full_name, class: "form-control", disabled: "true" %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">   
      <label class="control-label col-lg-2" for="basicinput">Manager</label>
      <div class="col-lg-6">
       <%= text_field_tag :manager_name, @employee.reporting_manager, class: "form-control",disabled: "true" %>
       <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
</div>

<% title "New Appraisal Form" %>
           

