<div class="panel panel-info">
  <div class="panel-heading">
    Template
  </div>            
  <div class="panel-body">
  <% if @employee_appraisal.present? %>
  <%= form_tag appraisals_create_employee_appraisal_path, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}, method: :post  do %>
  <%= render "appraisals/appraisal_form"%>
    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Over All Rating</label>
          <div class="col-lg-10">
            <%= text_field_tag :over_all_rating, nil, :class=>"form-control", disabled: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class="form-group">   
        <label class="col-lg-2 control-label" for="basicinput">Discussion Notes</label>
        <div class="col-lg-10">
            <%= text_area_tag :discussion_notes, nil , :class => "form-control", disabled: "true"%>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
    
    <table class="display table table-bordered table-striped"> 
      <thead>
        <tr>
          <th>Review Element</th>
          <th>Performance Indicator</th>
          <th>Employee Assesment</th>
          <th>Employee Rating</th>
          <th>Manager Feedback</th>
          <th>Manager Rating</th>
        </tr>
     </thead>
     <tbody>
       <% if @review_elements.present? %>
       <% @review_elements.each do |review_element, i| %>
       <%= fields_for "reviews[]", review_element do |f| %>
          <tr>
            <td><%= review_element.review_element %></td>
            <td><%= review_element.performance_indicator %></td>
              <%= hidden_field_tag 'review_id[]', review_element.id%>
              <td><%= text_field_tag 'review_assesment[]',review_element.employee_assesment %></td>
              <td><%= select_tag 'review_rating[]', options_for_select([['Exceptional', 'Exceptional'], ['Highly Effective', 'Highly Effective'], ['Proficient', 'Proficient'], ['Needs Improvement','Needs Improvement'], ['Unacceptable', 'Unacceptable'], ['Not Applicable','Not Applicable']]) %></td>
              <td><%= text_field_tag :manager_feedback, nil, disabled: "true", style: "width: 130px;"%></td>
              <td><%= text_field_tag :manager_rating, nil, disabled: "true", style: "width: 130px;" %></td>
          </tr>
        <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>   
    <%= submit_tag 'Submit', :class => 'btn btn-success pull-right' %>
    <% end %><br/>
    <% else %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          No Appraisal Form Assigned For You
      </div>    
    <% end %>
  </div><!--/.panel-body-->                     
</div><!--/.panel-info-->


