<div class="panel panel-info">
  <div class="panel-heading">
    Reportees Appraisals List <i class="fa fa-arrow-circle-left pull-right icon-position"></i><%= link_to ' Back To Reportees', reportees_path, :class => "pull-right" %>             
  </div>
  <div class="panel-body">
    <% if @employee_appraisals.present? %>
    <table class="display table table-bordered table-striped"> 
      <thead>
        <tr>
          <th>Appraisal</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Review Period</th>
          <th>Overall Rating</th>
          <th>Appraisal Cycle</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_appraisals.each do |appraisal| %>
          <tr>
            <td><%= link_to appraisal.title, "/reportee_appraisal_view/#{appraisal.id}" %></td>
            <td><%= appraisal.start_date %></td>
            <td><%= appraisal.end_date %></td>
            <td><%= appraisal.review_period %></td>
            <td><%= appraisal.overall_rating %></td>
            <td><%= appraisal.appraisal_cycle.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>                
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Employee did not have any previous appraisals 
      </div>
    <% end %>
  </div><!--/.panel-body-->          
</div><!--/.panel-info-->
