<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>Repotees Appraisals List </h3>
            </div>
            <div class-module-body>
              <table class="table">
                <thead>
                  <tr>
                    <th>Appraisal</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Review Period</th>
                    <th>Overall Rating</th>
                    <th>Appraisal Cycle</th>
                  </tr>
                </thead>
                <tbody>
                  <% @employee_appraisals.each do |appraisal| %>
                    <tr>
                      <td><%= link_to appraisal.title, "/reportee_appraisal_view/#{appraisal.id}" %></td>
                      <td><%= appraisal.start_date %></td>
                      <td><%= appraisal.end_date %></td>
                      <td><%= appraisal.review_period %></td>
                      <td><%= appraisal.overall_rating %></td>
                      <td><%= appraisal.appraisal_cycle.title %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->
