
						<div class="module">
							<div class="module-head">
								<h3> Attachment Info </h3>
							</div>
							<div class="module-body">	
							   <%= form_for(:employee, :url => attachment_create_employee_path(@employee), :html => {:multipart => true, :class=>"form-horizontal row-fluid"}, :remote => true, method: :post) do |f| %> 
                   <%= fields_for :employee_attachments do |f| %>        
                 <div class="control-group">
										<label class="control-label" for="basicinput"> Attachment Title:</label>
										<div class="controls">
											 <%= f.text_field :attachment_name, :class => " span8  form-control", name: "employee_attachments[attachment_name][]", :data => {:error => " Please Enter Attachment Title"}, :required =>true %> 
											 <div class="help-block with-errors"></div>  
										</div>
									</div>		
									
									  <div class="control-group">
										<label class="control-label" for="basicinput"> Upload File:</label>
										<div class="controls">
											 <%= f.file_field :attachment, :multiple => true, name: "employee_attachments[attachment][]", :onchange =>"validateFiles(this);", :data => {:max_file_size => 5.megabytes, :error => " Please Choose a file to attach"}, :required =>true  %> 
											 <div class="help-block with-errors"></div>  
										</div>
									</div>	
									
									 <span id="add_attachment_field" ></span>
                   <span id='add_field'><a href="#"><i class="fa fa-icon fa-plus">Add More</i></a> </span>	<br>	<br>
                   <% end %>
                   				
								<ul class="navigation-btns pull-left">
                  <li><%= f.submit  'Save', :class => "btn btn-success" %></li>
                  <li><%= link_to 'Cancel', attachment_index_employee_path(@employee), :class => "btn btn-danger" %></li>            
               </ul>  <br>
            <% end %>																												
							</div><!--/.module-body-->
						</div><!--/.module-->
	

                                     
                   
                             
<!-- data-error='Please  Attachment file' required><div class='help-block with-errors'></div>                      
data-error='Please Enter Attachment Title' required><div class='help-block with-errors'></div> -->
                  
 <script>
      $("#new_attachment_form").validator();
    </script>         
<script>
$(function(){
   $("#add_field").click(function(){
    $("#add_attachment_field").append(
    "<span><label class='required'>Attachment Name</label><input class='form-control' id='employee_attachments_attachment_name' name='employee_attachments[attachment_name][]' type='text' ><a onclick='$(this).parent().hide();' class='fa fa-icon fa-minus' style='float: right;'></a><br><label class='required'>Upload File</label><input id='employee_attachments_attachment' multiple='multiple' name='employee_attachments[attachment][]' type='file' </span>");
  });  
});
</script>


 <script>
function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png, .pdf, .ppt, .pptx, .doc, .docx, .zip, .rar, .txt, .xls is allowed";
  var allowedExtension = ["jpg", "LPG", "JPEG", "jpeg", "gif", "GIF",  "png", "PNG",  "doc", "DOC", "docx", "DOCX", "ppt", "PPT", "pptx", "PPTX", "xls", "XLS", "xlsx", "XLSX", "txt", "TXT", "rar", "RAR", "pdf", "PDf", "psd", "PSD"]; 
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>






