<div class="panel panel-info">
  <div class="panel-heading">
     Employee Details    
   </div>
   <div class="panel-body">
   <%= form_for @employee, :html => {:class=> "edit-employee-form form-horizontal"}, :remote => true  do |f| %>  
      <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Id:</label>
            <div class="col-lg-10">
              <%= f.text_field :employee_id, :class => "form-control", :placeholder =>"Enter Emp Id", :data => {:error => " Please Enter valid Employee Id"}, :required =>true %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
              <%= f.select( :title, options_for_select([['Mr', 'Mr'], ['Mrs', 'Mrs'], ['Miss', 'Miss']]),{}, :class => "form-control") %>
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
              <%= f.text_field :first_name,:class => "form-control ", :id => "basicinput", :placeholder=>"Enter First name",:data => {:error => " Please Enter valid Employee First Name"}, :required =>true, :pattern => '[a-zA-Z\s ]*' %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
              <%= f.text_field :last_name,:class => "form-control ", :id => "basicinput", :placeholder => "Enter Last name",:data => {:error => " Please Enter valid Employee Last Name"},:required =>true, :pattern => '[a-zA-Z\s ]*'  %> 
						  <span class="help-block with-errors"></span>   
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Date Of Joining</label>
            <div class="col-lg-10">
             <%= text_field :employee, :date_of_join, :placeholder=>"Enter Date Of Joining", :class => "datepicker form-control ", :placeholder => "Enter Last name",:data => {:error => " Please Enter valid Employee Joinh dateName"}, :required =>true %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
         <% a = []%>
                   <%  JobLocation.all.each do |j| 
                    b=[]
                    b << j.address.city 
                    b << j.id
                    a << b
                   end  %>        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Job Location</label>
            <div class="col-lg-10">
               <%= f.select :job_location_id, a,  { :prompt => "Please Select" }, { :class => "job_location form-control ", :id => "disabledSelect" } %>
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Blood Group</label>
            <div class="col-lg-10">
              <%= f.collection_select :blood_group_id, BloodGroup.all, :id, :blood_group_name, { :prompt => "Please Select" }, { :class => "blood_group form-control ", :id => "disabledSelect" } %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Mobile Number</label>
            <div class="col-lg-10">
              <%= f.text_field :mobile_number, :class => "form-control ", :id => "basicinput", :placeholder=>"Enter Mobile No",:data => {:error => " Please Enter valid Employee Mobile Number", :minlength => "10", :maxlength => "10"}, :required =>true, :type => "number" %> 
              <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Email Id</label>
            <div class="col-lg-10">
              <input class="form-control" placeholder="Enter Email id", name="email", value=<%= @employee.user.email %> disabled >
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Alternate E-Mail</label>
            <div class="col-lg-10">
             <%= f.text_field :alternate_email, :class=>"form-control", :placeholder=>"Enter Alternate Email",:data => {:error => " Please Enter valid Employee Alternate Email"}, :required =>true, :pattern => '^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$' %>
                      <span class="help-block with-errors"></span> 
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Reporting Manager</label>
            <div class="col-lg-10">
              <input type="text" id="reporting" class ="form-control", name= "reporting" , place_holder = "Enter Reporting Manager Name" data-error="Please Enter valid Employee Reporting Manager" required>
              <input type="hidden" id="reporting_id"  name= "reporting_id"> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Father Name</label>
            <div class="col-lg-10">
              <%= f.text_field :father_name, :class => "form-control", :id =>"basicinput",  :placeholder=>"Enter Father name",:data => {:error => " Please Enter valid Employee Father Number"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
              <span class="help-block with-errors"></span> 
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Gender</label>
            <div class="col-lg-10">
               <%= f.select(:gender, options_for_select([['Male', 'Male'], ['Female', 'Female']], :selected => f.object.gender), {}, :class=> "form-control", :id=>"disabledSelect") %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Date Of Birth</label>
            <div class="col-lg-10">
              <%= f.text_field :date_of_birth, :placeholder=>"Enter Date Of Birth", :class=>"datepicker_with_year form-control", :data => {:error => " Please Enter valid Employee Date Of Birth"}, :required =>true %> 
              <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
            <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Department</label>
            <div class="col-lg-10">
              <%= f.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments form-control", :id => "disabledSelect1" } %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Designation</label>
            <div class="col-lg-10">
              <%= f.grouped_collection_select :designation_id, Department.all, :designations, :department_name,  :id, :designation_name, { :prompt => "Please Select" }, { :class => "designation form-control", :id=>"disabledSelect"  } %>  
             <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
      
      <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Grade/Level</label>
            <div class="col-lg-10">
              <%= f.grouped_collection_select :grade_id, Designation.all, :grades, :designation_name,  :id, :value, { :prompt => "Please Select" }, { :class => "grades form-control", :id=>"disabledSelect"  } %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Employment Status</label>
            <div class="col-lg-10">
              <%= f.select(:employment_status, options_for_select([['New', 'New'], ['Internship', 'Internship'], ['Regular', 'Regular'], ['F&F', 'F&F']], :selected => f.object.employment_status ), {}, :class=> "form-control") %>
              <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
      
      <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Devise Id</label>
            <div class="col-lg-10">
              <%= f.text_field :devise_id,:class => "form-control ", :id => "basicinput", :placeholder=>"Enter Devise Id",:data => {:error => " Please Enter Employee Devise Id"}, :required =>true %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label"> Work Shift</label>
            <div class="col-lg-10">
              <%= f.collection_select :shift_id, Shift.all, :id, :name, { :prompt => "Please Select" }, { :class => "shifts form-control", :id => "disabledSelect2" } %> 
              <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
      
      <div class ="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label  class="col-lg-2 control-label">Group</label>
            <div class="col-lg-10">
              <%= f.collection_select :group_id, Group.all, :id, :group_name, { :prompt => "Please Select" }, { :class => "groups form-control"} %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-6">
           <div class="form-group">
            <label  class="col-lg-2 control-label">Employee Display Picture</label>
            <div class="col-lg-10">
              <%= f.file_field :avatar,:onchange =>"validateFiles(this);",:data => {:max_file_size => 5.megabytes, :error => " Please upload valid photo"}, :required =>true %>
              <span class="help-block with-errors"></span>
            </div>
         </div>
        </div>   
      </div>
      
      	<button type="submit" class="btn btn-success edit">Save & Continue</button>	
    <% end %>
  </div>
</div>				

<script>
 $(function(){
 $(".edit-employee-form").validator();
             });  
</script>    							
                           
          <script>
            $(document).ready(function() {
              $("#reporting_id").val('<%= @employee.reporting_managerId if ReportingManager.find_by_employee_id(@employee.id).present? %>');
              $("#reporting").val("<%= @employee.reporting_manager %>");
                  });
          </script>
          
          <script>
             
$(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
  
    $(function() {
    $( ".datepicker_with_year" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "-100:+0",
      dateFormat: 'dd/mm/yy',
       maxDate: -0
    });
  });

    var designations = $('.designation').html();
    
    $('#disabledSelect1').change(function() {
     var department = $('#disabledSelect1 :selected').text();
     var  options = $(designations).filter("optgroup[label='"+department+"']").html();
    
     
      if (options) {
        $('.designation').html(options);
        $('.designation').parent().show();
        }
      else {
        $('.designation').empty();
        $('.designation').parent().hide();
        }
    
    });
    
            
    var grades =  $('.grades').html();
    $('.designation').change(function() {
     var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
        $('.grades').html(gradeoptions);
        $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      //$('.grades').parent().hide();
      }
    });
    
 </script>
 
   <script>
  $(function() {
  var availableTags = [];
  $.get( "/getAllEmployees.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       //alert(val["id"]+" - "+val["value"]);
      });
  });
  
       $( "#reporting" ).autocomplete({
        minLength: 2,
        source: availableTags,
        focus: function( event, ui ) {
        $( "#reporting" ).val( ui.item.value );
        return false;
        },
        select: function( event, ui ) {
        $( "#reporting" ).val( ui.item.value );
        $( "#reporting_id" ).val( ui.item.id );
        return false;
        }
        })
  });
  </script>
  
  <script>
    $(function(){
         var department = $('#disabledSelect1 :selected').text();
             var  options = $(designations).filter("optgroup[label='"+department+"']").html();
            
             
              if (options) {
                $('.designation').html(options);
                $('.designation').parent().show();
                }
              else {
                $('.designation').empty();
                $('.designation').parent().hide();
                }
                
                  var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
        $('.grades').html(gradeoptions);
        $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      //$('.grades').parent().hide();
      }
            
    });
  </script>
  
   <script>
function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png", "JPG", "PNG", "JPEG", "GIF"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>
          
