
<!--  Employee.where('first_name like ? OR  last_name like ? ', "n%", "n%").map(&:first_name)
-->

              <!-- page start-->
              <ul class="directory-list">
                  <li><a href="/employees?name=a" data-remote=true>a</a></li>
                  <li><a href="/employees?name=b" data-remote=true>b</a></li>
                  <li><a href="/employees?name=c" data-remote=true>c</a></li>
                  <li><a href="/employees?name=d" data-remote=true>d</a></li>
                  <li><a href="/employees?name=e" data-remote=true>e</a></li>
                  <li><a href="/employees?name=f" data-remote=true>f</a></li>
                  <li><a href="/employees?name=g" data-remote=true>g</a></li>
                  <li><a href="/employees?name=h" data-remote=true>h</a></li>
                  <li><a href="/employees?name=i" data-remote=true>i</a></li>
                  <li><a href="/employees?name=j" data-remote=true>j</a></li>
                  <li><a href="/employees?name=k" data-remote=true>k</a></li>
                  <li><a href="/employees?name=l" data-remote=true>l</a></li>
                  <li><a href="/employees?name=m" data-remote=true>m</a></li>
                  <li><a href="/employees?name=n" data-remote=true>n</a></li>
                  <li><a href="/employees?name=o" data-remote=true>o</a></li>
                  <li><a href="/employees?name=p" data-remote=true>p</a></li>
                  <li><a href="/employees?name=q" data-remote=true>q</a></li>
                  <li><a href="/employees?name=r" data-remote=true>r</a></li>
                  <li><a href="/employees?name=s" data-remote=true>s</a></li>
                  <li><a href="/employees?name=t" data-remote=true>t</a></li>
                  <li><a href="/employees?name=u" data-remote=true>u</a></li>
                  <li><a href="/employees?name=v" data-remote=true>v</a></li>
                  <li><a href="/employees?name=w" data-remote=true>w</a></li>
                  <li><a href="/employees?name=x" data-remote=true>x</a></li>
                  <li><a href="/employees?name=y" data-remote=true>y</a></li>
                  <li><a href="/employees?name=z" data-remote=true>z</a></li>
              </ul>
              <div class="directory-info-row">
              <div class="row">
                <% if @employees.present? %>
                  <% @employees.each do |employee| %>
                  <div class="col-md-6 col-sm-6">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="media">
                                  <a class="pull-left" href="#">
                                      
                                         <% if employee.present? && employee.avatar_url.present? %>
                                            <%= image_tag employee.avatar_url, :class=>"thumb media-object", :style => "height:175px;width:175px" %> 
                                          <% else %>
                                            <% if employee.gender == "Female" %>
                                              <%= image_tag "1.jpg", :class=>"thumb media-object", :style => "height:175px;width:175px" %> 
                                            <% else %>
	                                            <%= image_tag "user.png", :class=>"thumb media-object", :style => "height:175px;width:175px" %> 
                                            <% end %>
                                          <% end %>         
                                  </a>
                                  <div class="media-body">
                                       <h4><%= link_to employee.full_name,  profile_employee_path(employee) %><span class="text-muted small"> <% if employee.designation.present? %> - <%= employee.designation.designation_name if employee.designation.present? %><% end %></span></h4>
                                      <!--<ul class="social-links">
                                          <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                          <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                          <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                      </ul>-->
                                      <address>
                                          <strong><%= employee.user.email%></strong><br>
                                          <% if employee.designation.present? %>
                                            <i class="fa fa-cog"></i> <%= employee.designation.designation_name if employee.designation.present? %><br>
                                          <% end %>
                                          <% if employee.blood_group.present? %> 
                                            <i class="fa fa-tint"></i> <%= employee.blood_group.blood_group_name if employee.blood_group.present? %><br>
                                          <% end %>
                                          <i class="fa fa-gift"></i> <%= format_date_without_year(employee.date_of_birth) %> <br>
                                          <i class="fa fa-phone"></i> <%= employee.mobile_number %>
                                      </address>


                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <% end %>
             <% else %>
             <div class="panel-body">
               <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                   No Employee(s)  found
               </div>             
             </div>
             <% end %>
           </div>
          </div>
            

