
<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head" style="background-color: #82B4E6 ">
              <h3>All Members
                <%= current_user.employee.role.role_name if current_user.employee.role.present? %> Dashboard
              </h3>
            </div><br>
            <div class="module-body table" style="width:98%">                                                                                  								
              <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table  table-striped	 display" width="100%">
                <thead>
                 <tr>
                  <th >Employees</th>                                   									                 	                  										      		
                </tr>
                </thead>
                <tbody>	                										                        
                  <% tdcount = 0 %>
                    <% @employees.each do |employee| %>
                    <% tdcount = tdcount+1 %>
                    <% if tdcount%2 == 1 %>
                    <div class="row-fluid">
                    <tr>
                    <% end %>
                    <td> 
                      <div class="span6"><%= employee.full_name %>'s Profile 
                      <a class="media-avatar pull-left" href="#">                                               
                      <% if employee.present? && employee.avatar_url.present? %>
                      <%= image_tag employee.avatar_url %> 
                      <% else %>
                      <% if employee.gender == "Male" %>
                      <img src="/assets/user.png" stle="width:70px;height:20px;"> 
                      <% else %>
                      <img src="/assets/1.jpg" stle="width:70px;height:20px;">
                      <% end %>
                      <% end %>                                               
                    </a>
                      <div class="media-body">
                        <div class="style">
                          <h5 class="media-title">
                            <% if current_user.department == Department::HR %>
                            <%= link_to employee.full_name , profile_path(employee) %>
                            <% else %>
                            <%= link_to employee.full_name , "#employeeProfileModal", :class => "employee-popup",  :url => profile_employee_path(employee), :iid => employee.id,  "data-toggle" => "modal" , :id => "employee_#{employee.id}" %>
                            <% end %>
                          </h5>
                          <br>                                                                                              
                          <ul style="list-style-type: none;">
                            <li><i class="icon-suitcase"></i> <%= employee.designation.designation_name if employee.designation.present? %> </li>
                            <li><i class="icon-envelope"></i> <%= employee.user.email if employee.user.present? %></li>
                            <li><i class="icon-phone"></i> <%= employee.mobile_number %></li>
                            <li><i class="icon-map-marker"></i> <%= employee.job_location.address.city %></li>
                          </ul> 
                        </div>                                         
                      </div><!--/.media-body-->
                    </div>
                   <td>
                    <% if tdcount%2 == 0 %>
                    </div><br><!--/.row-fluid-->
                    <% end %>
                    <% end %>        
                    <% if tdcount%2 == 1 %>
                     </tr><br>
                    <% end %>                       									                 	                  										   

                </tbody>
                <br>			                
               </table>                   
            </div>              
          <div class="pagination pagination-centered">                      
          <!--<%# paginate @total_employees, :remote => true %>-->                       
          </div>	
          </div>
          </div>
          </div><!--/.module-->
        </div><!--/.content-->                    
      </div><!--/.span9-->                
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->



 




  <script>
	$(document).ready(function() {
		$('.datatable-2').dataTable();
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>

<script type="text/javascript">
  $('.employee-popup').click(function(){ 
      var employee_id = $(this).attr("iid");
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        data: {employee_id: employee_id},
        dataType: "script"
        });
  });
</script>    
