<% if @employees.present? %>
  <div class="adv-table">
    <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
      <thead>											      
        <tr>
          <th>Photo</th>
          <th>Amzur-ID</th>
          <th>Employee Name</th>
          <th>Email-id</th>
          <th>Designation</th>
          <th>Department</th>		
          <th>Group</th>	
          <th>Manager</th>          									                 	                  										      		
        </tr>
      </thead>											                  	                                   			
      <tbody>
        <!-- loop for iterating employees list -->
        <% @employees.each do |employee| %>
        <tr class="gradeA">
          <td>
            <% if employee.present? && employee.avatar_url.present? %>
              <%= image_tag employee.avatar_url, :width => "60px", :height => "60px" %> 
            <% else %>
              <% if employee.gender == "Female" %>
                <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
              <% else %>
	              <%= image_tag "user.png", :width => "60px", :height => "60px" %> 
              <% end %>
            <% end %>
          </td>
          <td><%= employee.employee_id if employee.employee_id.present? %></td>                          
          <td>
              <%= link_to employee.full_name , profile_path(employee) %>                        
          </td>
          <td><%= employee.user.email if employee.user.present? %></td>
          <td><%= employee.designation.designation_name if employee.designation.present? %></td>
          <td><%= employee.department.department_name %></td>
          <td><%= employee.group.group_name %></td>
          <td><%= employee.reporting_manager %></td>
        </tr>	
      <%end%>											                   
      </tbody>												                 
    </table> 
  </div>
<% else %>
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       Dont have Inactive Employees Record
  </div>
<% end %>

