<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        My Self Description
      </div>
      
      <div class="panel-body">
        <%= form_tag  employee_self_description_create_employee_path(@employee), :remote => true, method: :patch do %>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Description</label>
              <div class="col-lg-8">
                <%= text_area_tag 'self_description', @employee.self_description, :style => "width: 650px;", required: true%>
                <span class="help-block with-errors"></span>   
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Personal Interests</label>
              <div class="col-lg-8">
                <%= text_area_tag  'interests', @employee.interests, :style => "width: 650px;", required: true%>
                <span class="help-block with-errors"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Personal Skill</label>
              <div class="col-lg-8">
                <input type="text"  class = "term_skill form-control", name= "skills" , place_holder = "Enter Reporting Manager Name" data-error="Please Enter valid Skill" >
                <input type="hidden" name="hidden_skill" class="hidden_skill">
                <span class="help-block with-errors"></span>
                <span id="advanced_search_box"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Existing Skill</label>
              <% @skills.each do |skill|%>
                <input value="<%= skill %>" class="btn btn-success span1" style="color:black" disabled>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-success" data-remote="true"> Save </button>
              <%= link_to 'Cancel', employee_self_description_show_employee_path(@employee), :class=>"btn btn-danger", :remote => true %>
            </div>
          </div>            
        <% end %>
      </div><!--/.module-body-->
    </div><!--/.module-->
  </div>
</div>

<script>
  $(function() {
  var availableTags = [];
  $.get( "/getAllSkills.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       //alert(val["id"]+" - "+val["value"]);
      });
  });
  
       $( ".term_skill" ).autocomplete({
        minLength: 2,
        source: availableTags,
        focus: function( event, ui ) {
        $(".term_skill").val("");
        if ($(".hidden_skill").val() == ""){
          $(".hidden_skill").val(ui.item.label);
          span = get_box(ui.item.label);
          $('#advanced_search_box').append(span);
        }
        else{
        var hidden_skill_array = $(".hidden_skill").val().split(", ");
        var contain_skill_or_not = (hidden_skill_array.indexOf(ui.item.label) > -1);
         if (contain_skill_or_not == false){
          var skills = $(".hidden_skill").val()+", "+ui.item.label;
          $(".hidden_skill").val(skills)
           span = get_box(ui.item.label);
          $('#advanced_search_box').append(span);
          }
        }
        //alert($( ".term_skill" ).val());
         $("#search_form").submit();
        return false;
        }
        });
        
        function get_box(text){
    return "<span style='margin:5px;margin-left:0px;min-width: 40px;color: #FFF !important;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #36ACD1;background-image: -moz-linear-gradient(top, #3FC6F2, #36ACD1);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3FC6F2), to(#36ACD1)); background-image: -webkit-linear-gradient(top, #3FC6F2, #36ACD1);background-image: -o-linear-gradient(top, #3FC6F2, #36ACD1); background-image: linear-gradient(to bottom, #3FC6F2, #36ACD1);background-repeat: repeat-x;border-color: #3FC6F2 #30A1C4 #36ACD1; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = &#39;#ff0088cc&#39;, endColorstr = &#39;#ff0044cc&#39;, GradientType = 0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);' class='btn btn-primary' onclick='$(this).hide();remove_skill(&#39;"+text+"&#39;);'>"
    +text+" <span style='text-shadow: 0 1px 0 #FFF;opacity: 0.3;'> X</span></span>"
  }
  
function remove_skill(text){
    var all_skills=$(".hidden_skill").val().split(", ");
    all_skills=jQuery.unique(all_skills);
    all_skills = jQuery.grep(all_skills, function(value) {
        return value != text;
    });
    all_skills = all_skills.join(", ");
    $(".hidden_skill").val(all_skills);
  }

  });
  </script>
  
  
  
 
