<div class="directory-info-row">
  <div class="row">                                             
      <div class="panel panel-info">
        <div class="panel-heading">
          All Members
          <%= current_user.employee.role.role_name if current_user.employee.role.present? %> Dashboard 
        </div>
        <div class="panel-body">
        <% if @employees.present? %>
          <% @employees.each do |employee| %>
            <div class="col-md-6 col-sm-6">
              <div class="panel">
                <div class="panel-body">
                  <div class="media">
                  <a class="pull-left" href="#">
                    <% if employee.present? && employee.avatar_url.present? %>
                      <%= image_tag employee.avatar_url, class: "thumb media-object"%> 
                    <% else %>
                      <% if employee.gender == "Female" %>
                        <%= image_tag "1.jpg", class: "thumb media-object" %> 
                      <% else %>
                        <%= image_tag "user.png", class: "thumb media-object" %> 
                      <% end %>
                    <% end %>
                  </a>
                  <div class="media-body">
                    <% if current_user.department == Department::HR %>
                      <h3><%= link_to employee.full_name , profile_path(employee) %><span class="text-muted small"> - <%= employee.designation.designation_name if employee.designation.present? %></span></h3>
                    <% else %>
                        <%= link_to employee.full_name , "#employee-modal", :class => "employee-popup",  :url => profile_employee_path(employee), :iid => employee.id,  "data-toggle" => "employee_modal" , :id => "employee_#{employee.id}" %><span class="text-muted small"> - <%= employee.designation.designation_name if employee.designation.present? %></span></h4>
                    <% end %>
                  <address>
                    <strong><%= employee.user.email if employee.user.present? %></strong><br>
                    <%= employee.job_location.address.city if employee.job_location.present? %><br>
                    <abbr title="Phone">Phone:</abbr><%= employee.mobile_number %>
                  </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
     </div> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.employee-popup').click(function(){ 
      var employee_id = $(this).attr("iid");
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        data: {employee_id: employee_id},
        dataType: "script"
        });
  });
</script> 

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="employee-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Form Tittle</h4>
      </div>
      <div class="modal-body event_show_body">
      </div>
    </div>
  </div>
</div>


