       <div class="media user" style="background-color:#fff;">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="color:red;">&times;</span><span class="sr-only" style="color:red;"> Close</span></button><br>
            <a href="#" class="media-avatar pull-left">
              <% if @employee.present? && @employee.avatar_url.present? %>
                <%= image_tag(@employee.avatar_url) %> 
               <% else %>
                  <img src="/assets/user.png"> 
            <% end %></a>
              <div class="media-body">
                <h4>
                <%= @employee.title %>.<%= @employee.full_name %>
                </h4>
                <p class="profile-brief">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's 
                </p>
                <div class="profile-details muted">
                  <i class="icon-suitcase"></i>  <%= @employee.designation.designation_name if @employee.designation.present? %><br>
                  <i class="icon-phone"></i> <%= @employee.mobile_number %><br>
                  <i class="icon-envelope-alt shaded"> </i> <%= @employee.user.email %><br>
                  <i class="icon-map-marker"></i> <%= @employee.job_location.address.city %><br>
                </div>        
            </div><hr>
         </div>                  
      </div>
      <br>
      <div class="modal-body" style="background-color:#fff;">
        <div class="module-head">
           <h3> Basic Info</h3>
        </div><br>
         <div class ="row-fluid">
          
            <div class="span5">	
              <div class="control-group">
                <label class="control-label" for="basicinput">Date Of Joining : <%=format_date (@employee.date_of_join) %></label>  
              </div>
            </div>        
            <div class="span5">	
              <div class="control-group">
                <label class="control-label" for="basicinput">Date Of Birth:  <%= format_date (@employee.date_of_birth) %></label>  
              </div>
            </div>
         </div>
         
         <div class ="row-fluid">
            <div class="span5">		
              <div class="control-group">
                <label class="control-label" for="basicinput">Blood Group: <%= @employee.blood_group.blood_group_name%> </label>
              </div>
            </div>
            <% if @employee.emergency_contacts.present? %>
            <div class="span5">		
              <div class="control-group">Emergency Contact:
                <label class="control-label" for="basicinput"> 
                Person:<%= @employee.emergency_contacts.first.name %><br/>
                Number:<%= @employee.emergency_contacts.first.mobile1 %></label>
              </div>
            </div>
           <% end %>
         </div>
      </div>
     </div>  
     
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
