
  <div class="panel panel-info">
    <div class="panel-heading"> Basic Info
        <% if current_user.department == Department::HR %>
          <i class="fa fa-edit pull-right" style="margin-top:3px;" ></i><%= link_to " Edit ", edit_employee_path(@employee),:class=>"pull-right", :remote => true %>
        <% end %>
    </div>
    <div class="panel-body bio-graph-info">
        
        <div class="row">
            <div class="bio-row">
                <p><strong>Job Location </strong>: <%= @employee.job_location.address.city if @employee.job_location.present? %></p>
            </div>
            <div class="bio-row">
                <p><strong>Department </strong>: <%= @employee.department.department_name if @employee.department.present? %></p>
            </div>
            <div class="bio-row">
                <p><strong>Alternate E-Mail </strong>: <%= @employee.alternate_email %></p>
            </div>
            <div class="bio-row">
                <p><strong>R Manager</strong>: <%= Employee.find(@report.manager_id).full_name if @report.present? && @report.manager_id? %></p>
            </div>
            <div class="bio-row">
                <p><strong>Date Of Joining</strong>: <%= format_date (@employee.date_of_join) %></p>
            </div>
            <div class="bio-row">
                <p><strong>Grade/Level </strong>: <%= @employee.grade.value if @employee.grade.present? %></p>
            </div>
            <div class="bio-row">
                <p><strong>Date Of Birth </strong>: <%= format_date (@employee.date_of_birth) %></p>
            </div>
            <div class="bio-row">
                <p><strong>Gender </strong>: <%= @employee.gender %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Father Name </strong>: <%= @employee.father_name %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Blood Group </strong>: <%= @employee.blood_group.blood_group_name if @employee.blood_group.present?  %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Employment Status </strong>: <%= @employee.employment_status %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Work Shift </strong>: <%= @employee.shift.name if @employee.shift.present? %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Group </strong>: <%= @employee.group.group_name if @employee.group.present? %>  </p>
            </div>
            <div class="bio-row">
                <p><strong>Device Id </strong>: <%= @employee.devise_id %>  </p>
            </div>
        </div>      
     </div>
  </div>

                                                	                                       
   
