
                                         <div class="module-head"><h3>Basic Info</h3></div>                                                                           
                                         <% if current_user.department == Department::HR %>
                                         <label style="font-weight:normal;margin-top:-30px;" class="pull-right"><a><i class="icon-edit"></i></a> <%= link_to "Edit", edit_employee_path(@employee), :remote => true %></label>
                                        <% end %>
                                       <div class="module-body " style="margin-left:100px;">	                                       
                                        <div class ="row-fluid">
				                                  <div class="span5">		
						                                <div class="control-group">
							                                <label class="control-label" for="basicinput">Employee Id: <%= @employee.employee_id %> </label>
						                                </div>
					                                </div>
					                                <div class="span5">	
						                                <div class="control-group">
							                                <label class="control-label" for="basicinput">Date Of Joining: <%= @employee.date_of_join %></label>  
							                              </div>
						                               </div>
					                                </div><hr>	
				                                
			                                    <div class ="row-fluid">
			                                      <div class="span5">		
					                                    <div class="control-group">
						                                    <label class="control-label" for="basicinput">Job Location: <%= @employee.job_location.address.city if @employee.job_location.address.present? %> </label>
					                                   </div>
				                                   </div>
				                                   <div class="span5">	
					                                   <div class="control-group">
						                                   <label class="control-label" for="basicinput">Blood Group: <%= @employee.blood_group.blood_group_name %></label>
						                                </div>
					                                 </div>
				                                 </div><hr>
				                                 
				                                 <div class ="row-fluid">
			                                      <div class="span5">		
					                                    <div class="control-group">
						                                    <label class="control-label" for="basicinput">Alternate E-Mail: <%= @employee.alternate_email %> </label>
					                                   </div>
				                                   </div>
				                                   <div class="span5">	
					                                   <div class="control-group">
						                                   <label class="control-label" for="basicinput"> Reporting Manager: <%= Employee.find(@report.manager_id).full_name if @report.present? && @report.manager_id? %> </label>
						                                </div>
					                                 </div>
				                                 </div><hr>		
				                                 
				                                 <div class ="row-fluid">
			                                      <div class="span5">		
					                                    <div class="control-group">
						                                    <label class="control-label" for="basicinput">Father Name: <%= @employee.father_name %> </label>
					                                   </div>
				                                   </div>
				                                   <div class="span5">	
					                                   <div class="control-group">
						                                   <label class="control-label" for="basicinput"> Gender: <%= @employee.gender %> </label>
						                                </div>
					                                 </div>
				                                 </div><hr>		
				                                				
				                                 <div class ="row-fluid">
			                                      <div class="span5">		
					                                    <div class="control-group">
						                                    <label class="control-label" for="basicinput">Date Of Birth:  <%= @employee.date_of_birth %> </label>
					                                   </div>
				                                   </div>
				                                   <div class="span5">	
					                                   <div class="control-group">
						                                   <label class="control-label" for="basicinput"> Department: <%= @employee.department.department_name %> </label>
						                                </div>
					                                 </div>
				                                 </div><hr>	  				
				                                								                                								                                						                             <div class ="row-fluid">
			                                      <div class="span5">
			                                        <div class="control-group span4">
										                            <label class="control-label" for="basicinput">Grade/Level: <%= @employee.grade.value %></label>        
									                            </div>
																	         </div> 
																	      </div>  
																	            
									                  </div><!--/.module-body-->                               


