
<div class="module-head"><h3>Basic Info</h3></div>                                                 
  <% if current_user.department == Department::HR %>
  <label style="font-weight:normal;margin-top:-30px;" class="pull-right"><a><i class="icon-edit"></i></a><%= link_to " Edit ", edit_employee_path(@employee), :remote => true %></label>
  <% end %>
   <div class="module-body " style="margin-left:100px;">	                                       
    <div class ="row-fluid">
      <div class="span5">		
        <div class="control-group">
          <label class="control-label" for="basicinput"><strong>Job Location: </strong> <%= @employee.job_location.address.city if @employee.job_location.present? %> </label>          
          <!--<label class="control-label" for="basicinput">Employee Id: <%# @employee.employee_id %> </label>-->
        </div>
      </div>
      <div class="span5">	
        <div class="control-group">
          <label class="control-label" for="basicinput"><strong>Department: </strong><%= @employee.department.department_name %> </label>           
        </div>
       </div>
      </div><hr>	
    
      <div class ="row-fluid">
        <div class="span5">		
          <div class="control-group">
            <label class="control-label" for="basicinput"><strong>Alternate E-Mail: </strong><%= @employee.alternate_email %> </label>  
          </div>
       </div>
       <div class="span5">	
         <div class="control-group">
           <label class="control-label" for="basicinput"> <strong>Reporting Manager: </strong><%= Employee.find(@report.manager_id).full_name if @report.present? && @report.manager_id? %> </label>           
        </div>
       </div>
     </div><hr>
     
     <div class ="row-fluid">
        <div class="span5">		
          <div class="control-group">
            <label class="control-label" for="basicinput"><strong>Date Of Joining: </strong><%= format_date (@employee.date_of_join) %></label>  
          </div>
       </div>
       <div class="span5">	
         <div class="control-group">
           <label class="control-label" for="basicinput"><strong>Grade/Level: </strong> <%= @employee.grade.value if @employee.grade.present? %></label>   
         </div>
       </div>
     </div><hr>		
     
     <div class ="row-fluid">
        <div class="span5">		
          <div class="control-group">
            <label class="control-label" for="basicinput"><strong>Date Of Birth:  </strong><%= format_date (@employee.date_of_birth) %> </label>            
         </div>
       </div>
       <div class="span5">	
         <div class="control-group">
           <label class="control-label" for="basicinput"><strong>Gender: </strong> <%= @employee.gender %> </label>
        </div>
       </div>
     </div><hr>		
    				
     <div class ="row-fluid">
        <div class="span5">		
          <div class="control-group">
            <label class="control-label" for="basicinput"><strong>Father Name: </strong><%= @employee.father_name %> </label>  
          </div> 
       </div>
       <div class="span5">	
         <div class="control-group">
           <label class="control-label" for="basicinput"><strong>Blood Group: </strong> <%= @employee.blood_group.blood_group_name %></label>  
         </div>
       </div>
     </div><hr>	
     
     <div class ="row-fluid">
        <div class="span5">		
          <div class="control-group">
            <label class="control-label" for="basicinput"><strong>Employment Status: </strong><%= @employee.employment_status %> </label>  
          </div> 
       </div> 
       <div class="span5">	
         <div class="control-group">
           <label class="control-label" for="basicinput"><strong>Shift: </strong> <%= @employee.shift.name if @employee.shift.present? %></label>  
         </div>
       </div> 				
    	 </div>	<hr>					                                								                                						                           
          
</div><!--/.module-body-->                               


