

<div id="page-wrapper">
                <div class="row">
                    <div class="page-header">
                      Attachment Info
                    </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-body">                                                                         
                          <%= form_for(@employee, :html => {:multipart => true}) do |f| %> 
                          <div class="col-lg-6">
                            <div class="form-group">
                             <%= fields_for :employee_attachments do |f| %>
                               <div class="form-group" >
                                  <label class="required" >
                                     Attachment Title:
                                  </label><br>                                          
                                  <%= f.text_field :attachment_name, :class => "form-control", name: "employee_attachments[attachment_name][]" %>  
                               </div>
                               <div class="form-group">
                                   <label class="required">
                                      Upload File
                                   </label><br>
                                   <%= f.file_field :attachment, :multiple => true, name: "employee_attachments[attachment][]" %>
                               </div>                    
                               <span id="add_attachment_field" ></span><br>
                               <span id='add_field'><a href="#"><i class="fa fa-icon fa-plus"></i></a> </span>                                          
                               <% end %>

                            </div>
                               <ul class="navigation-btns pull-left" style="margin-left:-50px;">
                                  <li><%= f.submit  'Save', :class => "btn btn-success" %></li>               
                               </ul>  
                            <% end %>
                           </div>
                              <!-- /.form-group -->
                       </div>
                          <!-- /.panel body -->
                      </div>
                         <!-- /.panel default-->
                    </div>
                      <!-- /.col-lg-12 -->
                </div>

                   <!-- /.row (nested) -->                 
                       

                    <div class="panel panel-default">               
                      <div class="panel-heading">
                         Attachments List
                      </div>
									    <div class="panel-body">
									    <% if @emp_get_attachements.present? %>                    
										    <table class="table table-striped table-hover" id="sample-table-2">
                          <thead>
                            <tr>
                              <th>Attachment Title</th>
                              <th>Attachment</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @emp_get_attachements.each do |attachment| %>
                              <tr>
                                <td><%= attachment.attachment_name %></td> 
                                <td><%= link_to "Download", attachment.attachment_url,:action => :download,:target =>"_blank" %></td>
                                <td><%= link_to "Edit",  attachment_edit_employee_path(@employee.id, attachment.id), :class=>"btn btn-success " %>
                                <%= link_to "Delete",  attachment_destory_employee_path(@employee.id, attachment.id), :method => :delete, data: {confirm: "Are You sure?"},:class=>"btn btn-danger " %> </td>
                                 
                                 </tr>
                            <% end %>
                          </tbody>
                        </table>
                        <% else %>

                      <div class="alert alert-info alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            You have No Attachments to display.
                     </div>
                     <% end %>
                     </div>
                      <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                                
               </div>
                <!-- /#page wrapper -->
          
          
          <script>
$(function(){
   $("#add_field").click(function(){
    $("#add_attachment_field").append(
    "<span><label class='required'>Attachment Name</label><input class='form-control' id='employee_attachments_attachment_name' name='employee_attachments[attachment_name][]' type='text'><a onclick='$(this).parent().hide();' class='fa fa-icon fa-minus' style='float: right;'></a><br><label class='required'>Upload File</label><br><input id='employee_attachments_attachment' multiple='multiple' name='employee_attachments[attachment][]' type='file'></span>");
  });  
});
</script>




