

<div id="page-wrapper">
                <div class="row">
                    <div class="page-header">
                      Attachment Info
                    </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                              <div class="col-lg-3">                                                                     
                                 <%= form_for(@employee, :html => {:multipart => true}) do |f| %> 
                                   <div class="form-group">
                                      <%= fields_for :employee_attachments do |f| %>
                                       <div class="form-group">
                                          <label class="required" >Attachment Title</label>                                          
                                           <%= f.text_field :attachment_name, name: "employee_attachments[attachment_name][]" %>  
                                       </div>                    
                                       <div class="form-group">
                                       <label class="required" >Choose the File</label>
                                          <%= f.file_field :attachment, :multiple => true, name: "employee_attachments[attachment][]" %>
                                       </div>      
                                        <span id="add_attachment_field"></span>
                                        <span id='add_field'><a href="#"><i class="fa fa-icon fa-plus"></i></a> </span>                                          
                                         <% end %>

                                        </div>
                                        
                                        <br>
                                        <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                          <li><%= f.submit  'Save', :class => "btn btn-success pull-left" %></li>               
                                        </ul>  
                                       
                                   <% end %>
                                </div>
                                <!-- /.col-lg-3 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                        
                        
                    </div>
                    <!-- /.panel -->
                </div>
                
                
                
                <% if @emp_get_attachements.present? %>
                <div class="row" style="clear:both;margin-left: 20px;" >     
                   <table class="table table-bordered table-striped"  id="sample-table-2">
                    <thead>
                      <tr>

                        <th>Attachment Title</th>
                        <th>Attachment</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% @emp_get_attachements.each do |attachment| %>
                        <tr>
                          <td><%= attachment.attachment_name %></td> 
                          <td><%= link_to "Download", attachment.attachment_url %></td>
                          <td><%= link_to "Edit",  attachment_edit_employee_path(@employee.id, attachment.id), :class=>"btn btn-success " %>
                          <%= link_to "Delete",  attachment_destory_employee_path(@employee.id, attachment.id), :method => :delete, data: {confirm: "Are You sure?"},:class=>"btn btn-danger " %> </td>
                           
                           </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <% else %>

                      <div class="alert alert-info alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            You have No Attachments to display.
                     </div>
                     <% end %>
               </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
         </div>
          <!-- /#page wrapper -->
          
          
          <script>
$(function(){
   $("#add_field").click(function(){
    $("#add_attachment_field").append(
    "<span><label class='required'>Attachment Name</label><input class='form-group' id='employee_attachments_attachment_name' name='employee_attachments[attachment_name][]' type='text'><a onclick='$(this).parent().hide();' class='fa fa-icon fa-minus' style='float: right;'></a><input id='employee_attachments_attachment' multiple='multiple' name='employee_attachments[attachment][]' type='file'></span>");
  });  
});
</script>




