

<div id="page-wrapper">
                <div class="row">
                    <div class="page-header">
                      Attachment Info 
                    </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                         <div class="panel-body">   
                        <% @employee.errors.full_messages.each do |error| %>
                                        <!--<label class="col-lg-3"></label>-->
                                        <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                         <%= error %>
                                         </div>
                                      <% end %>                                      
                                     </div>                                   
                                  </div>                                                                      
                          <%= form_for(@employee, :html => {:multipart => true}, :data => {:toggle => "validator"}) do |f| %> 
                          <div class="col-lg-6">
                            <div class="form-group">
                             <%= fields_for :employee_attachments do |f| %>
                               <div class="form-group" >
                                  <label class="required" >
                                     Attachment Title:
                                  </label><br>                                          
                                  <%= f.text_field :attachment_name, :class => "form-control", name: "employee_attachments[attachment_name][]",:data => {:error => " Please Enter Attachment Title"},:required =>true %> <span class="help-block with-errors"></span>  
                               </div>
                               <div class="form-group">
                                   <label class="required">
                                      Upload File
                                   </label><br>
                                   <%= f.file_field :attachment, :multiple => true, name: "employee_attachments[attachment][]", :onchange =>"validateFiles(this);", :data => {:max_file_size => 5.megabytes}, :required =>true  %>
                                   
                                   
                               </div>                    
                               <span id="add_attachment_field" ></span><br>
                               <span id='add_field'><a href="#"><i class="fa fa-icon fa-plus">Add More</i></a> </span>                                          
                               <% end %>

                            </div>
                               <ul class="navigation-btns pull-left" style="margin-left:-50px;">
                                  <li><%= f.submit  'Save', :class => "btn btn-success" %></li>
                                  <li><%= link_to 'Cancel', attachment_index_employee_path(@employee), :class => "btn btn-danger" %></li               
                               </ul>  
                            <% end %>
                           </div>
                              <!-- /.form-group -->
                       </div>
                          <!-- /.panel body -->
                      </div>
                         <!-- /.panel default-->
                    </div>
                      <!-- /.col-lg-12 -->
                </div>

                   <!-- /.row (nested) -->                 
                       

                  
          
          <script>
$(function(){
   $("#add_field").click(function(){
    $("#add_attachment_field").append(
    "<span><label class='required'>Attachment Name</label><input class='form-control' id='employee_attachments_attachment_name' name='employee_attachments[attachment_name][]' type='text'><a onclick='$(this).parent().hide();' class='fa fa-icon fa-minus' style='float: right;'></a><br><label class='required'>Upload File</label><br><input id='employee_attachments_attachment' multiple='multiple' name='employee_attachments[attachment][]' type='file'></span>");
  });  
});
</script>


 <script>
function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png, .pdf, .ppt, .pptx, .doc, .docx, .zip, .rar, .txt, .xls is allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "txt", "rar", "pdf", "psd"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>






