  <div id="page-wrapper">
           <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Employee Details</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-lg-12" >
                                    <% @employee.errors.full_messages.each do |error| %>
                                        <!--<label class="col-lg-3"></label>-->
                                        <div class="alert alert-danger alert-dismissable">
                                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                           <%= error %>
                                         </div>
                                      <% end %>                                      
                                     </div>                                   
                                  </div>
                            <%= form_for @employee, :data => {:toggle => "validator"} do |f| %>
                              <div class="col-lg-12">
                                <div class="form-group col-lg-6">                                        
                                  <label class="required" >Employee Id</label>
                                  <%= f.text_field :employee_id, :class => "form-control", :placeholder =>"Enter Emp Id",:data => {:error => " Please Enter Employee Id"},:required =>true %> <span class="help-block with-errors"></span>       
                                </div>
                                        
                                <div class="form-group col-lg-6"">
                                  <label class="required">Title</label><br>                                           
                                  <%= f.select(:title, options_for_select([['Mr', 'Mr'], ['Mrs', 'Mrs']]), {}, :class=> "form-control", :id=>"disabledSelect") %>
                                </div>
                              </div>
                                        
                             <div class="col-lg-12">
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Employee First Name</label>
                                            <%= f.text_field :first_name, :class => "form-control",  :placeholder=>"Enter First name",:required =>true,:data => {:error => " Please Enter Employee First Name"},:required =>true, :pattern => '[a-zA-Z/s ]*' %> <span class="help-block with-errors"></span>        
                                        </div>
                                        
                                        <div class="form-group col-lg-6"">
                                            <label class="required" >Employee Last Name</label>
                                             <%= f.text_field :last_name, :class =>"form-control", :placeholder => "Enter Last name",:required =>true,:data => {:error => " Please Enter Employee Last Name"},:required =>true, :pattern => '[a-zA-Z/s ]*' %> <span class="help-block with-errors"></span>               
                                        </div>
                                        
                                 </div>
                                        <div class="col-lg-12">
																				<div class="form-group col-lg-6"">
                                            <label class="required">Date Of Joining</label>

                                            <%= f.text_field  :date_of_join, :placeholder=>"Enter Date Of Joining", :class=>"form-control datepicker", :data => {:error => " Please Enter Employee Date Of Joining"}, :required =>true %>

                                            <span class="help-block with-errors"></span>                                           
                                        </div>
                                        <% a = []%>
                                         <%  JobLocation.all.each do |j| 
                                          b=[]
                                          b << j.address.city 
                                          b << j.id
                                          a << b
                                         end  %>
                                   
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Job Location</label>

                                            <%= f.select :job_location_id, a,  { :prompt => "Please Select" }, { :class => "job_location, form-control", :id => "disabledSelect" } %>                                           

                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Blood Group</label><br>
                                             <%= f.collection_select :blood_group_id, BloodGroup.all, :id, :blood_group_name, { :prompt => "Please Select" }, { :class => "blood_group, form-control", :id => "disabledSelect" } %> 
                                        </div>
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Mobile Number</label>   
                                              <%= f.text_field :mobile_number, :class=>"form-control", :placeholder=>"Enter Mobile No", :data => {:error => " Please Enter Employee Mobile Number", :minlenght => "10", :maxlenght =>"10"}, :type =>"number", :required =>true %> <span class="help-block with-errors"></span>                       
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Email Id</label>
                                            <input class="form-control" placeholder="Enter Email id", name="email", value=<%= @employee.user.email %> disabled >
                                        </div>  
                                        <div class="form-group col-lg-6"">
                                            <label class="required">Alternate E-Mail </label>
                                             <%= f.text_field :alternate_email, :class=>"form-control", :placeholder=>"Enter Alternate Email", :data => {:error => " Please Enter Employee Alternate Email Id"}, :required =>true %> <span class="help-block with-errors"></span>
                                           
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="form-group col-lg-6"">
                                              <label class="required">Department</label><br>
                                              <%= f.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "department, form-control", :id => "disabledSelect1" } %>
                                          </div>
                                          
                                          <div class="form-group col-lg-6"">
                                              <label class="required">Designation</label><br>
                                               <%= f.grouped_collection_select :designation_id, Department.all, :designations, :department_name,  :id, :designation_name, { :prompt => "Please Select" }, { :class => "designation form-control", :id=>"disabledSelect"  } %>    
                                          </div>                                    
			                                </div>
			                                 <div class="col-lg-12">
                                          <div class="form-group col-lg-6"">
                                             <label class="required">Date Of Birth</label>

                                              <%= f.text_field :date_of_birth, :placeholder=>"Enter Date Of Birth", :class=>"form-control datepicker_with_year", :data => {:error => " Please Enter Employee Date Of Birth"},:required =>true %> <span class="help-block with-errors"></span> 

                                          </div>
                                                                                                                      
                                          
                                           <div class="form-group col-lg-6"">
                                              <label class="required">Gender</label><br>
                                               <%= f.select(:gender, options_for_select([['Male', 'Male'], ['Female', 'Female']]), {}, :class=> "form-control", :id=>"disabledSelect") %>
                                          </div>  
                                         </div>
                                        <div class="col-lg-12">                                      
                                          <div class="form-group col-lg-6"">
                                              <label class="required">Father Name</label>
                                              <%= f.text_field :father_name, :class => "form-control",  :placeholder=>"Enter Father name",:required =>true,:required =>true,:data => {:error => " Please Enter Employee Father Name"},:required =>true, :pattern => '[a-zA-Z/s ]*' %> <span class="help-block with-errors"></span>
                                                                                
                                          </div>   
                                          
                                                                            
                                          <div class="form-group col-lg-6"">


                                             <label class="required">Grade/Level</label><br>
                                              <%= f.grouped_collection_select :grade_id, Designation.all, :grades, :designation_name,  :id, :value, { :prompt => "Please Select" }, { :class => "grades form-control", :id=>"disabledSelect"  } %>

                                          </div> 
                                        </div>
                                        
                                        <div class="col-lg-12">
                                          <div class="form-group col-lg-6">

                                            <label class="required"> Reporting Manager</label><br>
                                            <input type="text" id="reporting" class = "form-control", name= "reporting" , place_holder = "Enter Reporting Manager Name" >
                                            <input type="hidden" name="employee[reporting_id]"  id= "reporting_id">
                                        </div> 
                                        
                                                                               
                                         <div class="form-group col-lg-6"">
                                            <label class="">Upload Image:</label><br>
                                            <%= f.file_field :avatar,:onchange =>"validateFiles(this);",:data => {:max_file_size => 5.megabytes}%>
                                         </div>  

                                           
                                        
                                  <button type="submit" class="btn btn-success pull-right">Save & Continue</button>
                                    <% end %>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>


         </div>
          <!-- /#page wrapper -->
          
          
          <script>
            $(document).ready(function() {
              $("#reporting_id").val('<%= @employee.reporting_managerId if ReportingManager.find_by_employee_id(@employee.id).present? %>');
              $("#reporting").val("<%= @employee.reporting_manager %>");
                  });
          </script>
          
          <script>
             
$(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' })
  });

            var designations = $('.designation').html();
            
            $('#disabledSelect1').change(function() {
             var department = $('#disabledSelect1 :selected').text();
             var  options = $(designations).filter("optgroup[label='"+department+"']").html();
            
             
              if (options) {
                $('.designation').html(options);
                $('.designation').parent().show();
                }
              else {
                $('.designation').empty();
                $('.designation').parent().hide();
                }
            
            });
            
            
    var grades =  $('.grades').html();
    $('.designation').change(function() {
     var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
        $('.grades').html(gradeoptions);
        $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      //$('.grades').parent().hide();
      }
    });
    
 </script>
 
   <script>
  $(function() {
  var availableTags = [];
  $.get( "/getAllEmployees.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       //alert(val["id"]+" - "+val["value"]);
      });
  });
  
       $( "#reporting" ).autocomplete({
        minLength: 0,
        source: availableTags,
        focus: function( event, ui ) {
        $( "#reporting" ).val( ui.item.value );
        return false;
        },
        select: function( event, ui ) {
        $( "#reporting" ).val( ui.item.value );
        $( "#reporting_id" ).val( ui.item.id );
        return false;
        }
        })
  });
  </script>
  
  <script>
    $(function(){
         var department = $('#disabledSelect1 :selected').text();
             var  options = $(designations).filter("optgroup[label='"+department+"']").html();
            
             
              if (options) {
                $('.designation').html(options);
                $('.designation').parent().show();
                }
              else {
                $('.designation').empty();
                $('.designation').parent().hide();
                }
                
                  var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
        $('.grades').html(gradeoptions);
        $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      //$('.grades').parent().hide();
      }
            
    });
  </script>
  
   <script>
function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png", "JPG", "PNG", "JPEG", "GIF"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>
          
