<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
             <div class="module-head" style="background-color: #82B4E6 ">
                <h3> List of Emloyees</h3>
              </div>                                                                                        
              <div class="module-body table">                                                                          								
                <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table  table-striped	 display" width="100%">
                  <thead>											      
                    <tr>
                      <th>Photo</th>
                      <th>Employee Name</th>
                      <th>Email-id</th>
                      <th>Designation</th>
                      <th>Department</th>		
                      <th>Contact No</th>	
                      <th>Manager</th>          									                 	                  										      		
                    </tr>
                  </thead>											                  	                                   			
                  <tbody>
                    <!-- loop for iterating employees list -->
                    <% @employees.each do |employee| %>
                    <% if employee.status == true %>
                    <tr class="gradeA">
                      <td>
                        <% if employee.present? && employee.avatar_url.present? %>
                        <%= image_tag employee.avatar_url, :width => "60px", :height => "60px" %> 
                        <% else %>
                        <% if employee.gender == "Male" %>
                        <img src="/assets/user.png" style ="width:60px;height:60px;"> 
                        <% else %>
                        <img src="/assets/1.jpg" style ="width:60px;height:60px;">
                        <% end %>
                        <% end %>
                      </td>                           
                      <td>
                          <%= link_to employee.full_name , profile_path(employee) %>                        
                      </td>
                      <td><%= employee.user.email if employee.user.present? %></td>
                      <td><%= employee.designation.designation_name if employee.designation.present? %></td>
                      <td><%= employee.department.department_name %></td>
                      <td><%= employee.mobile_number %></td>
                      <td><%= employee.reporting_manager %></td>
                    </tr>	
                    <%end%>	
                   <% end %>											                   
                   </tbody>												                 
                 </table>    
             </div><!-- module body-->
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->                    
      </div><!--/.span9-->                
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->

  
<script>
	$(document).ready(function() {
		$('.datatable-2').dataTable();
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>
  
 




