<div id="page-wrapper" >
            <br>
            
            <div class="row">               
                    <div class="panel panel-default">                  
                      <div class="panel-body">
                           <div class="border col-lg-12" >
                              <div class="page-header">
                                  Basic Info
                              </div>
                              <div class="form-group">
                                  <label style="font-weight:normal;"> Full Name:</label>
                                  <label><%= @employee.full_name %></label>                                                                          
                              </div>
                              <div class="form-group">
                                   <label style="font-weight:normal;">Designation:</label>
                                   <label><%= @employee.designation.designation_name unless @employee.designation_id.nil? %></label>
                              </div>
                              <div class="form-group">
                                  <label style="font-weight:normal;">Date Of Joining:</label>
                                  <label><%= @employee.date_of_join %></label>
                              </div>
                              <div class="form-group">
                                   <label style="font-weight:normal;">Date Of Birth:</label>
                                   <label><%= @employee.date_of_birth %></label>
                             </div>    
                              
                              <div class="form-group">                                            
                                  <label style="font-weight:normal;">Blood Group:</label>
                                  <label><%= @employee.blood_group.blood_group_name %></label>
                              </div>                                    
                              <div class="form-group">
                                   <label style="font-weight:normal;">Role:</label>
                                   <label><%= @employee.role.role_name %></label>
                              </div>                                         
                              <div class="form-group">
                                   <label style="font-weight:normal;">Department:</label>
                                   <label><%= @employee.department.department_name %></label>
                              </div> 
                           </div>
                           
                           
                           <div class="border col-lg-12">
                              <div class="page-header">
                                   Education & Experiance  Info
                              </div>
                              <div class="form-group">
                                    <label style="font-weight:normal;">Specilization:</label>
                                    <!--<label><%# @employee.education.specilization unless @employee.education_id.nil?%></label>-->
                              </div>
                              <div class="form-group">
                                    <label style="font-weight:normal;">Experiance:</label>
                                    <!--<label><%# @employee.education.specilization unless @employee.education_id.nil?%></label>-->
                              </div>
                           </div> 
                           <div class="border col-lg-12">
                               <div class="page-header">
                                     Contact Info
                                </div>
                                <div class="form-group">
                                     <label style="font-weight:normal;">Mobile Number:</label>
                                     <label><%= @employee.mobile_number %></label>                                           
                                </div>
                                <div class="form-group">
                                     <label style="font-weight:normal;">Alternate Email:</label>
                                     <label><%= @employee.alternate_email %></label> 
                                </div>            
                                <div class="form-group">
                                    <label style="font-weight:normal;">Job Location:</label>
                                    <% address = @employee.job_location.address%>
                                    <label><%= address.city %>, <%= address.state %>, <%= address.country %></label>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:normal;">Grade/Level:</label>
                                    <label><%= @employee.grade.value %></label>
                                </div>
                            </div>                                 
                        </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
       
