  
    
                <ul class="nav nav-pills">
                   <li>
                      <a href="#"> Employee Management</a>
                   </li>
                   <li>
                      <a href="#"> Leave management</a>
                   </li>
                   <li>
                      <a href="#"> Card Scanner</a>
                   </li>
                </ul>
              <div class="home" >
                <ul>
                   <li>
                      <a href="/employees"> Dashboard</a>
                   </li>
                </ul>
              </div>  
        </nav>
        <div id="page-wrapper" style="margin-left:350px;margin-right:350px;margin-top:50px;">
            <div class="row">
                <div class="col-lg-12">
                <h1 class="page-header">Profile Details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       <div class="row">
                          <div class="col-lg-12">
                                <div  class="profile-pic"> 
                                     <a href="changeprofilepic.html" >
                                     <img src="http://www.cliptheme.com/demo/rapido/assets/images/avatar-1.jpg" alt="Profile pic" width="250px;" height="250px;" padding-left="10px;"></a>

                                     </div>  
                                     <div class="sidepanel" style="">
                                        <div class="form-group">
                                          <h3><label><%= @employee.full_name %></label></h3>                                  
                                        </div>
                                        <div class="form-group">
                                          <label style="font-weight:normal;">Software Developer</label> 
                                                                      
                                        </div>
                                        <div class="form-group">
                                          <label>3 <label style="font-weight:normal;"> yrs Experiance</label> </label>
                                        </div>  
                                        
                                      </div>                 
                                   </div>
                                      <!-- /.col-lg-6 (nested) -->
                               </div>
                                  <!-- /.row (nested) -->
                           </div>
                              <!--  /.panel -->
                       </div>
                          <!-- .col-lg-12 -->
                                              
                              <div class="col-lg-12">
                                    <div class="col-lg-6">                                            
                                        <div class="form-group">
                                            <div class="headings" style="">
                                              <i class="fa fa-mortar-board"></i>
                                              <label>Education Details:</label><br><br>
                                              </div>
																						<% @employee.educations.each do |education| %>
                                            <h3><%= education.institute %></h3>
                           <h4><%= education.specilization %>-<%= education.year_of_pass %>-<%= education.cgpa_percentage %>%</eeeh4> <hr>
																						<% end %>
                                        </div>

                                </div>
                                <!-- /.col-lg-6 (nested) -->
                         <!--       <div class="col-lg-4">                                    
                                       <div class="form-group">
                                            <div class="headings" >
                                              <i  class="fa fa-mobile"></i>
                                              <label>Contact Details:</label><br><br>
                                            </div>
                                            <i  class="fa fa-envelope"></i>
                                            <label style="font-weight:normal;"></label> <br>
                                            <i  class="fa fa-mobile-phone"></i>
                                             <label style="font-weight:normal;">2223331114 </label> 
                                        </div>
                                </div> -->
                                <div class="col-lg-6">                                    
                                       <div class="form-group">
                                            <div class="headings" >
                                              <i class="fa fa-tags"></i>
                                              <label>Experience Details:</label><br><br>
                                              </div>
<% @employee.experiences.each do |e| %>

 <h3><%= e.last_designation %></h3>
                                      <h4><%= e.previous_company %></h4
                                        <h5><%= format_exp_date(e.from_date) %>--<%= format_exp_date(e.to_date) %>( <%= difference_in_months(e.from_date,e.to_date )%>)</h5>		<hr>
                                            
                                         
<% end %>
                                        </div>
                                </div>
                                </div>
                                 
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
        <!-- /#page-wrapper -->
