<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>Job Details</h3>
            </div>
            <div class="module-body">
              <%= form_for @recruitment,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>
              <div class="control-group">
                <label class="control-label" for="basicinput">Job Code</label>
                  <div class="controls">
                  <%= f.text_field :jobcode, :class => "span8 form-control", :placeholder =>"Enter Job Code", :data => {:error => "Please Enter valid Job Code"}, :required => true %>
                  <span class="help-block with-errors"></span>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="basicinput">Job Title</label>
                <div class="controls">
                  <%= f.text_field :title, :class => "span8 form-control", :placeholder =>"Enter Job Title", :data => {:error => "Please Enter valid Job Title"}, :required => true %>
                  <span class="help-block with-errors"></span>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="basicinput">Description</label>
                <div class="controls">
                  <%= f.bootsy_area :description, :class => "span8 form-control", :placeholder =>"Enter Job Description", :data => {:error => "Please Enter Job Description"}, :required => true, :style => "margin: 0px 0px 10px; width: 650px; height: 221px;" %>
                  <span class="help-block with-errors"></span>   
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="basicinput">Link </label>
                <div class="controls">
                  <%= f.text_field :link, :class => "span8  form-control", :id => "basicinput", :placeholder =>"http://www.example.com",:data => {:error => "Please Enter valid Job URL"},  :type => "url", :required => true %>
                  <span class="help-block with-errors"></span>   
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="basicinput">Status</label>
                <div class="controls">
                 <%= f.select(:status, options_for_select([['Open', 'open'], ['Closed', 'closed']]), {}, :class=> "span8 form-control",:id=>"disabledSelect") %>
                  <span class="help-block with-errors"></span>
                </div>
              </div> 
              
               <div class="control-group">
                <label class="control-label" for="basicinput">Job Type</label>
                <div class="controls">
                 <%= f.select(:job_type, options_for_select([['Hot', 'Hot'], ['Regular', 'Regular']]), {}, :class=> "span8 form-control",:id=>"disabledSelect") %>
                  <span class="help-block with-errors"></span>
                </div>
              </div> 
              
              <div class="control-group">
                <label class="control-label" for="basicinput">Attachment</label>                                         
                <div class="controls">
                  <%= f.file_field :file, :onchange =>"validateFiles(this);", :data => {:max_file_size => 5.megabytes,:error => " Please Choose valid a file to attach"} %> <br>
                  <%if @recruitment.file_url.present? %>
                  <%= link_to "attachment", @recruitment.file_url, :target => "/blank" %>
                  <%end%>
                </div>
              </div>

              <ul class="navigation-btns editthree" >
                <li><button type="submit" class="btn btn-success">Save</button></li>
                <li><%= link_to "Cancel", recruitments_path,:class => "btn btn-danger" %></li>
              </ul>	
              <% end %>
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->


<script>
  function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png, .pdf, .ppt, .pptx, .doc, .docx, .zip, .rar, .txt, .xls is allowed";
  var allowedExtension = ["jpg", "LPG", "JPEG", "jpeg", "gif", "GIF",  "png", "PNG",  "doc", "DOC", "docx", "DOCX", "ppt", "PPT", "pptx", "PPTX", "xls", "XLS", "xlsx", "XLSX", "txt", "TXT", "rar", "RAR", "pdf", "PDf", "psd", "PSD"]; 
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>

<script>
  $(function() {
    $(".policy_form").validator();
  });
</script> 


