<div class="wrapper">
 <div class="container">
	<div class="row">

  <div class="span12">
		<div class="content">

			<div class="module">
				<div class="module-head">
					<h3>Job Openings </h3>
					<label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-edit"></i></a> <%= link_to 'Add New Job',  new_recruitment_path %></label>
				</div>
				
				<div class="module-body">
			    <% if @recruitments.present? %> 
            <% @recruitments.each do |recruitment| %>
              <h4><%= recruitment.jobcode %> - <%= recruitment.title %></h4>
              <% if current_user.department == Department::HR %> 
                <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                  <li><%= link_to 'Edit', edit_recruitment_path(recruitment), :class => "btn btn-success " %></li>
                  <li><%= link_to "Delete", recruitment_path(recruitment.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
                </ul>
              <% end %>
              <h5>Link: <%= link_to recruitment.link, recruitment.link %></h5>
                <%= raw recruitment.description %>
                <h5>Attachment: </h5><%= link_to "Download", recruitment.file_url, :target => "/blank" %><hr>
            <% end %>
                                                                 
                            
                          
      <% else %>

    <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      No Jobs to display.
    </div>
    <% end %>
      
	           
							</div><!--/.module-body-->
						</div><!--/.module-->
					</div><!--/.content-->
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!--/.wrapper-->
	


