<div class="panel panel-info">
  <div class="panel-heading">
    Job Openings
      <% if current_user.department == Department::HR %>                                
       <%= link_to 'New Job',  new_recruitment_path, :class => "pull-right" %>
     <% end %>  
  </div>	
	<div class="row">
    <div class="col-sm-12">
      <section class="panel">        
        <div class="panel-body">  		   
	        <% if @recruitments.present? %> 
            <% @recruitments.each do |recruitment| %>
              
              <p><font size="4"><strong><%= recruitment.title %> </strong></font></p>                        
              <p><strong><%=truncate recruitment.description.html_safe, :length => 220 %></strong> <%= link_to "Continue..", recruitment_path(recruitment)%></p>
              <p><strong><%= link_to recruitment.link, recruitment.link, :target => "/blank" %></strong></p>
              <% if current_user.department == Department::HR %>                      
                <%= link_to 'Edit', edit_recruitment_path(recruitment), :class => "btn btn-success " %>
                <%= link_to "Delete", recruitment_path(recruitment.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
              <% end %> 
              <% if current_user.department == Department::HR %>               
              <% end %><hr>
            <% end %>                                                                                                                             
            <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No Jobs to display.
          </div>
        <% end %>                 
				</div><!--/.module-body-->
			</section><!--/.module-->
		</div><!--/.content-->
	</div><!--/.span12-->
</div><!--/.row-->	

<style>
.description{
max-height:35px;
overflow:hidden;
}
</style>	 





<div class="panel panel-info">
  <div class="panel-heading">
    Job Openings
      <% if current_user.department == Department::HR %>                                
       <%= link_to 'New Job',  new_recruitment_path, :class => "fa fa-plus pull-right" %>
     <% end %>  
  </div>	
	<div class="row">
    <div class="col-lg-12">
      <section class="panel">        
        <div class="panel-body">  		   
	        <% if @recruitments.present? %> 
            <% @recruitments.each do |recruitment| %>
            <div class="col-lg-8">
              <div class ="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label  class="col-lg-4 control-label">Job Code:</label>
                    <div class="col-lg-8">
                      <%= recruitment.jobcode %>
                      <span class="help-block with-errors"></span> 
                    </div>
                  </div>
                </div>            
                <div class="col-lg-4">
                  <div class="form-group">
                    <label  class="col-lg-4 control-label">Job Title:</label>
                    <div class="col-lg-8">
                      <%= recruitment.title %>
                      <span class="help-block with-errors"></span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-8">
              <div class ="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label  class="col-lg-4 control-label">Job Type:</label>
                    <div class="col-lg-8">
                      <%= recruitment.job_type%>
                      <span class="help-block with-errors"></span> 
                    </div>
                  </div>
                </div>            
                <div class="col-lg-4">
                  <div class="form-group">
                    <label  class="col-lg-5 control-label">Job Status:</label>
                    <div class="col-lg-7">
                      <%= recruitment.status %>
                      <span class="help-block with-errors"></span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
                       
            <div class="col-lg-8">
              <div class ="row">             
                <div class="form-group"> 
                  <div class="col-lg-12">                                     
                    <%= link_to recruitment.link, recruitment.link, :target => "/blank" %>
                    <span class="help-block with-errors"></span> 
                  </div>                
                </div>
              </div>                      
            </div><br>

            <div class="col-lg-12">
              <div class ="row">               
                <div class="form-group">
                  <label  class="col-lg-4 control-label">Job Description:</label>
                  <div class="col-lg-8">
                   <p><div class="description"><%= raw recruitment.description %></div></p>
                    <span class="help-block with-errors"></span> 
                  </div>
                </div>
              </div>      
              
              <p ><strong>Job Description: </strong><div class="description"><%= raw recruitment.description %></div></p>
              <%= link_to "Continue..", recruitment_path(recruitment), :class => "pt4" %><br>
              Attachment:<%= link_to "Show", recruitment.file_url, :target => "/blank" %>
              <% if current_user.department == Department::HR %>                      
                <%= link_to 'Edit', edit_recruitment_path(recruitment), :class => "btn btn-success " %>
                <%= link_to "Delete", recruitment_path(recruitment.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
              <% end %> 
              <% if current_user.department == Department::HR %>               
              <% end %><hr>
            <% end %>                                                                                                                             
            <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No Jobs to display.
          </div>
        <% end %>                 
				</div><!--/.module-body-->
			</section><!--/.module-->
		</div><!--/.content-->
	</div><!--/.span12-->
</div><!--/.row-->	

<style>
.description{
max-height:35px;
overflow:hidden;
}
</style>	 
