<div class="panel panel-info">
  <div class="panel-heading">
    Job Openings
      <% if current_user.department == Department::HR %>                                
       <%= link_to 'New Job',  new_recruitment_path, :class => "pull-right" %>
     <% end %>  
  </div>	
	<div class="row">
    <div class="col-sm-12">
      <section class="panel">        
        <div class="panel-body">  		   
	        <% if @recruitments.present? %> 
            <% @recruitments.each do |recruitment| %>
              
              <p><font size="4"><strong><%= recruitment.title %> </strong></font></p>                        
              <p><strong><%=truncate recruitment.description.html_safe, :length => 220 %></strong> <%= link_to "Continue..", recruitment_path(recruitment)%></p>
              <p><strong><%= link_to recruitment.link, recruitment.link, :target => "/blank" %></strong></p>
              <% if current_user.department == Department::HR %>                      
                <%= link_to 'Edit', edit_recruitment_path(recruitment), :class => "btn btn-success " %>
                <%= link_to "Delete", recruitment_path(recruitment.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
              <% end %> 
              <% if current_user.department == Department::HR %>               
              <% end %><hr>
            <% end %>                                                                                                                             
            <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No Jobs to display.
          </div>
        <% end %>                 
				</div><!--/.module-body-->
			</section><!--/.module-->
		</div><!--/.content-->
	</div><!--/.span12-->
</div><!--/.row-->	

<style>
.description{
max-height:35px;
overflow:hidden;
}
</style>	 





