  <div class="panel panel-info">
    <div class="panel-heading"> 
    Job Opening  <%= link_to " All Job Openings",recruitments_path, :class => "fa pull-right" %>
  </div>                          
    <div class="panel-body"> 
  
      <p><font size="4"><strong>Job Code:</strong> <%= @recruitment.jobcode %> </font></p>
      <p><font size="4"><strong>Job Title:</strong> <%= @recruitment.title %> </font></p>
      <p><font size="4"><strong>Job Type: </strong><%= @recruitment.job_type %> </font></p> 
      <p><font size="4"><strong>Job Status: </strong><%= @recruitment.status %></p> 
      <p><font size="4"><strong>Job Link: </strong><%= link_to @recruitment.link, @recruitment.link, :target => "/blank" %></p>
      <p><font size="4"><strong>Job Attachment: </strong><%= link_to "Show", @recruitment.file_url, :target => "/blank" %></p>
      <p><font size="4"><strong>Job Description: </strong><%= raw @recruitment.description %></p>
      
    <% if current_user.department == Department::HR %>     
      <ul class="navigation-btns pull-left">
        <%= link_to 'Edit', edit_recruitment_path(@recruitment), :class => "btn btn-success " %>
        <%= link_to "Delete", recruitment_path(@recruitment), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
      </ul> 
    <% end %>             
                                                               



</div><!--module-body -->    																																											                               
        </div><!-- /.module-->									      				                                      
      </section><!--/.content-->                    
    </div><!--/.col-sm-12-->                
  </div><!--/.row-->
</div><!--/panel panel-info-->


         
  
  <style>
    .ui-autocomplete{
      z-index :5000;
    }
  </style>
  

