<section class="panel">
<% if @statuses.present? %> 
  <div class="panel-body">
  <% @statuses.each do |s| %> 
    <div class="fb-user-thumb"> 
      <% if s.employee.avatar_url.present? %>
        <%= link_to image_tag(s.employee.avatar_url,size: "60x20") %>
      <% else %>
        <% if s.employee.gender == "Female" %>
          <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
        <% else %>
          <%= image_tag("user.png", :width => "60px", :height => "60px") %> 
        <% end %>
      <% end %>
    </div>
    <div class="fb-user-details">
      <h3><%= s.employee.full_name %></h3>
      <div class="length"><%= truncate(s.status, length: 225)  %>
        <% if s.status.length > 224 %>
          <%= link_to "Read More", "#" , :class => "read-more" %>
        <% end %>
      </div>
      <div class="total_status">
        <%= s.status %><%= link_to "Show Less", "#", :class => "show-less" %>
      </div>           
    </div>             
    <div class="span8"><hr>   
      <h5>Likes(<%= s.likes_count %>) . Comments(<%= s.comments.count %>) . <%= time_ago_in_words(s.created_at)%> ago  
      <% if current_user.employee.id == s.employee.id %>
        <%= link_to "Delete", status_path(s.id), method: :delete, data: {confirm: "Are You sure?"} %>
      <% end %>

      <% if s.likes.where(:employee_id => current_user.employee.id, :is_like => true).first %>  
        <%= link_to 'Unlike', remove_like_status_path(s.id, :employee_id => current_user.employee), :method => "post" %> </span> </h5>
      <% else %> 
        <%= link_to 'Like', add_like_status_path(s.id, :employee_id => current_user.employee), :method => "post" %></span> </h5>
      <% end %>
      
      <% if s.comments.count > 3 %>
        <%=link_to "Show Previous Comments", status_path(s.id) %>
          <% else %>
      <%end %><hr> 
     <% s.comments.limit(3).each do |comm| %> 
       <% if comm.employee.avatar_url.present? %> 
            <%= image_tag(comm.employee.avatar_url,size: "30x30") %>
          <% else %>
             <% if comm.employee.gender == "Female" %>
            <%= image_tag("1.jpg", :style => "width:30px;height:30px;") %> 
         <% else %>
            <%= image_tag("user.png", size: "30x30") %> 
         <% end %> 
         <% end %>
          <b>   
            <%= comm.employee.full_name %> 
          </b>
            <%=comm.comment %>
      </p>
      <p><%= time_ago_in_words(comm.created_at)%> ago </p>
      <hr>
      <% end %> 
    </div>         
    
    
    
    
    
    
    
    
    
     <%= render "statuses/add_comment_form",  :status => s.id%><hr>
<% end %>
<% else %>                                         
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    No Statuses to displayhshsrt.
  </div>  
</div>
<% end %> 
</section>   

<script>
	  $(function(){
	    $(".new_status").hide();
	    $(".total_status").hide();
	    $(".new_post").click(function(){
	      $(".new_status").toggle();
	    }); 
	    $(".read-more").click(function(){
	      $(".length").hide();
	      $(".total_status").show();
	    });
	    
	    $(".show-less").click(function(){
	      $(".total_status").hide();
	      $(".length").show();
	    });
	  });
	
	</script>                                                                                  
