<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
		    <div class="content">
			    <div class="module">
				    <div class="module-head">
					    <h3>Employees Wall </h3>
					    <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><%= link_to "Create A New Post", "#", :class => "new_post" %></label>
					  </div>	
			    
			      <div class="module-body">
			        <div class="new_status">
			          <%= render "statuses/form"%>
			        </div>
		          <% if @statuses.present? %> 
                <% @statuses.each do |s| %> 
                  <div class="row-fluid">
                    <div class="span1">
                      <% if s.employee.avatar_url.present? %>
                        <%= link_to image_tag(s.employee.avatar_url,size: "60x20") %>
                      <% else %>
                        <% if s.employee.gender == "Female" %>
                          <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
                        <% else %>
                          <%= image_tag("user.png", :width => "60px", :height => "60px") %> 
                        <% end %>
                      <% end %>
                    </div>
                    <div class="span10">
                      <h4><%= s.employee.full_name %></h4>
                      <div class="length"><%= truncate(s.status, length: 225)  %>
                      <% if s.status.length > 224 %>
                        <%= link_to "Read More", "#" , :class => "read-more" %>
                      <% end %>
                     </div>
                      <div class="total_status">
                        <%= s.status %><%= link_to "Show Less", "#", :class => "show-less" %>
                      </div>
                      
                     
                    </div>
                   
                    
                    <% if current_user.employee.id == s.employee.id %><br><br>
                      <ul class="navigation-btns">        
                        <li>
                          <label style="font-weight:normal;margin-top:-5px;" class = "pull-right"><a><i class="icon-trash"></i></a>
                            <%= link_to "Delete", status_path(s.id), method: :delete, data: {confirm: "Are You sure?"} %>
                          </label>
                        </li>
                      </ul>
                    <% end %>
                  </div>
                  
                  <div class="row-fluid">
                    <div class="span8"><hr>
                      <h5>Likes(<%= s.likes_count %>) . Comments(<%= s.comments.count %>) . <%= time_ago_in_words(s.created_at)%> ago
              
                      <% if s.likes.where(:employee_id => current_user.employee.id, :is_like => true).first %>  
                        <%= link_to 'Unlike', remove_like_status_path(s.id, :employee_id => current_user.employee), :method => "post" %> </span> </h5>
                      <% else %> 
                        <%= link_to 'Like', add_like_status_path(s.id, :employee_id => current_user.employee), :method => "post" %></span> </h5>
                      <% end %>
                      
                      <% if s.comments.count > 3 %>
                        <%=link_to "Show Previous Comments", status_path(s.id) %>
                          <% else %>
                      <%end %><hr> 
                     <% s.comments.limit(3).each do |comm| %> 
                       <% if comm.employee.avatar_url.present? %> 
                            <%= image_tag(comm.employee.avatar_url,size: "60x20") %>
                          <% else %>
                             <% if comm.employee.gender == "Female" %>
                            <%= image_tag("1.jpg", :style => "width:20px;height:20px;") %> 
                         <% else %>
                            <%= image_tag("user.png", size: "30x30") %> 
                         <% end %> 
                         <% end %>
                          <b>   
                            <%= comm.employee.full_name %> 
                          </b>
                            <%=comm.comment %>
                      </p>
                      <p><%= time_ago_in_words(comm.created_at)%> ago </p><hr>
                      <% end %> 
                    </div>
                    
                   
                </div>
                 <%= render "statuses/add_comment_form",  :status => s.id%><hr>
               <% end %>
                <% else %>
                  <div class="module-body">                                           
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Statuses to display.
                  </div>
                  </div>
              </div>
                <% end %>                                                                                                                      
                  <%= paginate @statuses %>       
               </div>    
						</div><!--/.module-body-->
					</div><!--/.module-->
				</div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
	
	<script>
	  $(function(){
	    $(".new_status").hide();
	    $(".total_status").hide();
	    $(".new_post").click(function(){
	      $(".new_status").toggle();
	    }); 
	    $(".read-more").click(function(){
	      $(".length").hide();
	      $(".total_status").show();
	    });
	    
	    $(".show-less").click(function(){
	      $(".total_status").hide();
	      $(".length").show();
	    });
	  });
	
	</script>



