<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span12">	
			  <div class="module">
          <div class="module-head">
			      <h3>Status Details
			          <div class="pull-right" ><a href="/statuses" style="color:#5ecad4 pull-right"><i class="icon-circle-arrow-left"> Employee Wall</i></a></div>  
			      </h3>	
			      </div>
			        <div class="module-body">
			        <div class="row-fluid">
			         <div class="span1">
                <% if @status.employee.avatar_url.present? %>
                  <%= link_to image_tag(@status.employee.avatar_url,size: "60x20") %>
                <% else %>
                  <% if @status.employee.gender == "Female" %>
                    <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
                      <% else %>
                        <%= image_tag "user.png", :width => "60px", :height => "60px" %> 
                       <% end %>
                  <% end %>
               </div>   
                              
					<!--/.module-body-->
				   <div class="span10">
              <h4>
                <%= @status.employee.full_name %>
              </h4>
                <%= @status.status %>
              <hr>
           </div>
                    
              
           <div class="span10">      
					    <h5>Comments (<%= @status.comments.count %>) ,
					    <button type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#myModal">
                Likes List
              </button>
					    <%= 'Likes' %>
					    (<%= @status.likes_count %>) . <%= time_ago_in_words(@status.created_at)%> ago    
                <% if @status.likes.where(:employee_id => current_user.employee.id, :is_like => true).first %>  
                  <%= link_to 'UnLike', remove_like_status_path(@status.id, :employee_id => current_user.employee), :method => "post" %> </span>  </h5>
                <% else %> 
                  <%= link_to 'Like', add_like_status_path(@status.id, :employee_id => current_user.employee), :method => "post" %></span> 
                  
                <% end %>
           </div>
            
           <% if current_user.employee.id == @status.employee.id %><br><br>
                      <ul class="navigation-btns">        
                        <li>
                          <label style="font-weight:normal;margin-top:-5px;" class = "pull-right"><a><i class="icon-trash"></i></a>
                            <%= link_to "Delete", status_path(@status.id), method: :delete, data: {confirm: "Are You sure?"} %>
                          </label>
                        </li>
                      </ul>
                    <% end %>             
           </div><hr>
           
					 <h5>
					  <% @comments.each do |com| %>
					 </h5> 
					 
					 <p>
					  <% if com.employee.gender == "Female" %>
              <%= image_tag("1.jpg", :style => "width:20px;height:20px;") %> 
            <% else %>
              <%= image_tag "user.png", :width => "20px", :height => "20px" %> 
            <% end %> <b> <%= com.employee.full_name %> </b><%=com.comment %> 
					 </p>
					 <%# if current_user.employee == com.employee %> 
                <%# link_to 'delete',status_comment_path(@status.id,com.id), method: :delete, data: {confirm: "Are You sure?"}%> 
           <%# end %>
					 <p>
					    <%= time_ago_in_words(com.created_at)%> ago 
           </p> 
            
           <% end %>
           <%= render "statuses/add_comment_form",  :status => @status.id%>
					
				  </div><!--/.module-->
			  </div>	<!--/.span8-->	
			  			
			
             <div class="module">	    				    
  		      </div><!--/.module-->
	    		
        </div><!--/.row-->		
      </div><!--/.container-->	
  </div><!--/.Wrapper-->	


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Likes List</h4>
      </div>
       <div class="modal-body">
         <% if @employees.present? %>
      <% @employees.each do |emp| %> 
					 <b><%= emp.full_name %></b> <br>
					  <% end %>
		 <%else%>
      <div class="modal-body">
      <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                No Employees to display.
         </div>
       </div>
     <%end%>
     </div>
     </div>
  </div>
</div>

