
<div class="panel panel-info">
  <div class="panel-heading">
     <h3> New Leave Policy For : <%= @group.group_name %></h3>
  </div>
  <div class="panel-body">
    <%= form_for ([@group, @leave_policy]), :html => {:class=>"form-horizontal row-fluid edit-leave_policy-form"}, :remote => true do |f| %>
    <div class="row">
      <div class="form-group">   
			  <label class="col-lg-2 control-label" for="basicinput">Leaves per Month</label>
        <div class="col-lg-8">
          <%= f.text_field :pl_this_year,  :class => "form-control", :data => {:error => "Please Enter Valid Number Of Leaves Per Month"}, :required =>true, :pattern =>'[0-9]*\.[0-9]+|[0-9]+' %>
          <span class="help-block with-errors"></span>
	      </div>
	    </div>
	  </div>
	  <div class="row">                                                                              
      <div class="form-group">   
			  <label class="col-lg-2 control-label" for="basicinput">Carry forword Leaves per Year</label>
        <div class="col-lg-8">
           <%= f.text_field :eligible_carry_forward_leaves,  :class => "form-control", :data => {:error => "Please Enter Maximum Carryforward Leaves Per Year"}, :required =>true, :pattern =>'[0-9]*\.[0-9]+|[0-9]+' %>
           <span class="help-block with-errors"></span>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="form-group">   
			  <label class="col-lg-2 control-label" for="basicinput">Maximum Carry forword Leaves</label>
        <div class="col-lg-8">
          <%= f.text_field :max_carry_forward_leaves,  :class => "form-control", :data => {:error => "Please Enter Maximum Carryforward Leaves Per Year"}, :required =>true, :pattern =>'[0-9]*\.[0-9]+|[0-9]+' %>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
		<div class="row">
		  <div class="form-group">   
			  <label class="col-lg-2 control-label" for="basicinput">Floating Leave Period</label>
        <div class="col-lg-8">    
			    <%= f.select(:floating_leave_period, options_for_select([['Quarterly', 1], ['Half Yearly', 2], ['Annually', 3]]), {}, :class =>  "form-control") %>
			    <span class="help-block with-errors"></span>
			  </div>
	  </div>
	</div>
	<div class="row"> 
	                                                                                                      
      <%= f.submit  'Save', :class => "btn btn-success " %> 
      <%= link_to  'Cancel', @group, :class => "btn btn-danger" %>                                    
    
  </div>                                           
    <% end %>
  </div><!--/.module-body-->
</div><!--/.module-->
			
    <script>
			  $(function(){
          $(".edit-leave_policy-form").validator();
         });  
			</script>
