<div id="page-wrapper">

           <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">F&F Status Info</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">                    
                   <div class="panel-body">
                      <div class="col-lg-6">                                                                          
											 <%= form_for ([@employee, @status]),:data => {:toggle => "validator"} do |f| %>
											 <div class="form-group">
												  <label class="required" >Date of Exit</label>
												  <%= f.text_field :date_of_exit, :class =>"form-control datepicker", :data => {:error => " Please Enter Exit Date"},:required =>true %>
												  <div class="help-block with-errors"></div>   
												  </div>
												<div class="form-group">
                          <label class="required" >Status of F & F</label>
                          <%= f.select :status_name, options_for_select(FfStatus::STATUS), { :prompt => "Please Select" }, :class => "department form-control", :data => {:error => " Please Enter Status"},:required =>true %>
												  <div class="help-block with-errors"></div>   
 										    </div>																			
												<div class="form-group">
												  <label class="required" >InterView Status</label>
											<%= f.select :interview_status, options_for_select([['Yes', 'Yes'], ['No', 'No']]), {:prompt => "Please Select"}, :class=> "form-control", :id=>"disabledSelect",:data => {:error => " Please Enter InterView Status"}, :required =>true %>
											  <div class="help-block with-errors"></div>  
												</div>	
                        <div class="form-group">																																						
												  <label class="required">Summary Of F&F</label>
												  <%= f.text_area :summary, :class =>"form-control",:required =>true, :data => {:error => " Please Enter Summary"} %>	
												   <div class="help-block with-errors"></div>							 
												</div>
												
												 <%= f.submit 'Save', :class => "btn btn-success pull-left" %>
											<% end %>
									</div>
                 <!-- /.col-lg-6 -->
               </div>
                 <!-- /.panel -->                   
            </div>
            <!-- col-lg-12 -->
        </div>
           <!-- /.row -->                          
     </div>
      <!-- /#page wrapper -->
