
		
			<div class="module">
				<div class="module-head">
					<h3>F&F Status Info</h3>
						</div>
							<div class="module-body">							
							<%= form_for ([@employee, @status]), :remote => true, :html => {:class=>"form-horizontal row-fluid edit-status-form"} do |f| %>
			         <div class="control-group">
                  <label class="control-label" for="basicinput">Date of Exit</label>
                  <div class="controls">
                <%= f.text_field :date_of_exit, :class => "span8 from form-control", :data => {:error => " Please Enter Exit Date"},:required =>true %>
                <span class="help-block with-errors"></span>
                      </div>
								</div>
									        
									        
                <div class="control-group">
                  <label class="control-label" for="basicinput">Status of F & F</label>
                      <div class="controls">
                      <%= f.select :status_name, options_for_select(FfStatus::STATUS), { :prompt => "Please Select" }, :class => "span8 form-control", :data => {:error => " Please Enter Status"},:required =>true %>
                      
                      <span class="help-block with-errors"></span>
                     </div>
								</div>
	
	
		<div class="control-group">
										<label class="control-label" for="basicinput">InterView Status</label>
										<div class="controls">
										<%= f.select :interview_status, options_for_select([['Yes', 'Yes'], ['No', 'No']]), {:prompt => "Please Select"}, :class=> "span8 form-control", :id=>"disabledSelect",:data => {:error => " Please Enter InterView Status"}, :required =>true %>
										
                     <span class="help-block with-errors"></span>   
										</div>
									</div>
	
	
	
	
		<div class="control-group">
										<label class="control-label" for="basicinput">Summary Of F&F </label>
										<div class="controls">
										<%= f.text_area :summary, :class =>"span8 form-control",:required =>true, :data => {:error => " Please Enter Summary"} %>	
                    
											 <span class="help-block with-errors"></span>   
										</div>
									</div>
			   <%= f.submit 'Save', :class => "btn btn-success pull-left" %>
                                     
                                            
					<%= link_to 'Cancel', employee_ff_statuses_path(@employee), :class=>"btn btn-danger  pull-right", :remote => true %>			
							
												
											
										<% end %>
							</div><!--/.module-body-->
						</div><!--/.module-->
				      
        <script>
		      $(function(){
            $(".edit-status-form").validator();
           });  
		    </script> 
			    
        <script>
           $(function () {
               $(".from").datepicker({
                   dateFormat: 'dd/mm/yy',
                   changeMonth: true,
                   changeYear: true,
                    maxDate: -0,
                   yearRange: "-100:+0",
                   onClose: function (selectedDate) {
                       var date2 = $('.from').datepicker('getDate');
                       date2.setDate(date2.getDate());
                       $(".to").datepicker("option", "minDate", date2);
                   }
               });

               $(".to").datepicker({
                   dateFormat: 'dd/mm/yy',
                    maxDate: -0,
                    yearRange: "-100:+0",
                     changeMonth: true,
                   changeYear: true
               });
           });
        </script>
































