                                             
 
<div class="module">												
	<div class="module-head">													
		<h3><%= current_user.employee.role.role_name if current_user.employee.role.present? %> F&F Status Info</h3>								 
	   	<% if current_user.department == Department::HR %>
		    <% unless @status.present? %>             
        <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'Add FFStatus', new_employee_ff_status_path(@employee), :remote => true %></label>                  
      <% else %>
        <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class=" icon-edit"></i></a> <%= link_to 'Edit', edit_employee_ff_status_path(@employee, @status), :remote => true %></label>
     <% end %>   
<% end %>
  </div>	     
  <div class="module-body">
 	  <% if @status.present? %>           
		<table class="table table-striped table-bordered table-condensed">
		  <tbody>
      <tr>
        <td>Date of Exit:</td>
        <td><%= format_date (@status.date_of_exit) %></td>
      </tr>
      <tr>
        <td>Interview Status:</td>
        <td><%= @status.interview_status %></td>
      </tr>
      <tr>
        <td>Status Of F&F:</td>
        <td><%= @status.status_name %></td>
      </tr>
      <tr>
        <td>Summary Of F&F:</td>
        <td><%= @status.summary %></td>
      </tr>
     </tbody>
   </table>                           							            
   <% else %>						               
	   <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            F&F status of this employee is empty
     </div>
   <%end%>	            
  </div><!--/.module-body --> 	 
</div>		
          
			


































