<div class="panel panel-info">
  <div class="panel-heading">
    Designation
  </div>
  <div class="panel-body">
    <%= form_for @designation, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"}  do |des| %>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="basicinput">Department Name</label>
      <div class="col-lg-7">
        <%= des.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments, span8 form-control", :id => "disabledSelect1" } %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="basicinput">Name Of Designation</label>
      <div class="col-lg-7">
        <%= des.text_field :designation_name, :class => "span8 form-control", :placeholder =>"Enter Designation Name", :data => {:error => "Please Enter valid Designation name"}, :required =>true, :pattern => '[a-zA-Z/./s ]*'%>
        <span class="help-block with-errors"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="basicinput"></label>
      <div class="col-lg-7">
        <%= des.submit  'Save', :class => "btn btn-success" %>
        <%= link_to 'Cancel', designations_path, :class=>"btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div><!--/.module-body-->
</div><!--/.module-->	     
<% title "Designations" %>
