                  <h3 class="title">All Designations</h3><hr>
                  
                  <%= link_to "Add New Designation", new_designation_path,:class => "btn btn-success "%><hr>

                        <div class="col-lg-6">
                          <table class="table table-striped table-hover" id="sample-table-2">
                              <% @designations.each do |designation| %>
											            <thead>											      
												            <tr>
													            <th class="center"><%= designation.designation_name %></th>	
													            <th class="center">
													            <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                          <li><%= link_to "Edit",edit_designation_path(designation.id),:class => "btn btn-success " %></li>
                                          <li><%= link_to "Show",designation_path(designation.id),:class => "btn btn-info "%></li>
                                          <li><%= link_to "Destroy",designation_path(designation.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
                                        </ul>
                                       </th>							      		
												            </tr>
											            </thead>
                                     <% end %>   
									            </table> 
									          </div>                                  
