<div class="panel panel-info">
  <div class="panel-heading">
    List of Grades in <%= @designation.designation_name %>  <%= link_to " Add Grade",new_grade_path, :class => "fa fa-plus pull-right" %>
  </div>
  <div class="panel-body">
  <% if @grades.present? %>                                                                                                                
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="center">Grade</th>
          <th>No.of.Employees</th>
        </tr>
      </thead>     
      <tbody>
      <% @grades.each do |grade| %>
        <tr>
          <th class="center"><%= grade.value %></th>
          <th><%= grade.employees.count %>
        </tr>
      <% end %>
      </tbody>      
    </table>
    <% else %> 
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            No Grades for this Designation
      </div>                                                   
    <% end %>
  </div><!--module body-->
</div><!--/.module --> 
<%= title 'Designations'%>                    
