
<div class="panel panel-info">
	<div class="panel-heading">							
    Leave Policy
      <% unless @leave_policy.present?%>
        <% if current_user.designation == Designation::HRADMIN %>
          <label class = "pull-right"><a><i class="icon-plus-sign "></i></a>
          <%= link_to "Add Leave Policy",   new_group_leave_policy_path(@group ), :remote => true %></label>
        <% end %>
      <% end %>	
  </div>
  <div class="panel-body">		               
    <% if @leave_policy.present? %>
    <div class="adv-table">
      <table class="display table table-bordered table-striped table-dynamic" >
        <thead>
          <tr>
            <th>Personal leaves Per Month</th>
            <th>Carry Forword Leaves Per Year</th>
            <th>Maximum Carry Forward Leaves</th>
            <th>Floating Holiday Peroid</th>
            <th>Actions</th>
           </tr>
         </thead>
         <tbody>          
            <% unless @leave_policy.nil? %>
              <tr>
              <td><%= @leave_policy.pl_this_year %></td>
              <td> <%= @leave_policy.eligible_carry_forward_leaves %></td>
              <td> <%= @leave_policy.max_carry_forward_leaves %></td>
              <td> <%= @leave_policy.show_floating_leave_type(@leave_policy.floating_leave_period) %></td>
              <td><%= link_to 'Edit', edit_group_leave_policy_path(@group, @leave_policy), :class => "btn btn-success pull-right", :remote => true %></td> 
              </tr>
            <% end %>
        </tbody>                        
      </table> 
     </div>
    <% else %>      
        <div class="alert alert-success alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             No Leave  for this Group
        </div>                                   
     <% end %>			 
  </div>
</div> 
  
