<div class="row">                
    <aside class="profile-nav col-lg-3">
      <section class="panel">
        <div class="user-heading round">                   
        <a href="#"> 
          <%= image_tag("us-staffing.png", alt: "", class: "thumb media-object") %>  
        </a>
        <p><h4><%= @group.group_name %></h4></p>
        <p>Employees : <%= @group.employees.count %></p>
      </div> 
      <ul class="nav nav-pills nav-stacked">            
       <li class="active"><a href="#employees" data-toggle="tab"><i class="fa fa-user"></i>Employees</a></li>
          <li><a href="#leave_policies" data-toggle="tab"><i class="fa fa-user"></i>Leave Policies</a></li>
          <li ><a href="#leaves" data-toggle="tab"><i class="fa fa-user"></i>Leaves</a></li>
          <li><a href="#holiday_calender" data-toggle="tab"><i class="fa fa-user"></i>Holiday-Calender</a></li>
       </ul>                                  
        </section>
    </aside>
    <aside class="profile-info col-lg-9">
      <section>
            <div class="profile-tab-content tab-content">  
              <div class="tab-pane fade active in" id="employees">
                <%= render "groups/employees"%>           
              </div><!--/.tab-pane-list-->                                                        
              <!--leave_policies PANEL-->                                        
              <div class="tab-pane fade " id="leave_policies"> 
                <%= render "groups/leave_policies"%>                                         
              </div><!--/.tab-pane-list-->
              <div class="tab-pane fade" id="leaves">
                <%= render "groups/employee_leaves"%> 
              </div>
              <!--holiday_calender PANEL-->                                       
              <div class="tab-pane fade " id="holiday_calender">
                <%= render "groups/holiday_calender"%>                                        
              </div><!--/.tab-pane-list-->
            </div>
      </section>
    </aside>
 </div>
