<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                
                    <div class="page-header" >
                      <h4><%= @group.group_name %></h4>
                       <div class="pull-right" style="margin-top:-25px;margin-right:110px;">
                       Reporting Manager : &nbsp<a href="#" style="float:right;margin-top:-10px;"><h4><%= @employee.full_name %></h4></a></div>
                   </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-lg-12">
                 <% if @group.leave_policy.nil? %> 
                 <label style="font-weight:normal;margin-top:-15px;" class="pull-right"> <a><i class="fa fa-plus "></i></a><%= link_to 'Add Leave Policy For This Group', new_group_leave_policy_path(@group)  %></label><br>
                   <% end %>                                                       
                 <div id ="leave_policy">
                   <%=render "leave_policies/index" %>
                 </div>
                 
                 <div id="event_form">                 
                 <% unless @group.holiday_calenders.present? %>
                  <label id="new_event" style="font-weight:normal;margin-top:px;" class="pull-right"><a><i class="fa fa-plus "></i></a><%= link_to 'Add Holidays List For This Group', new_group_holiday_calender_path(@group) %></label> 
                 <% end %><br>
                 <div id ="holiday_calenders">
                   <%=render "holiday_calenders/index" %>
                  </div>
                </div>
                  
                </div>
                    <!-- /.panel -->
             </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
 </div>
        <!-- /#page-wrapper -->
        
  <script>
          $(function(){
  
    $("#active").toggleClass("active").children("ul").collapse("toggle");

          });
        </script>

