
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, :html => { class: "form-signin" }) do |f| %>
<h2 class="form-signin-heading">Change your password</h2>
  <div class="login-wrap">
  <h3><%= devise_error_messages! %> </h3>
  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control" %>

<%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>

<%= f.submit "Change my password", :class=>"btn btn-sm btn-login btn-block" %>
<% end %>


