 <div class="module">
    <div class="module-head">
                <h3> Leaves Requests</h3>
    </div>          
           
                                 
                 
                 
                 <div class="module-body">
                   <table class="table table-striped table-hover" id="sample-table-2">
			                  <thead>											      
				                  <tr>
					                  <th>Employee Name</th>
					                  <th>Date</th>
					                  <th>No of Days</th>		
					                  <th>Leave Type </th>	
					                  <th>Reason for leave</th>
					                  <th colspan="2">Action</th>
					                  <th></th>													                 	                  										      		
				                  </tr>
			                  </thead>											                  	                                   
												<% @reported_leaves.each do |report| %>										 																			  
                        <% report.employee.leave_histories.each do |f| %>
											  <% if f.status == "HOLD" %>
			                  <tbody>
				                   <tr>               
					                    <td><%= report.employee.full_name%></td>
					                    <td><%= format_date(f.from_date) %> - <%= format_date(f.to_date) %></td>
					                    <td><%= pluralize(f.days, 'day') %></td>
					                    <td><%= f.leave_type.type_name if f.leave_type.present? %> </td>
					                    <td><span style='display: none;'><%= f.reason %></span><%= truncate(f.reason) { link_to "Continue", "#", :data => {:toggle => "modal", :target => "#myModal"}, :id => "modal-text" } %>  </td>
					                    <td>
					                    <%= link_to "Accept", accept_path(:employee_id=> report.employee.id, :leave_history_id => f.id), method: :post, :class => "btn btn-success pull-left", :remote => true %>
													 &nbsp;&nbsp;&nbsp;&nbsp;
														   <%= link_to "Reject", "#cancelLeaveModal", :class => "cancel-leave btn btn-danger", :url => getLeaveForm_leave_history_path(f.id), "data-toggle" => "modal" %>

                              
                              </td>
				                  </tr>												                   
			                 </tbody>
											 <% end %>
										   <% end %>
									     <% end %>											                 
	                 </table>
									                <div class="pagination ">                      
                                  <%= paginate @reported_leaves %>                  
                                 </div>	

									 </div><!-- module body-->
                   </div><!--module-->          
                             <!-- Button trigger modal -->



                  


  <script type="text/javascript">
    $('.cancel-leave').click(function(){ 
        var url = $(this).attr("url");
        $.ajax({
          type: "GET",
          url: url,
          dataType: "script"
          });
        });
      </script>


<script>
$(function(){
  $("td a[id='modal-text']").click(function(){
    var content=$(this).prev().text();
    $("#modal_body").text(content);
  });
  

});
</script>


<div class="modal fade" id="cancelLeaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cancel reason for leave</h4>
      </div>
      <div class="cancel-Leave-modal-body modal-body">
        
         
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 
                     
<!-- Modal -->
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Reason for leave</h4>
      </div>
      <div class="modal-body">
        <span id="modal_body"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

