<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to 'Policies',policies_path %></li>
								<li><a href="/employees">Employees</a></li>
								<!-----<li><a href="#">Holidays</a></li> ------->
								<li><%# link_to 'Announcement',announcements_path %></li>
								<li><%# link_to 'Events',amzur_events_path %></li>
								<li><%# link_to 'Job Openings',recruitments_path %></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<!---<a href="#" class="dropdown-toggle" data-toggle="dropdown">Leaves<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">My Leaves</a></li>
								<li><a href="#">Apply Leave</a></li>
								<li><a href="#">Leave Approvals</a></li>
							
						  </ul> ----->
						  <a href="/leave_histories">Leaves</a>
						</li>
						
						<li class="dropdown">
						  <% if current_user.department == Department::ACCOUNTS %>
						    <li><%= link_to 'Pay Slips View', salaries_payslips_list_path %></li>
						  <% else %>
						    <a href="/monthly_payslips" >Payslips</a>
						  <% end%>
						</li>
	
	      <!---  <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportees <b class="caret"></b></a>
							
						</li> -->
						
						
						<li class="nav-user dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">                                                           							
							  <% if current_user.employee.present? && current_user.employee.avatar_url.present? %>
                  <%= image_tag current_user.employee.avatar_url, :class => "nav-avatar" %> 
                <% else %>
                  <img src="/assets/user.png", class= "nav-avatar"> 
                <% end %>
						
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "My Profile", profile_path(current_user.employee) %></a></li>
								<% if current_user.department == Department::HR %>
								  <li><a href="#">Edit Profile</a></li>
			          <% end %>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class=> "fa fa-sign-out fa-fw" %></li>   
							</ul>
						</li>
					</ul>
