                 
                 
                  <ul class="nav" id="side-menu"><!-- Hr sidebar -->
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="/employees"><i class="fa fa-users fa-fw"></i> Employees</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                      
                                    <%= link_to "Group", groups_path %>
                                    </li>
                                    <li>

																		<%= link_to 'Grade', grades_path %>

                                </li>
                                <li>
                                    <%= link_to 'Department', departments_path %>
                                </li>
                                <li>
                                    <%= link_to 'Designation', designations_path %>
                                </li>
                                <li>
                                    <%= link_to 'Role', roles_path %>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-plus fa-fw"></i> New Employee</a>
                        </li>
                    </ul><!-- end of Hr sidebar -->
                    
                    
                    
                    
                    
