<ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><%= link_to 'Locations',job_locations_path %></li>
			<li><a href="/departments">Departments</a></li>
			<li><a href="/groups">Groups</a></li>
			<li><%= link_to 'Policies',policies_path %></li>
			<li><a href="/shifts">Work Shifts</a></li>
			<li><a href="/events">Holidays</a></li>
			<li><%= link_to 'Announcement',announcements_path %></li>
			<li><%= link_to 'Events',amzur_events_path %></li>
			<li><%= link_to 'Job Openings',recruitments_path %></li>
			<li class="divider"></li>
		  <li><%= link_to "Designations", designations_path %></li>
		  
		</ul>
	</li>
	
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/">Employees</a></li>
			<li class="dropdown-submenu"><a href="#">Attendence</a>
			  <ul class="dropdown-menu">
			    <li><a href="/employee_attendence/new_attendence_log">Upload CSV</a></li>
			    <li><a href="/employee_attendence/show_attendance">Employee Attendance</a></li>
			  </ul>			
			</li>	
			<li><a href="/statuses">Employee Wall</a></li>		
			<li><a href="/employee_leaves">Employee Leaves</a></li>
			<li><a href="#">Resignations</a></li>
			<li><a href="#">Apprisals</a></li>
			<li><a href="#">Employees Exit</a></li>
			<li><a href="/inactive_employees">Inactive Employees</a></li>
			<li class="divider"></li>
			<li><a href="/new_profile">New Employee</a></li>						
	  </ul>
	</li>
	
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">PayRoll <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><%= link_to 'PayRoll Master', static_allowances_path %></li>     
			<li><%= link_to 'Employee PayRoll', payroll_path %></li>
			<li><a href="#">Bonus</a></li>
      <li><a href="#"> Reimbursement</a></li>
			<li><%= link_to 'Investment Declaration Form', section_declarations_path %></li>
			<li><a href="#">Loans</a></li>
			<li><a href = "/company_pay_roll_masters">Company Monthly PayRoll</a></li>
			<li class="dropdown-submenu"><a href="#">TDS</a>
			  <ul class="dropdown-menu">
			    <li><a href="/tax_brackets">Tax Brackets</a></li>
			    <li><a href="/tax_exemptions">Tax Exemptions</a></li>
			  </ul>			
			</li>			
	  </ul>
	</li>
							
	<li class="nav-user dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">		      
       <% if current_user.present? && current_user.employee.avatar_url.present? %>		  
          <%= image_tag current_user.employee.avatar_url,  :class=> "nav-avatar" %> 
       <% else %>
         <% if current_user.employee.gender == "Female" %>
            <%= image_tag "1.jpg", :class=> "nav-avatar" %> 
         <% else %>
            <%= image_tag "user.png", :class=> "nav-avatar" %> 
         <% end %>
       <% end %>	
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "My Profile", profile_path(current_user.employee) %></a></li>
		  <li><%= link_to ' My Self Description', employee_self_description_show_employee_path(current_user.employee), :class => "fa fa-user fa-fw" %></a></li>
			<li class="dropdown-submenu"><a href="#">Leaves</a>
			<ul class="dropdown-menu">
			 <li><a href="/leave_histories">My Leaves</a></li>
			    <% if current_user.employee.is_reporting_manager? %>
			               
			  <li><a href="/reportees_leaves">Leave Approvals</a></li>
         <% end %> 
       </ul>
      </li> 
      <li><a href="/letters" >Letters</a></li>
			<li><a href="/monthly_payslips" >My Payslips</a></li>
			<li><a href="/employee_attendence/emp_show_attendance" >My Attendance</a></li>		
			<li><a href="/investment_declarations" >My Investment Declartions</a></li>							
			<li class="divider"></li>
		  <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class=> "fa fa-sign-out fa-fw" %></li>   
		</ul>
	</li>
</ul>


