                 
                 
                  <ul class="nav" id="side-menu"><!-- Hr sidebar -->
                        <li>
													<%= link_to "My Profile", employee_path(current_user.employee.id) %>
                        </li>
                        <li>
                            <a href="/employees"><i class="fa fa-users fa-fw"></i> Employees</a>
                        </li>
                        <li id="active">
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Group", groups_path %>
                                </li>
                                <li>
																		<%= link_to 'Grade', grades_path %>

                                </li>
                                <li>
                                    <%= link_to 'Department', departments_path %>
                                </li>
                                <li>
                                    <%= link_to 'Designation', designations_path %>
                                </li>
                                <li>
                                    <%= link_to 'Role', roles_path %>
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>

                            <%= link_to "NewEmployee", new_profile_path , :class =>"fa fa-plus fa-fw" %>

                        </li>
                    </ul><!-- end of Hr sidebar -->
                    
        
