                 
                 
                  <ul class="nav" id="side-menu"><!-- Hr sidebar -->
                        <li>
                           <div  class="profile-pic" > 
                              <h4><center> <%= @emp.full_name if @emp.present? %> </center></h4>
                               <% if current_user.employee.avatar_url.present? %>

                              <a href="#" >
                                <%= image_tag(current_user.employee.avatar_url,  style:"width:240px;height=250px;padding-left=10px;", class: "img-polaroid")  %>
                              </a>
                              <% else %>
                              <a href="#" >
                                <img src="/assets/employee-icon.jpg" alt="hii" style="width:240px;height=250px;padding-left=10px;" ></img>
                              </a>
                              <% end %>
                           </div>                      
                        </li>
                        
                        <li>
													 <%= link_to 'MyProfile', employee_path(current_user.employee.id), :class => "fa fa-user fa-fw" %>
                        </li>
                        <li>
                            <a href="/employees"><i class="fa fa-users fa-fw"></i> Employees</a>
                        </li>
                        <li id="active">
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <!--<li>
                                    <%# link_to "Group", groups_path %>
                                </li>-->
                               
                                <li>
                                    <%= link_to 'Department', departments_list_path %>
                                </li>
                                <li>
                                    <%= link_to 'Designation', designations_path %>
                                </li>
                                <!--<li>
                                    <%# link_to 'Role', roles_path %>
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>-->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>

                            <%= link_to "NewEmployee", new_profile_path , :class =>"fa fa-plus fa-fw" %>

                        </li>
                    </ul><!-- end of Hr sidebar -->
                    
        
