<div class="panel panel-info">
  <div class="panel-heading">                                                        
     My Reportee Leaves List
  </div>   
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">
      <header class="panel-heading">         
         <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-times"></a>
         </span>
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
            <thead>											      
              <tr>
                <th>Employee Name</th>
                <th>Date</th>
                <th>No.of Days</th>		
                <th>Leave Type </th>	
                <th>Reason for leave</th>
                <th colspan="2">Status</th>               											                 	                  										      		
              </tr>
            </thead>											                            
            <tbody>
              <% @reported_leaves.each do |report| %>
              <% report.employee.leave_histories.each do |f| %>
              <% emp = report.employee %>
              <% unless f.status == "HOLD" %>
                <tr class="gradeA">               
                  <td><%= emp.full_name%></td>
                  <% if f.is_halfday %>
			              <td><%= format_date(f.from_date) %></td>
			              <td>half day(<%= f.section %>)</td>               
			            <% else %>
			         	     <td><%= format_date(f.from_date) %> - <%= format_date(f.to_date) %> </td>													
				             <td>  <%= pluralize(f.days, 'day') %>  </td>
				          <% end %>
                  <td><%= f.leave_type.type_name if f.leave_type.present? %> </td>
                  <td><span style='display: none;'><%= f.reason %></span><%= truncate(f.reason) { link_to "Continue", "#", :data => {:toggle => "modal", :target => "#myModal2"}, :id => "modal-text" } %>  </td>
                  <td><%= f.status %></td>													                                                                 
                </tr>		
               <% end %>
               <% end %>
               <% end %>										                  
            </tbody>
            <tfoot>											      
              <tr>
                <th>Employee Name</th>
                <th>Date</th>
                <th>No.of Days</th>		
                <th>Leave Type </th>	
                <th>Reason for leave</th>
                <th colspan="2">Status</th>               											                 	                  										      		
              </tr>
            </tfoot>
          </table>						                											              		             
          </div>
        </div>
      </section>                           
    </div>
  </div>                          												  									
</div><!--panel panel-info-->		
   


<script>
$(function(){
  $("td a[id='modal-text']").click(function(){
    var content=$(this).prev().text();
    $("#modal_body_reason2").text(content);
  });
});
</script>



<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Reason for leave</h4>
      </div>
      <div class="modal-body">
        <span id="modal_body_reason2"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


