
                    <ul class="nav" id="side-menu">
                        
                        <li>
                             <a  href="/leave_histories"><i class="fa fa-history fa-fw"></i> My Leaves</a>
                        </li>
                        <li  id="active1">
                            <a href="/employee_leaves"><i class="fa fa-list fa-fw"></i> Employee Leaves <span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                                <% Department.all.each do |dept| %>
                                   <li>
                                   <%= link_to dept.department_name, employee_leaves_department_path(dept) %>
                                </li>
                                <% end %>
                                                                                      
                            </ul>
                        </li>
                      <% if  ReportingManager.where(:manager_id =>  current_user.employee.id) %>
                        <li>
                            <a href="/reported_leaves"><i class="fa fa-list fa-fw"></i> Reporting Info<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Reporting Leaves", leave_types_path %>
                                </li>
                               
                                <li>
                                   <%= link_to 'Reporting Manager', events_path %>
                                </li>
                            </ul>
                        </li>
                      <% end %>
                        <li id="active">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Leave-Types", leave_types_path %>
                                </li>
                               
                                <li>
                                   <%= link_to 'Holidays', events_path %>
                                </li>
                                <li>
                                   <%= link_to 'Departments', departments_path %>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
														<a href="/departments/holiday_list"><i class ="fa fa-calendar fa-fw"></i>Holiday Calendar</a>
														
                        </li>
                        <li>
														<a href="#"><i class ="fa fa-navicon"></i> Remaining Leaves</a>														
                        </li>
                    </ul>


