<div class="panel panel-info">
	<div class="panel-heading">							
    Leaves  <a href="/departments" class=" pull-right "><i class="fa fa-arrow-circle-left pull-right icon-position"> </i> Back to Departments</a>       
  </div>
  <div class="panel-body">	  
    <% if @leaves.present? %>                  
    <div class="adv-table">
      <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
        <thead>
          <tr>
            <th>Full Name</th>
	          <th>Leave Date</th>
	          <th>No of Days</th>													
	          <th>Leaves Type</th>
	          <th width="400px"> Reason </th>
	          <th>Leaves Balance</th>													
	          <th>Status</th>
	          <th>Reporting Manger</th>													
          </tr>
        </thead>		      
        <tbody>		
        	<% @leaves.each do |f| %>								
          <tr>               
            <td> <%= f.employee.full_name %></td>
            <td> <%= format_date(f.from_date) %> to <%= format_date(f.to_date) %>  </td>
            <td> <%= f.days %> </td>
            <td> <%= f.leave_type.type_name if f.leave_type.present? %>  </td>
            <td> <%= f.reason %> </td> 
            <td><%= total_balance_leaves(f.employee) %></td>												  
            <td> <%= f.status %> </td>
            <td> <%= f.employee.reporting_manager%></td>
          </tr>
          <% end %>
        </tbody>      	
	    </table>
	  </div>            
		<% else %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          You have No Leaves Requests 
    </div>                                   
		<% end %>										
  </div>
</div>
