<h3 class="title">Show Department</h3><br><hr>
<p><b>Department Name:</b><%= @department.department_name %></p></br>
<%= link_to "Edit", edit_department_path(@department),:class => "btn btn-success " %>&nbsp;&nbsp;
<%= link_to "Show All", departments_path,:class => "btn btn-info " %>&nbsp;&nbsp;
<%= link_to "Back", departments_path,:class => "btn btn-warning "%>&nbsp;&nbsp;
<hr>

<h3>Employees under this Department </h3><hr>
<% @employees.each do |employee| %>
Employee Name: <%= link_to employee.first_name, employee_path(employee) %><br>
<%# link_to 'Back', departments_path %>
<% end %>

<%= link_to "Add New Employee", add_employee_designation_path(@department)%>
