<div class="module">	
  <div class="box-title">   		 
    <div class="module-head">
      <h3>New Posts</h3>  
    </div>                                            
  </div>
  <div class="module-body">	
    <% if @welcome_albums.present? %>	  
      <% @welcome_albums.each do |welcome_album| %>
     <div class="control-group" style="min-height:50px;">
        <strong><%= welcome_album.employee.full_name %></strong>&nbsp;added 
        <strong><%= pluralize(welcome_album.photos.count, 'photo') %></strong> to
        <strong><a href="<%= album_path(welcome_album) %>"><%= welcome_album.title %></a></strong>
     </div>
     <% end %>
     <div id="paginator">
        <%= paginate @welcome_albums, :remote => true, :param_name => 'page3' %>
     </div>                                               					
  <% else %>

    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        There are no events
    </div>
 
  <% end %>	
  </div><!--module-body-->
</div><!--module-->
