<div class="module">
 <%= render 'employees/my_info'%>
</div><!--/.module --> 


<div class="module">
  <div class="module-head">							
    <h3>Reporting</h3>   
  </div>

  <div class="module-body exp">
    <table class="table table-striped table-hover text" id="test">					      
      <tr>
        <th>Report-to</th>
        <td><%= @employee.reporting_manager %></td>
      </tr>
      <tr>
        <th>Reporting-to-me</th>
        <td>
        <% i = 0%>
          <% @reportee_employees.each do |emp|%>          
          <tr >
            
            <td></td>
            <td><%= emp.full_name %></td>
          </tr>
          <% i+=1 %>
          <% end %>
        </td>        
      </tr>                       
    </table>
    <% if i>2 %>
    <i class="glyphicon glyphicon-sort btn" style="margin-left:300px;"></i> <br>
    <% end %>
  </div><!--/.module-body -->
</div><!--/.module -->      
                                                           
<div class="module">
  <%= render 'employee_attendence/my_login_out'%>  
</div><!--/.module --> 
                                
<div class="module">
  <div class="module-head">							
    <h3>My Leaves</h3>   
  </div>

  <div class="module-body exp">
  <% if @employee.group.present? && @employee.group.leave_policy.present? %>
    <table class="table table-striped table-hover" id="sample-table-2"> 
  											      
        <tr>
          <th>Leaves-Earned</th>         
          <td> <%= pluralize(total_leaves(@employee)+0, 'day') %> </td>
        </tr>
        <tr>
          <th>Leaves Utilized</th>
          <td><%= pluralize(total_used_leaves(@employee)+0, 'day') %></td>
        </tr>  
         <tr>
          <th>Balance Leaves</th>
          <td><%= pluralize(total_balance_leaves(@employee)+0, 'day') %></td>
        </tr>  
         <tr>
          <th>Upcoming Leaves</th>
          <td>
            <% if @latest_leave.present? %>
            <ul>
            <% @latest_leave.each do |leave|%>
            <li><b>Days : <%= leave.days%></b> , <b>FROM</b> <%= format_date(leave.from_date.to_date) %> <b>TO</b> <%= format_date(leave.to_date.to_date)%></li>
            <%end%>
            </ul>
            <% end %>
          </td>
        </tr>               
    </table> 
   <% else %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         Your leave policy did not set,  please contact HR
    </div>
   <% end %>   
  </div><!--/.module-body -->
</div><!--/.module -->  
        
      
<script type="text/javascript">
  $("#test tr:nth-child(n+5)").hide()
    $('.btn').click(function(){  
       $(".btn").show();
      $("#test tr:nth-child(n+5)").toggle()
  });
</script>

