<header class="header white-bg" style="background: #FF6C60;" >          
    <!--logo start-->
    <div class="navbar-header" id="font">
        <a class="navbar-brand" href="/"><font style="">AmzurHRM</font></a>
    </div>
    <!--logo end-->
   
      
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder="Search">
            </li>
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <% if current_user.present? && current_user.employee.avatar_url.present? %>		  
            <%= image_tag current_user.employee.avatar_url,  :class=> "nav-avatar", :style => "width:30px;height:30px" %> 
         <% else %>
           <% if current_user.employee.gender == "Female" %>
              <%= image_tag "1.jpg", :class=> "nav-avatar", :style => "width:30px;height:30px" %> 
           <% else %>
              <%= image_tag "user.png", :class=> "nav-avatar", :style => "width:30px;height:30px" %> 
           <% end %>
         <% end %>
                    <span class="username"><%= current_user.employee.full_name %></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                    <li><%= link_to ' Logout', destroy_user_session_path, :method => :delete, :class=> "fa fa-key" %></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            <li class="sb-toggle-right">
                <i class="fa  fa-align-right"></i>
            </li>
        </ul>
    </div>       
</header>
      
<style>
ul.top-menu > li > a{
  color:#fff;
  border:0px solid #fff !important;
}
.nav .dropdown-toggle .caret{
  border-top-color:#fff;
}
</style>             
    
