<div class="status-on-wall">
  <section class="panel">
    <div class="panel-body">  
      <div class="fb-user-thumb">        
        <% if post.employee.avatar_url.present? %>
          <%= link_to image_tag(post.employee.avatar_url,size: "60x20") %>
        <% else %>
          <% if post.employee.gender == "Female" %>
            <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
          <% else %>
            <%= image_tag("user.png", :width => "60px", :height => "60px") %> 
          <% end %>
        <% end %>
      </div>
      <div class="fb-user-details">
        <h3><a href="#"><%= link_to post.employee.full_name, profile_employee_path(post.employee), :target => "/blank" %></a></h3>
        <p><%= time_ago_in_words(post.created_at)%> ago</p>                         
      </div>
      <div class="clearfix"></div>  
      <p class="fb-user-status"><%= post.status %></p>
      
      <div class="fb-status-container fb-border">
        <div class="fb-time-action">
          <!--<a href="#" >Likes(<%# post.likes_count %>)</a>
          <span>-</span>-->
          <a href="#" >Comments(<%= post.comments.count %>)</a>
         
          <% if current_user.employee.id == post.employee.id %> <span>-</span>
            <%= link_to "Delete", status_path(post.id), method: :delete, data: {confirm: "Are You sure?"} %>
          <% end %>
          <span>-</span>
          <% if post.likes.where(:employee_id => current_user.employee.id, :is_like => true).first %>  
            <%= link_to 'Unlike', remove_like_status_path(post.id, :employee_id => current_user.employee), :method => "post" %> </span> </h5>
          <% else %> 
            <%= link_to 'Like', add_like_status_path(post.id, :employee_id => current_user.employee), :method => "post" %></span> </h5>
          <% end %>
        </div>
      </div>
 <div class="fb-status-container fb-border fb-gray-bg">
        <div class="fb-time-action like-info">
          <% if post.likes.present? %>
            <% post.likes.limit(2).each do |like| %>
            <a href="#"><%= like.employee.full_name %>,</a>
            <% end %>                       
            <% if post.likes.count >= 3 %>
              <span class="like">and</span>
              <a href="#" class="employee_like"><%= (post.likes.count) - 2 %> more</a>
            <% end %>            
            <span>likes this</span>
            <div class="employee_like_list hidden">
              <ul>
              <% post.likes.each do |like| %>
                <li><a href="#"><%= like.employee.full_name %></a></li>
              <% end %>   
              </ul> 
            </div>         
          <% end %>                      
        </div>

        <ul class="fb-comments">
        <!--<%# if post.comments.count > 3 %>
          <%# link_to "Show Previous Comments", status_path(post.id) %>            
        <%# end %>-->
        <% post.comments.each do |comm| %> 
          <li>
            <a href="#" class="cmt-thumb">
              <% if comm.employee.avatar_url.present? %> 
                <%= image_tag(comm.employee.avatar_url,:style=>"width:40px!important; height:40px;") %>
              <% else %>
                 <% if comm.employee.gender == "Female" %>
                <%= image_tag("1.jpg", :style=>"width:40px!important; height:40px;") %> 
             <% else %>
                <%= image_tag("user.png", :style=>"width:40px!important; height:40px;") %> 
             <% end %> 
            <% end %>
          </a>
          <div class="cmt-details">         
              <a href="#"> <%= link_to comm.employee.full_name , profile_path(comm.employee), :target => "/blank" %></a>
              <span> <%=comm.comment %> </span>
              <p><%= time_ago_in_words(comm.created_at)%> ago</p>
          </div>
        </li>        
        <% end %>
        <li><%= render "statuses/add_comment_form",  :status => post.id%></li>                    
      </ul>
      <div class="clearfix"></div>
    </div>        
                                                                                                                                                         
    </div>
  </section>   
</div>


	<script>
	  $(function(){
	    $(".read-more").click(function(){
	      $(".length").hide();
	      $(".total_status").show();
	    });
	    
	    $(".show-less").click(function(){
	      $(".total_status").hide();
	      $(".length").show();
	    });
	    
	  });		 
	</script>
	
<script>

$(".employee_like").hover(function(){
    $('.employee_like_list').removeClass('hidden');
},function(){
    $('.employee_like_list').addClass('hidden');
});
  
</script>

<style>
.hidden{
visibility: hidden;
}
.employee_like_list{
margin-left:300px;
margin-top:-100px;
}
</style>
