<!-- page start-->
<div class="row">
  <div class="col-md-8">
    <section class="panel">
      <div class="cover-photo">  
        <div class="fb-timeline-img">
          <%=image_tag "ofc_day_out1.jpg" %>
        </div>
        <div class="fb-name">
          <h2><a href="#"><%= current_user.employee.full_name %></a></h2>
        </div>       
      </div>
      <div class="panel-body">
        <div class="profile-thumb">                
          <% if current_user.present? && current_user.employee.avatar_url.present? %>		  
            <%= image_tag current_user.employee.avatar_url,  :class=> "nav-avatar" %> 
          <% else %>
            <% if current_user.employee.gender == "Female" %>
              <%= image_tag "1.jpg", :class=> "nav-avatar" %> 
            <% else %>
              <%= image_tag "user.png", :class=> "nav-avatar" %> 
            <% end %>
          <% end %>							
        </div>
       <a href="#" class="fb-user-mail"><%= current_user.email %></a>
      </div>
    </section>            
    <section class="panel">
      <div class="new_status">
        <%= render 'statuses/form' %>
      </div>
      <div class="new_album">
        <%= render 'albums/form' %>
      </div>        
    </section>
    <div class="panel-body posts" >
      <%= render "welcome/posts"%>                      
    </div>    
  </div><!--"col-md-8-->

<!--Notifications-->
  

<div class="col-md-4">
    <div class="fb-timeliner">
      <h2 class="recent-highlight">Bulletin Board <span class="pull-right"><%= link_to ' Add Event',  new_amzur_event_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %></span></h2>
        <div class="panel-body" >
        <ul>
        <% @notifications.each do |notification| %>                    
          <li class="active">
          <% if notification.class.name == "AmzurEvent" %>
            <div class="col-lg-8" style="padding:2px;"><strong><%= link_to " "+"#{notification.title}", "#eventsModal", :class => " fa fa-bell event_show event-show_#{notification.id}", :url => amzur_event_path(notification), "data-toggle" => "modal" %></strong></div>
            <div class="col-lg-4" style="margin-top:5px;" ><%= time_ago_in_words(notification.created_at)%> ago </div>
          <% elsif notification.class.name == "Announcement" %>
            <div class="col-lg-8" style="padding:2px;"><strong><%= link_to " "+"#{notification.title}", "#announcementModal", :class => " fa fa-bullhorn announcement-show event-show_#{notification.id}", :url => announcement_path(notification.id), "data-toggle" => "modal" %> </strong></div>
            <div class="col-lg-4" style="margin-top:5px;" ><%= time_ago_in_words(notification.created_at)%> ago </div>
          <% else notification.class.name == "Recruitment" %>
            <div class="col-lg-8" style="padding:2px;"><strong> <%=link_to " "+"#{notification.title}", recruitments_path, :class => "fa fa-briefcase" %></strong></div>
            <div class="col-lg-4" style="margin-top:5px;" ><%= time_ago_in_words(notification.created_at)%> ago </div>
          <% end %>
          </li>  
        <% end %> 
        </ul>                   
      </div>                  
    </div>
                            	           
    <div class="fb-timeliner">
      <h2 class="recent-highlight">My Recent Posts <span class="pull-right"></span></h2>      
        <% if @current_emp_posts.present? %>	
        <div class="text-scroll">
        <ul>
          <% @current_emp_posts.first(3).each do |post| %>             
            <li class="active">           
              <% if post.class.name == "Album" %>
                <% if post.present? && post.employee.avatar_url.present? %>
                    <%= image_tag post.employee.avatar_url, :width => "60px", :height => "60px" %>
                  <% else %>
                    <% if post.employee.gender == "Female" %>
                      <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
                    <% else %>
                      <%= image_tag "user.png", :width => "60px", :height => "60px" %> 
                    <% end %>                    
                  <% end %> 
                    <%= post.title%>
              <% else post.class.name == "Status" %>
              <% if post.present? && post.employee.avatar_url.present? %>
                    <%= image_tag post.employee.avatar_url, :width => "60px", :height => "60px" %>
                  <% else %>
                    <% if post.employee.gender == "Female" %>
                      <%= image_tag("1.jpg", :style => "width:60px;height:60px;") %> 
                    <% else %>
                      <%= image_tag "user.png", :width => "60px", :height => "60px" %> 
                    <% end %>
                    <% end %>
                <%= post.status %>
              <% end %>           
            </li>
          <% end %>	
        </ul></div>
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            There are no status
          </div>    
        <% end %> 
      </div>                                                                       
  </div><!--col-md-4-->
</div><!--row-->  
<style>
  /* See license.txt for terms of usage */
  /** reset styling **/
  .row .wall-layout{
    margin-left:200pximportant;
  }
  .jdesc,.idesc{
    height:40px;
    overflow:hidden;
    font-weight:normal;
  }
  .pt4{
    border-left: 0px solid #d3d7dd!important;
    float: right;
  }
  .slick-track > .slick-slide .slick-active{
    width:100px!important;
  }
  .slick-prev, .slick-next{
    background: rgb(113, 195, 235);
  }
  input[type="text"]{
    padding :15px;
  }
  .total_status{
    padding:5px;
    margin-left:30px;
  }
  .album-title{
    color:#FF6C60 !important
  }
  
  .text-scroll{
    overflow-y: auto;
    max-height:300px;
  }
  
  .text-scroll ul li a:first-child{
  border-left: 4px solid #d3d7dd;
  }
  .text-scroll ul li a,.text-scroll ul li a:hover{
  border-left: 4px solid #f1f2f7;
  }
  .fb-timeliner .panel-body ul li.active{
  margin-left: -20px;
  height:50px!important;
  }
  .fb-timeliner ul li.active a{
  border-left: 5px solid #f1f2f7;
  color: #428bca;
    } 
  
</style>

<script>
  $(function() {
    $( document ).tooltip();
    $(".group1").colorbox({rel:'group1', transition:"none", width:"75%", height:"75%"});
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>


