<!-- page start-->
<div class="row">
    <div class="col-md-9">
      <section class="panel">
        <div class="cover-photo">  
          <div class="fb-timeline-img">
            <%=image_tag "ofc_day_out1.jpg" %>
          </div>
          <div class="fb-name">
            <h2><a href="#"><%= current_user.employee.full_name %></a></h2>
          </div>       
        </div>
        <div class="panel-body">
          <div class="profile-thumb">                
            <% if current_user.present? && current_user.employee.avatar_url.present? %>		  
              <%= image_tag current_user.employee.avatar_url,  :class=> "nav-avatar" %> 
            <% else %>
              <% if current_user.employee.gender == "Female" %>
                <%= image_tag "1.jpg", :class=> "nav-avatar" %> 
              <% else %>
                <%= image_tag "user.png", :class=> "nav-avatar" %> 
              <% end %>
            <% end %>							
          </div>
         <a href="#" class="fb-user-mail"><%= current_user.email %></a>
        </div>
      </section>            
      <section class="panel">
        <div class="new_status">
          <%= render 'statuses/form' %>
        </div>
        <div class="new_album">
          <%= render 'albums/form' %>
        </div>        
      </section>
      <div class="panel-body posts" >
        <%= render "welcome/posts"%>                      
      </div>    
    </div><!--"col-md-9-->

<!--Notifications-->
   <div class="col-md-3">
    <div class="fb-timeliner">
      <h2 class="recent-highlight">Events <span class="pull-right"><%= link_to ' Add New',  new_amzur_event_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %></span></h2>
      <div class="text-scroll">
        <% if @welcome_event.present? %>	
          <ul>
            <% @welcome_event.each do |welcome_event| %>             
              <li class="active">
                <div class="col-lg-8" style="padding:2px;"><strong><%= link_to welcome_event.title, "#eventsModal", :class => " event_show event-show_#{welcome_event.id}", :url => amzur_event_path(welcome_event), "data-toggle" => "modal", :id => "eventModal" %></strong></div>
                <div class="col-lg-4" style="font-size:9px;margin-top:5px;" ><%= time_ago_in_words(welcome_event.created_at)%> ago </div>
               
                <!--<div class="control-group">
                  <label class="idesc" for="basicinput"> <%= raw welcome_event.description %></label>                
                </div>
                <%#link_to "Continue..", "#eventsModal", :class => "btn btn-link event_show event-show_#{welcome_event.id}", :url => amzur_event_path(welcome_event), "data-toggle" => "modal", :id => "eventModal" %>-->
              </li>
            <% end %>	
          </ul>
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            There are no events
          </div>    
        <% end %> 
      </div>                                                                
    </div>   
                                  

    <div class="fb-timeliner">
      <h2 class="recent-highlight">Announcements
        <% if current_user.department == Department::HR %>
          <span class="pull-right">
            <%= link_to ' Add New',  new_announcement_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px;color:white" %>
          </span>
        <%end%>  
      </h2>
      <div class="text-scroll">
        <% if @welcome_announcements.present? %>
          <ul>
            <% @welcome_announcements.each do |welcome_announcement| %>
              <li>
                <div class="col-lg-8" style="padding:2px;"><a href="#"><strong><%= link_to welcome_announcement.title, "#announcementModal", :class => "announcement-show event-show_#{welcome_announcement.id}", :url => announcement_path(welcome_announcement.id), "data-toggle" => "modal" %></strong></a></div>
                <div class="col-lg-4" style="font-size:9px;margin-top:10px;"> <%= time_ago_in_words(welcome_announcement.created_at)%> ago</div>
                
                <!--<div class="control-group">
                  <label class="idesc" for="basicinput"><%# raw welcome_announcement.description %> </label>
                </div>      -->             
              </li>         
            <% end %>
          </ul>      
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            There are no announcements
          </div>
        <% end %> 
      </div>
    </div>	<br>  
    <div class="fb-timeliner">      
      <h2 class="recent-highlight">Job Openings
        <% if current_user.department == Department::HR %>
          <span class="pull-right">
            <%= link_to ' Add New',  new_recruitment_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %>
          </span>
        <%end%>
      </h2>

      <div class="text-scroll">
        <% if @welcome_recruitments.present? %>
          <ul>
            <% @welcome_recruitments.each do |welcome_recruitment| %>
              <li>
              <div class="col-lg-8" style="padding:2px;"><a href="#"><strong><%= link_to welcome_recruitment.title , recruitments_path %></strong></a></div>
                <div class="col-lg-4" style="font-size:9px;margin-top:10px;"> <%= time_ago_in_words(welcome_recruitment.created_at)%> ago</div>
                                                      
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            There are no Job Openings
          </div>     
        <% end %>
      </div>

    </div>                	          
   </div><!--col-md-3-->
 </div><!--row-->
 
<style>
  /* See license.txt for terms of usage */
  /** reset styling **/
  .row .wall-layout{
    margin-left:200pximportant;
  }
  .jdesc,.idesc{
    height:40px;
    overflow:hidden;
    font-weight:normal;
  }
  .pt4{
    border-left: 0px solid #d3d7dd!important;
    float: right;
  }
  .slick-track > .slick-slide .slick-active{
    width:100px!important;
  }
  .slick-prev, .slick-next{
    background: rgb(113, 195, 235);
  }
  input[type="text"]{
    padding :15px;
  }
  .total_status{
    padding:5px;
    margin-left:50px;
  }
  .album-title{
    color:#FF6C60 !important
  }
  
  .text-scroll{
    overflow-y: auto;
    max-height:300px;
  }
  
  .text-scroll ul li a:first-child{
  border-left: 4px solid #d3d7dd;
  }
  .text-scroll ul li a,.text-scroll ul li a:hover{
  border-left: 4px solid #f1f2f7;
  }
  
</style>

<script>
  $(function() {
    $( document ).tooltip();
    $(".group1").colorbox({rel:'group1', transition:"none", width:"75%", height:"75%"});
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>

<script>
  $(function(){
    $('.event_show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>
<!-- Button trigger modal -->
<script>
  $(function(){
    $('.announcement-show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>





<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"  class="modal fade eventsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <div class="modal-body event_show_body">
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Announcement</h4>
      </div>
      <div class="modal-body announcement_show_body">
      </div>
    </div>
  </div>
</div>


