<%# params.inspect %>
<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span6">	
			</div>
			<div class="span6" style="margin-left:10px;">	
			 <% if @welcomeevent.present? %>			 
		    <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Events</h3>  
            </div>                                            
          </div>
          <% @welcomeevent.each do |welcomeevent| %>
          <div class="module-body">	
               <div class="control-group">
                  <a href="#"><strong><%= welcomeevent.title %> </strong> </a> on <a href="#"><strong> <%= format_date (welcomeevent.held_on) %> </strong></a>
               </div>
               <div class="control-group">
                  <label class="desc" for="basicinput"> <%= raw welcomeevent.description %></label>
               </div>                                           
          </div><!--module body--> 
          <% end %>						
		    </div><!--module--> 
		    <% end %>	
		    	
		    <% if @welcomeannouncements.present? %>	    
		    <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Announcements</h3>  
            </div>                                            
          </div>
          <% @welcomeannouncements.each do |welcomeannouncements| %>
          <div class="module-body"> 	
             <div class="control-group">
                <a href="#"><strong><%= welcomeannouncements.title %> </strong></a> on 2-12-2014
             </div>
             <div class="control-group">
                <label class="desc" for="basicinput">  <%= raw welcomeannouncements.description %> </label>
             </div>       
          </div><!--module body-->
          <% end %>						
		    </div><!--module-->
		    <% end %>
		    
		    <% if @welcomerecruitments.present? %>		    				
		    <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Job Openings</h3> 
            </div>                                            
          </div>
          <% @welcomerecruitments.each do |welcomerecruitments| %>
          <div class="module-body">	
             <div class="control-group">
                <a href="#"><strong><%= welcomerecruitments.title %>  - <%= welcomerecruitments.jobcode %></strong></a>
             </div>
             <div class="control-group">
                <a href="#"><%= welcomerecruitments.link %></a>
                <label class="desc" for="basicinput"> <%= raw welcomerecruitments.description %></label>                  
                <span class="pt4">posted 2 days ago</span>
             </div>                     
          </div><!--module body-->
          <% end %>						
		    </div><!--module-->
		    <% end %>		
			</div><!--2nd Sapn6-->
		</div>
	</div>				
</div>	



<style type="text/css">
.box-title{
border-radius: 2px 2px 0px 0px;
padding: 13px 20px 0px 20px;
background-color: #91dff3 !important;
padding-bottom: 13px;
}

a:hover{
text-decoration:none;
}

.control-label:hover{
cursor: text;
}
.pt4{
margin-top:-10px;
float: right;
padding-top:10px;
}

.desc{
width:550px;
height:40px;
overflow:hidden;
}
hr{
padding-bottom:-25px;
}
</style>
