<!-- page start-->

  <div class="row">
    <div class="col-md-9">
      <section class="panel">
        <div class="cover-photo">  
          <div class="fb-timeline-img">
            <%=image_tag "fb-img.jpg" %>
          </div>
          <div class="fb-name">
              <h2><a href="#"><%= current_user.employee.full_name %></a></h2>
          </div>       
        </div>
        <div class="panel-body">
          <div class="profile-thumb">                
            <% if current_user.present? && current_user.employee.avatar_url.present? %>		  
              <%= image_tag current_user.employee.avatar_url,  :class=> "nav-avatar" %> 
            <% else %>
            <% if current_user.employee.gender == "Female" %>
              <%= image_tag "1.jpg", :class=> "nav-avatar" %> 
            <% else %>
              <%= image_tag "user.png", :class=> "nav-avatar" %> 
            <% end %>
            <% end %>							
          </div>
          <a href="#" class="fb-user-mail"><%= current_user.email %></a>
        </div>
      </section>            
      <section class="panel">
        <div class="new_status">
          <%= render 'statuses/form' %>
        </div>
        <div class="new_album">
          <%= render 'albums/form' %>
        </div>        
      </section>
      
      <div class="panel-body posts">
        <%= render "welcome/posts"%>                      
      </div>    
    </div><!--"col-md-9-->
    
    <!--Notifications-->
    <div class="col-md-3">
      <div class="fb-timeliner">
        <h2 class="recent-highlight">Events <span class="pull-right"><%= link_to 'Add New',  new_amzur_event_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %></span></h2>
        <% if @welcome_event.present? %>	
        <ul>
          <% @welcome_event.each do |welcome_event| %>
          <li class="active"><a href="#"><strong><%= welcome_event.title %> </strong> on<strong> <%= format_date (welcome_event.held_on) %> </strong></a>
          <p> <%= time_ago_in_words(welcome_event.created_at)%> ago</p>
            <div class="control-group">
              <label class="idesc" for="basicinput"> <%= raw welcome_event.description %></label>                
            </div>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Continue..</button> 
            <%#= link_to "Continue..", amzur_event_path(welcome_event), :class => "pt4" %> <br>
          </li>
          <% end %>	
        </ul>
          <% else %>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                There are no events
            </div>    
          <% end %>                                                                  
      </div>                                     
      <div class="fb-timeliner">
        <h2 class="recent-highlight">Announcements
        <% if current_user.department == Department::HR %>
          <span class="pull-right">
            <%= link_to 'Add New',  new_announcement_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %>
          </span>
        <%end%>  
         </h2>
        <% if @welcome_announcements.present? %>
        <ul>
          <% @welcome_announcements.each do |welcome_announcement| %>
            <li>
              <a href="#"><strong><%= welcome_announcement.title %> </strong></a> <p><%= time_ago_in_words(welcome_announcement.created_at)%> ago</p>
              <div class="control-group">
                <label class="idesc" for="basicinput"><%= raw welcome_announcement.description %> </label>
              </div>
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Continue..</button>               
              <%#= link_to "Continue..", announcement_path(welcome_announcement), :class => "pt4" %><br>
            </li>         
          <% end %>
        </ul>      
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              There are no announcements
          </div>
        <% end %> 
      </div>	  	    
      <div class="fb-timeliner">      
        <h2 class="recent-highlight">Job Openings
          <% if current_user.department == Department::HR %>
            <span class="pull-right">
              <%= link_to 'Add New',  new_recruitment_path, :class => "fa fa-plus-circle", :style=> "font-size: 12px; color:white" %>
            </span>
          <%end%>
        </h2>
        <% if @welcome_recruitments.present? %>
        <ul>
           <% @welcome_recruitments.each do |welcome_recruitment| %>
            <li>
              <a href="#"><strong><%= welcome_recruitment.title %>  - <%= welcome_recruitment.jobcode %></strong></a><p><%= time_ago_in_words(welcome_recruitment.created_at)%> ago</p>
              <div class="control-group">
                <%= welcome_recruitment.link %><br>
                 <%= link_to 'Continue..', "#mymodel",  :class => "btn btn-link welcome_recruitment ",   :url => recruitment_path(welcome_recruitment), :iid => welcome_recruitment.id, "data-toggle" => "modal", :id => "#{welcome_recruitment.id}"   %>   
                           
                <%#= link_to "Continue..", recruitment_path(welcome_recruitment), :class => "pt4", :data-toggle => "modal", :data-target => "#myModal" %>                                  
              </div><br>
           </li>
           <% end %>
        </ul>
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              There are no Job Openings
          </div>     
        <% end %>	
      </div>                	          
    </div>
  </div>

<!-- page end-->
<style>
/* See license.txt for terms of usage */
/** reset styling **/
.row .wall-layout{
margin-left:200pximportant;
}
.jdesc,.idesc{
height:40px;
overflow:hidden;
font-weight:normal;
}
.pt4{
border-left: 0px solid #d3d7dd!important;
float: right;

}

.slick-track > .slick-slide .slick-active{
width:100px!important;
}

.slick-prev, .slick-next{
background: rgb(113, 195, 235);
}

 input[type="text"]{
 padding :15px;
 }
 
.total_status{
padding:5px;
margin-left:50px;
}

.album-title{
  color:#FF6C60 !important
}
</style>

<script>
  $(function() {
    $( document ).tooltip();
  });

    $(function() {
  $(".group1").colorbox({rel:'group1', transition:"none", width:"75%", height:"75%"});
  
   $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
  });
  $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
  });
      
  
  });
  </script>
  
  
  
  
  
  
  
  
  
  
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

