<div class="row">                                             
  <div class="col-lg-12">
    <section class="panel panel-info">
      <header class="panel-heading">
        List Of Holidays
        <% if current_user.department == Department::HR %>                                                 
          <i class="fa fa-plus pull-right" style="margin-top:3px;"></i><%= link_to " New Holiday", new_event_path, :class=>"pull-right" %>
        <% end %>        
      </header>
    <div class="panel-body">
      <section id="unseen">  	                       
      <% if current_user.department == Department::HR %>               
        <strong>Download:</strong>
        <%= link_to "CSV", events_path(format: "csv") %> |
        <%= link_to "Excel", events_path(format: "xls") %>                  
        <%# link_to 'Send As Email', holiday_notification_path, :class => "btn btn-success pull-right " %>            
        <% end %>
                  
        <% if @events.present? %>     
        <div class="adv-table">                                                                                                       
          <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
            <thead>											      
              <tr>
                <th>Holiday</th>
                <th>Date</th>
                <th>Actions</th>															            									      		
              </tr>
             </thead>              
             <tbody>
               <% @events.each do |event| %>
               <tr class="gradeA">               
                <td><%= event.event_name %></td>
                <td><%= format_date(event.event_date) %></td>
               <% if current_user.department == Department::HR %>
                <td>
                   <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-success " %>
                   <%= link_to "Delete", event_path(event.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
               </td>
              <% end %>
              </tr>
              <% end %>
            </tbody>                        
          </table>
        </div>                                                                                                                          
        <% else %>   
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No Holidays to display.
        </div>
       <% end %>                    

        </section>                
  </div><!--/.span9-->   
   </section>                
  </div><!--/.span9-->                
</div><!--/.row-->

            
            
            
<script>
	$(document).ready(function() {
		$('.datatable-2').dataTable({
        "aaSorting": [[1,'asc']]
    });
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>                               
                       
