      <div class="row">
  <div class="col-lg-12">
    <section class="panel panel-info">
      <header class="panel-heading">
        Work Shifts        
       <% if current_user.department == Department::HR %>
         <i class="fa fa-plus pull-right" style="margin-top:3px;"></i><%= link_to "New Work Shift", new_shift_path, :class =>" pull-right" %>
       <% end %>       
      </header>
  <div class="panel-body">
    <section id="unseen">
      <% if @shifts.present? %>                                           
  <table class="table table-bordered table-striped table-condensed" id="sample-table-2">
    <thead>											      
      <tr>
        <th> Work Shift Name</th>
        <th> From Time</th>	
        <th> To Time</th>
        <th> Actions</th>							      		
      </tr>
    </thead>
    <tbody>
        <% @shifts.each do |shift| %>
        <tr>               
          <td><%=shift.name %></td>
          <td><%= shift.from_time %></td>
          <td><%= shift.to_time %></td>
          <td>
            <% if current_user.department == Department::HR %>
                 <%= link_to 'Edit', edit_shift_path(shift.id), :class => "btn btn-success" %>
                <%= link_to 'Delete', shift_path(shift.id), method: :delete ,data: {confirm: "Are You sure?"}, :class => "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 
    </section>
  </div>
  <% else %>                                            
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        No Work Shifts to display.
    </div>
  <% end %>
</div>
