

<div id="page-wrapper">
                <div class="row">
                <div class="col-lg-12">
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee Leave Details 
                        </div>
                        <div class="panel-body">
   
                                 <%= form_for ([@employee, @leave]) do |f| %>
                                        
                                        <div class="form-group">
                                            <label>Personal Leaves carry Forward :</label>
                                            <%= f.text_field :pl_carry_forward_prev_year,  :class => "form-control",:required =>true %>
                                        </div>
                                        <div class="form-group">
                                            <label>Personal Leaves For Current Year :</label>
                                            <%= f.text_field :pl_applied,  :class => "form-control",:required =>true %>
                                        </div>
                                        <div class="form-group">
                                            <label>Sick Leaves For Current Year :</label>
                                            <%= f.text_field :sl_applied,  :class => "form-control",:required =>true %>
                                        </div>
                                        <div class="form-group">
                                            <label>Total Loss of Pay Leaves For Current Year :</label>
                                            <%= f.text_field :lop_applied,  :class => "form-control",:required =>true %>
                                        </div>
                                       
                                       <ul class="navigation-btns" style="list-style: none;display:inline;">
                                           <li> <%= f.submit  'Save', :class => "btn btn-success pull-left" %></li>
                                            
                                         </ul> 
                                                    
                                    <% end %>
                         
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
         </div>
          <!-- /#page wrapper -->
