
			          <div class="module">
				          <div class="module-head">
					          <h3>Address Details</h3>
						      </div>						    
						      <div class="module-body"> 
                   <%= form_tag job_location_path, :method => :patch, :data => {:toggle => "validator"} do   %>
	                	<div class="control-group">
                      <label class="control-label" for="basicinput">Address Line 1</label>
                      <div class="controls">
                       
                        <%= text_field_tag :line, @address.line, :placeholder=> "Enter Address Line 1",:data => {:error => "Please Enter Address Line 1"}, :required => true %>
                         <span class="help-block with-errors"></span>
                      </div>
	                 </div>	
								    
								    
								     <div class="control-group">
                    <label class="control-label" for="basicinput">Address Line 2</label>
                        <div class="controls">
                          <%= text_field_tag :line1,  @address.line1, :placeholder=> "Enter Address Line 1",:data => {:error => "Please Enter Address Line 1"}, :required => true%>  
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">City</label>
                        <div class="controls">
                          <%= text_field_tag :city,  @address.city,  :placeholder=> "Enter City",:data => {:error => "Please Enter City Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div>
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">State</label>
                        <div class="controls">
                          <%= text_field_tag :state,  @address.state, :placeholder=> "Enter State",:data => {:error => "Please Enter State Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>   
                           <span class="help-block with-errors"></span>
                        </div>
							    </div>
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">Country</label>
                        <div class="controls">
                          <%= text_field_tag :country,  @address.country,  :placeholder=> "Enter Country",:data => {:error => "Please Enter Country Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">ZipCode</label>
                        <div class="controls">
                          <%= text_field_tag :zipcode,  @address.zipcode,  :placeholder=> "Enter ZipCode",:data => {:error => "Please Enter ZipCode ", :minlength => "6", :maxlenght => "6"}, :type => "number", :required =>true %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 								
								                                                                             
                <%= submit_tag "Update", :class => "btn btn-success" %>
                 <%= link_to 'Cancel', job_locations_path(@job_locations), :class => "btn btn-danger" %>
                   <% end %>							                   
						    </div><!--/.module-body-->
					    </div><!--/.module-->
		




			<script>
			  $(function(){
          $(".address-edit-form").validator();
         });  
			</script>

