<div class ="row">
<div class ="col-lg-12">
<section class="panel panel-info">
  <div class="panel-heading"> 
    Address Details
  </div>        
  <div class="panel-body">
    <%= form_tag job_locations_path, :method => :post, :class => "form-horizontal", :data => {:toggle => "validator"} do   %> 
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Address Line 1</label>
            <div class="col-lg-10">
              <%= text_field_tag :line, nil, :class => "span8 form-control", :placeholder=> "Enter Address Line 1",:data => {:error => "Please Enter valid Address Line 1"}, :required => true%> 
          <span class="help-block with-errors"></span>
                
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Address Line 2</label>
            <div class="col-lg-10">
              <%= text_field_tag :line1,  nil, :class => "span8 form-control", :placeholder=> "Enter Address Line 2",:data => {:error => "Please Enter valid Address Line 1"}, :required => true%>  
         <span class="help-block with-errors"></span>
            </div>
        </div>
        
         <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">City</label>
            <div class="col-lg-10">
             <%= text_field_tag :city, nil, :class => "span8 form-control", :placeholder=> "Enter city",:data => {:error => "Please Enter valid City"}, :required => true%> 
         <span class="help-block with-errors"></span>
            </div>
        </div>
         <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">State</label>
            <div class="col-lg-10">
        <%= text_field_tag :state, nil, :class => "span8 form-control", :placeholder=> "Enter State",:data => {:error => "Please Enter valid State "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
        <span class="help-block with-errors"></span>
            </div>
        </div>
         <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Country</label>
            <div class="col-lg-10">
                    <%= text_field_tag :country, nil, :class => "span8 form-control", :placeholder=> "Enter Country",:data => {:error => "Please Enter valid Country "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
        <span class="help-block with-errors"></span>
                
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">ZipCode</label>
            <div class="col-lg-10">
                  <%= text_field_tag :zipcode, nil, :class => "span8 form-control", :placeholder=> "Enter ZipCode",:data => {:error => "Please Enter valid ZipCode "}, :pattern => '[0-9]{5,6}', :required =>true %> 
        <span class="help-block with-errors"></span>
                
            </div>
        </div>   
        <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label"></label>
          <div class="col-lg-4" style="margin-left:27px;">              
            <%= submit_tag "Save",:class => "btn btn-success" %>
            <%= link_to 'Cancel', job_locations_path(@job_locations), :class => "btn btn-danger" %>   
         </div>          
        </div>     
    <% end %>
  </div>
</section>
</div>
</div>

			<script>
			  $(function(){
          $(".address-edit-form").validator();
         });  
			</script>

<% title "Job Locations" %>

