<section class="panel">        
  <header class="panel-heading tab-bg-dark-navy-blue">
    <ul class="nav nav-tabs nav-justified ">
      <li class="active"><a href="#bank_info" data-toggle="tab">Bank Details</a></li>
    <li><a href="#salary_structure" data-toggle="tab">Salary Structure</a></li>
    </ul>
  </header>                                                                                                     
  <div class="profile-tab-content tab-content">
    <div class="tab-pane fade active in" id="bank_info">
      <% if @employee.account_number.present? %>
        <%= render 'employees/bankdetails_show' %>
      <% else %>       
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Salary Not Yet Created please contact HR 
        </div>
      <% end %>
    </div>
    
    <div class="tab-pane fade" id="salary_structure">             
	    <div class="panel-body">
	    <% unless @salary.new_record? %>                                       
        <table class="table table-striped table-bordered table-condensed" >
         <thead>             
            <tr style="color:black">
              <th>Particulars</th>
              <th>Yearly Value(INR)</th>
              <th>Monthly Value(INR)</th>
            </tr>											      
            <tr>
              <th>Basic</th>
              <td><%= @salary.basic_salary %></td>
              <td><%= monthly(@salary.basic_salary) %></td>
            </tr>
             <tr>
             <% if @salary.hra.present? %>
              <th>HRA</th>
              <td><%= @salary.hra %></td>
              <td><%= monthly(@salary.hra) %></td>
            </tr>
            <% end %>
            <% if @allowances.present? %>
              <% allowance_total = 0.0 %>
				      <% @allowances.each do |allowance| %>																	
	             <tr>		 								             
					       <th><%= allowance.allowance_name %></th> 													   								          								               <% if allowance.is_deductable %>
                    <td><%= allowance.total_value %></td>
                    <td><%= monthly(allowance.total_value) %></td>
                    <% allowance_total -= allowance.total_value %>                  
                <% else %>
                    <td><%= allowance.total_value %></td>
                    <td><%= monthly(allowance.total_value) %></td>
                    <% allowance_total += allowance.total_value %>
                  <% end %>
               </tr>             
              <% end %>
              <% end %>
            <tr>            
              <th>Special Allowance</th>
				       <%  if @salary.special_allowance.present? %>
			           <td><%= @salary.special_allowance%></td>
			           <td><%= monthly(@salary.special_allowance) %></td>				      
			         <%else%>			     
			           <td>You have no special allowance</td>			        	
			      	 <%end%>
				    </tr>
				    				    
				    <tr style="color:black">
		          <th>Total Fixed Cash</th>	
		          <td><%= (@salary.basic_salary.to_f) + (@salary.special_allowance.to_f) + allowance_total.to_f %></td>
		          <td><%= ((@salary.basic_salary.to_f + @salary.special_allowance.to_f + allowance_total.to_f)/12).round(2) %> </td>				      
					  </tr>
			      
			      <% if @salary.pf_apply == "true"%>
				      <tr>
					      <th>PF</th>
					      <td><%= @salary.pf %></td>
					      <td><%= monthly(@salary.pf) %></td>
				      </tr>
			      <% end %>
			      <% if @salary.esic_apply == "true"%>
			        <tr>
					      <th>ESIC</th>
					      <td><%= @salary.esic %></td>
					      <td><%= monthly(@salary.esic) %></td>
				      </tr>
				    <% end %>	
					  <tr>			               
              <th>Gratuity</th>
              <td><%= @salary.gratuity %></td>
              <td><%= monthly(@salary.gratuity) %></td>
            </tr>  
				  
				  
				    <tr style="color:black">
		          <th>Total Fixed Compensation</th>	
		          <% total_compensation = @salary.pf.to_f + @salary.esic.to_f + @salary.gratuity.to_f + @salary.basic_salary.to_f + @salary.special_allowance.to_f + allowance_total.to_f %>
		          <td><%= total_compensation %> </td>
		          <td><%= monthly(total_compensation)%> </td>				      
					  </tr>
					   <% if @salary.bonus.present? %>
					   <tr>
					    <th>Bonus</th>
					    <td><%= @salary.bonus %></td>
					    <td><%= monthly(@salary.bonus) %></td>
				    </tr>
				    <% end %>
				    <% if @salary.medical_insurance.present? %>
				    <tr>
					    <th>Medical Insurance</th>
					    <td><%= @salary.medical_insurance %></td>
					    <td><%= monthly(@salary.medical_insurance) %></td>
			      </tr>
			      <% end %>
				    <tr style="color:black;">
					    <th>CTC</th>
					    <td><%= @salary.ctc_fixed %></td>
					    <td><%= monthly(@salary.ctc_fixed) %></td>
				    </tr>				    				    			  				  				    
				    
				    <!--<th>Gross Salary</th>
					    <td><%# @salary.gross_salary %></td>
					    <td><%# monthly(@salary.gross_salary) %></td>
			      </tr>               
            <%# if @salary.pf_apply == "true"%>
				      <tr>
					      <th>PF Contribution</th>
					      <td><%# @salary.pf_contribution %></td>
					      <td><%# monthly(@salary.pf_contribution) %></td>
				      </tr>
			      <%# end %>			     				                
				    <%# if @salary.esic_apply == "true"%>
				      <tr>
					      <th>ESIC Contribution</th>
					      <td><%# @salary.esic_contribution %></td>
					      <td><%# monthly(@salary.esic_contribution) %></td>
				      </tr>
				    <%# end %>-->		   				  
        </thead>
      </table>
    <!-- /.col-lg-6 (nested) -->
      <% else %>              
    
        <div class="alert alert-success alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Salary Not Yet Created please contact HR 
        </div>
        <% end %>                   
     </div>
                                
    </div>  
  </div>
        
</section>


