<%= @salary.errors.full_messages.first if @salary.errors.any? %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">      
      <div class="panel-body">
        <%= form_for ([@employee, @salary]), :html => {:class=> "edit-salary-form"}, :remote => true do |f| %>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Gross Salary </label>
              <div class="col-lg-8">
                <%= f.text_field :gross_salary,  :class=>"form-control", :placeholder => "Enter Gross Salary", :data => {:error => "Please Enter valid Gross Salary value"}, :type => "number", :required => true %>   
                <div class="help-block with-errors"></div> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Bonus</label>
              <div class="col-lg-8">
                <%= f.text_field :bonus, :class=>"form-control",:placeholder => "Enter Bonus ", :data => {:error => "Please Enter valid Bonus value"}, :type => "number", :required => true %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Gratuity</label>
              <div class="col-lg-8">
                <%= f.text_field :gratuity, :class=>"form-control",:placeholder => "Enter Gratuity", :data => {:error => "Please Enter valid Gratuity value"}, :type => "number", :required => true %>   
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-lg-2" for="basicinput">Medical Insurance</label>
              <div class="col-lg-8">
                <%= f.text_field :medical_insurance, :class=>"form-control",:placeholder => "Enter Medical Insurance", :data => {:error => "Please Enter valid Medical Insurance value"}, :type => "number", :required => true %>   
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-success">Save </button>
              <!--<li><%#link_to 'Cancel', employee_educations_path(@employee), :class=>"btn btn-danger ", :remote => true %></li>-->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
$(".edit-salary-form").validator();

});  
</script>			
