<div class="module">
  <div class="module-head">
    <h3>Salary Info</h3> 
     <% unless @salary.new_record? %>
  </div>
	<div class="module-body">                                       
    <table class="table table-striped table-bordered table-condensed">
     <thead>											      
        <tr>
          <th class="center">Gross Salary:</th>
          <th>Bonus:</th>	
          <th>Gratuity:</th>
					<th>Medical Insurance</th>
					<% if @salary.pf_apply == "true"%>
					  <th>PF</th>
					  <th>PF Contribution</th>
					<% end %>
					<% if @salary.esic_apply == "true"%>
					   <th>ESIC</th>
					   <th>ESIC Contribution</th>
					<% end %>
					<th>CTC</th>
					<th>Action</th>									      		
        </tr>
      </thead> 
      <tbody>
        <tr>               
          <td class="center"><%= @salary.gross_salary %></td>
          <td><%= @salary.bonus %></td>
					<td><%= @salary.gratuity %></td>
					<td><%= @salary.medical_insurance %></td>
           <% if @salary.pf_apply == "true"%>
				  <td><%= @salary.pf%></td>
				  <td><%= @salary.pf_contribution %></td>
					<% end %>
					<% if @salary.esic_apply == "true"%>
			    <td><%= @salary.esic %></td>
			    <td><%= @salary.esic_contribution %></td>
					<% end %>
					<td><%= @salary.ctc_fixed %></td>
          <td>
          <% if current_user.department == Department::HR %>  
            <ul class="navigation-btns pull-left">                                          
              <li><%= link_to 'Edit', edit_employee_salary_path(@employee, @salary), :class => "btn btn-success ", :remote => true %></li>
              <li><%= link_to 'Delete', employee_salary_path(@employee, @salary), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger ", :remote => true %></li>
						  <% if @salary.allowances.present?%>													
						  <li><%= link_to 'Configure', employee_salary_edit_allowance_path(@employee, @salary), :class => "btn btn-info ", :remote => true %></li>
						  <% else %>
						  <li><%= link_to 'Configure', employee_salary_configure_allowance_path(@employee, @salary), :class => "btn btn-info ", :remote => true %></li>
						  <% end %>              
              </ul>
            <% end %>  
          </td>
        </tr>
      </tbody>
    </table>
                                                     
                  <!-- /.col-lg-6 (nested) -->
              <% else %>              
              <% if current_user.department == Department::HR %>
                  <%= render 'salaries/form' %>
               <% else %><br> <br>
	              <div class="alert alert-success alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      Salary Not Yet Created please contact HR 
                </div>
								<% end %>               
              <% end %>
          </div>
         
           <div class="configure_allowance">     
           </div>
           <!-- Code for extra features in salaries -->
        <!-- Code for Allowances Display in salaries index -->  
         
           <% unless @salary.new_record? %> 
            <% if @allowances.present? %>                                            
					    <div id="allownaces"><br>
                <div class="module-head">
                        List of Allowances
                </div>
                <div class="module-body">  
			            <table class="table table-striped table-hover" id="sample-table-2">
				            <thead>											      
                       <tr>
                        <th>Allowance Name</th>
                        <th>Allowance</th>	                        										      		
                       </tr>
                     </thead> 
                     <tbody>
                       <% @allowances.each do |allowance| %>																	
						              <tr>		 								             
										        <td><%= allowance.allowance_name %></td> 													   								          								              
                            <% if allowance.value.present? %>													
                            <td><%= allowance_value(allowance.value, @salary.basic_salary)  %>
                            </td>
                            <% else %>
                            <td><%= allowance.allowance_value %>
                            </td>
                            <% end %>
                       </tr>
                        <% end %>
                     </tbody>                          
			             </table>
			            </div><!-- /.allowances -->	  
               </div><!-- /.allowances -->	
           <% else %>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  You have No Allowances to display.
            </div>
           <% end %>                              
        <% end %>
</div>
<script>
  $(function(){
    $("#insentives").hide();
    $(".increments").hide();


  });

  $(".bonus").click(function(){
    //$(".display").append("#insentives");
    $(".salaries").hide();
    $(".increments").hide();
    $("#allownaces").hide();
    $("#insentives").show();
    $(".salary").removeClass( "active" );
    $(".increment").removeClass("active");
    $(".bonus").addClass( "active" );
  });


  $(".increment").click(function(){
    $(".increments").show();
    $(".salaries").hide();
    $("#allownaces").hide();
    $("#insentives").hide();
    $(".salary").removeClass( "active" );
    $(".bonus").removeClass( "active" );
    $(".increment").addClass("active");
  });

</script>


