<div class="module">
            <div class="module-head" style="background-color: #82B4E6 ">
              <h3>pay slips
              </h3>
            </div>
            <div class="module-body">
              <div class="row-fluid">
               <div class="span6">
             <%= form_tag(salaries_employee_payslips_by_year_path,  :class => "form-horizontal", :remote => true) do %>
            
                <label><strong>Select Month to View payslip :&nbsp&nbsp </strong><br>
                <select name="payslip_view_year">
                  <option value=0>-select-</option>
                  <option>2014</option>
                </select> 
                <input type="submit" class="btn btn-success" value="View">                
           <% end %>  
               </div>
             </div></br>
                <% if @payslips.present? %>               
                <!-- code for displayin all employees payslips -->   
                <div class="employee_payslip">             
                <table class="table table-striped table-bordered table-condensed">
                   <thead>
                   <tr>
                      <th>Month</th>
                      <th>Year</th>
                      <th>Total Working days</th>
                      <th>Basic</th>
                      <th>Gross</th>
                      <th>Total Deductions</th>
                      <th>NetPay</th>
                    </tr>
                   </thead>
                   <% @payslips.each do |payslip| %>
                   <tbody>
                    <tr>
                      <td><%= link_to Date::MONTHNAMES[payslip.month], "/monthly_payslip_view/#{payslip.id}" %></td>
                      <td><%= payslip.year %></td>
                      <td><%= payslip.no_of_working_days%></td>
                      <td><%= payslip.basic_salary%></td>
                      <td><%= payslip.gross_salary %></td>
                      <td><%= payslip.total_deductions %></td>
                      <td><%= payslip.netpay %></td>
                    </tr>
                   </tbody>
                       <% end %> 
                </table>
                </div> 
                 <% else %>
                  <% if flash[:notice] %>
                    <div class="alert alert-danger alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                <% end %>           
              </div>
            </div><!--/.module-->
