          <!-- code for edit employee payslips -->
           <table class="table table-striped table-hover" id="sample-table-2">
            <tr>
              <th>Employee-id</th>
              <th>Employee Name</th>
              <th>Department</th>
            </tr>
             <tr>
              <td><%= @payslip.employee.id %></td>
              <td><%= @payslip.employee.full_name %></td>
              <td><%= @payslip.employee.department.department_name %></td>
            </tr>
           </table><hr/>
                <%= form_tag("/payslip/#{@payslip.id}", method: :put, :remote => true, :class => "payslip-form form-horizontal row-fluid ") do %>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">No.of.Working Days</label></th>
                    <div class="controls">
                      <%= text_field_tag :working_days, (params[:working_days] or @payslip.working_days) %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Basic Salary</label></th>
                    <div class="controls">
                      <%= text_field_tag :basic_salary, @payslip.basic_salary, :disabled => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Gross Salary</label></th>
                    <div class="controls">
                      <%= text_field_tag :gross_salary, @payslip.gross_salary, :disabled => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">PF</label></th>
                    <div class="controls">
                      <%= text_field_tag :pf, @payslip.pf, :disabled => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Esic</label></th>
                    <div class="controls">
                      <%= text_field_tag :esic, @payslip.esic, :disabled => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Arrears</label></th>
                    <div class="controls">
                      <%= text_field_tag :arrears, @payslip.arrears %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Proffesional Tax</label></th>
                    <div class="controls">
                      <%= text_field_tag :pt, @payslip.pt %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">TDS</label></th>
                    <div class="controls">
                      <%= text_field_tag :tds, @payslip.tds %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Total Deductions</label></th>
                    <div class="controls">
                      <%= text_field_tag :total_deductions, @payslip.total_deductions, :disabled => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Net Pay</label></th>
                    <div class="controls">
                      <%= text_field_tag :netpay, @payslip.netpay, :disabled => true %>
                    </div>
                  </div>
                  <%= hidden_field_tag('total_working_days',@payslip.no_of_working_days) %>
                  <table class="table table-striped table-hover" id="sample-table-2">
							<thead>
								<tr>
									<th>Allowance</th>
									<th>percentage</th>
									<th>value</th>
								 <tr/>
							 </thead>	
							 <tbody>
                  <% @payslip_allowances.each do |allowance, i| %>
										<%= fields_for "payslip_allowances[]", allowance do |f| %>  
										  <%# raise payslip_allowance.inspect %>
											<tr>
                          <td><%= allowance.allowance_name %></td>
												<% if allowance.value.present? %>
												  <td><%= allowance.value %></td>
												  <td><%= allowance_value(allowance.value, @payslip.basic_salary) %></td>
												<% else %>
												  <td>---</td>
												  <td> <%= allowance.allowance_value %></td>
												<% end %>
											</tr>
										 <% end %>
									  <% end %> 
                 
               </tbody>
              </table><br/>
              <%= link_to 'view payslip', "/payslip/#{@payslip.id}", :class => "btn btn-success pull-right" %><br/>
             <% end %>
             
             
             <script>
  $(function(){
    $("#working_days").change(function(){
      $(".payslip-form").submit();
    });
    $("#arrears").change(function(){
      $(".payslip-form").submit();
    });
    $("#pt").change(function(){
      $(".payslip-form").submit();
    });
    $("#tds").change(function(){
      $(".payslip-form").submit();
    });
  });
</script>
