<div class="module">
			<div class="module-head">
				<h3>Allowances Applicable</h3>
			</div>
			<div class="module-body">
		<table class="table table-striped table-bordered table-condensed">
     <thead>											      
        <tr>
          <th class="center">Gross Salary:</th>
          <th>Bonus:</th>	
          <th>Gratuity:</th>
					<th>Medical Insurance</th>
			   </tr>
			</thead> 
      <tbody>
        <tr>               
          <td class="center"><%= @salary.gross_salary %></td>
          <td><%= @salary.bonus %></td>
					<td><%= @salary.gratuity %></td>
					<td><%= @salary.medical_insurance %></td>
			   </tr>
			</tbody>
		</table>
			<div>
			<div class="module-body">
        <%= form_tag employee_salary_configure_path(@employee, @salary), :remote => true do %>
        <table class="table table-striped table-hover" id="sample-table-2">											      
          
           <tr>
             <td>Basic</td>
             <td><%= @salary.basic_salary %></td>
             <td></td>
            </tr>
            <tr>
              <td>PF</td>
              <td><%= pf(@salary, @salary_percentages) %></td>
              <td><input type="checkbox" name="Pf"></td>
            </tr> 
            <tr>
              <td>ESCI</td>
              <td><%= esic(@salary, @salary_percentages) %></td>
              <td><input type="checkbox" name="Esci"></td>
             </tr>
                 <%= submit_tag "Submit", :class => "btn btn-success pull-right" %>     
					 </table>
					   
					<% end %>
				</div><!-- /module body -->
</div><!-- /module -->

