<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head" style="background-color: #82B4E6 ">
              <h3>PayRoll for <%= Date::MONTHNAMES[@payslip.month] %>,<%= @payslip.year %></h3>
              <label style="margin-top:-20px;" class = "pull-right"><a href="/salaries/payslips_list"><i class="icon-circle-arrow-left"></i> Back to PayRoll </a></label>
            </div><br>
            <div class="module-body">
                <!-- code for displayin all employees payslips -->
                  <table class="table table-striped">
                    <tr>
                      <th>Month&Year:</th>
                      <td width="280px;"><%= Date::MONTHNAMES[@payslip.month] %>&nbsp<%= @payslip.year%></td>
                      <th>Number Of Working Days:</th>
                      <td><%= Time.days_in_month(Time.now.month-1,Time.now.year) %></td>
                    </tr>
                    <tr>
                      <th>Employee-id:</th>
                      <td width="280px;"><%= @payslip.employee.employee_id %>:</td>

                      <th>Department:</th>
                      <td><%= @payslip.employee.department.department_name %></td>
                    </tr>
                    <tr>
                      <th>Name:</th>
                      <td width="280px;"><%= @payslip.employee.full_name %></td>5
                      <th>PF.NO:</th>
                      <td><%= @payslip.employee.PFAccountNumber %></td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td width="280px;"><%= @payslip.employee.job_location.address.city %></td>
                      <th>PAN NO:</th>
                      <td><%= @payslip.employee.pan %></td>
                    </tr>
                    <tr>
                      <th>Mode:</th>
                      <td width="280px;"><%= @payslip.mode%></td>
                      <th>A/C NO:</th>
                      <td><%= @payslip.employee.account_number%></td>
                    </tr>
                  </table>
                  <table class="table table-striped" >
                    <tr>
                      <td>
                      <table class="table" >
                        <tr>
                         <th colspan="2" class="change">Earnings</th>
                        </tr>                      
                        <tr>
                          <th>Basic:</th>
                          <td ><%= @payslip.basic_salary %></td>
                        </tr>
                        <% @payslip.allowances.each do |allowance|%>
                          <% unless allowance.is_deductable %>
                        <tr>
                          <th ><%= allowance.allowance_name %></th>
                          <td > <%= allowance.total_value %></td>
                        </tr>
                        <% end %>
                      <% end %>
                        <tr>
                          <th>Special Allowance</th>
                          <td><%= @payslip.special_allowance %></td>
                        </tr>
                        <tr>
                          <th>Arrears</th>
                          <td><%= @payslip.arrears %></td>
                        </tr>                                                                                            
                      </table>  
                     </td>                        
                     <td>
                       <table class="table">
                          <tr class="change">
                            <th colspan="2">Deductions</th>
                          </tr>
                          <tr>
                            <th>TDS:</th>
                            <td><%= @payslip.tds %></td>

                            <th>Charity Contribution</th>
                            <td></td>
                          </tr>                                                 
                        </table>  
                        </td>
                      </tr>                      
                  </table>  
                  <table class="table table-striped">
                      <tr class="change">
                        <th>TOTAL: </th>
                        <td><%= @payslip.gross_salary %></td>
                        <th>TOTAL: </th>
                        <td><%= @payslip.total_deductions %></td>
                      </tr>
                      <tr class="change">
                        <th>NetPay: </th>
                        <td><%= @payslip.netpay %>(INR) </td>
                        <th></th><th></th>
                      </tr> 
                 </table>                                                                                 
            </div>
          </div><!--/.module-->
        </div><!--/.content-->                    
      </div><!--/.span9-->                
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->

<style type="text/css">
  .table tr th {
    width:280px;
  }
  .table tr td {
    width:280px;
  }
  .change{
    color:black;
    background-color:rgba(60, 152, 165, 0.24);
    font-size:18px;
  }  
</style>
