
          <div class="module">
            <div class="module-head">
				      <h3>My Projects</h3>
				      <% if current_user.employee == @employee %>
 				      <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'New Project',  new_project_path, :remote => true %></label>
 				      <% end %>
				     </div> 
				      <div class="module-body">
				      <% if @projects.present? %>
				       <% @projects.each do |project| %>
           <div class ="row-fluid " style="border:solid 1px #eee;padding:10px;margin-top:10px;width:1100px">          
            <div class="span12" style="margin-left:20px;">		
              <div class="control-group span4">
                <label class="control-label" for="basicinput"><strong>Project Tille: </strong> <%= project.title %></label>                
              </div>
         	
              <div class="control-group span4">
                <label class="control-label" for="basicinput"><strong>Start Date: </strong> <%= project.start_date %></label>                
              </div>
      		
              <div class="control-group span4">
                <label class="control-label" for="basicinput"><strong>End Date: </strong> <%= project.end_date %></label>                
              </div>
            </div>
            
                                   
            <div class="span11">		
              <div class="control-group">
                <label class="control-label" for="basicinput"><strong>Description: </strong> <%= project.description %></label>                
              </div>
            </div>
            
            <div class="span11">
              <div class="span6">		
                <div class="control-group">
                  <label class="control-label" for="basicinput"><strong>Roles: </strong> <%= project.roles %></label>                
                </div>
              </div>
              
              <div class="span6">		
                <div class="control-group">
                  <label class="control-label" for="basicinput"><strong>Key Skills used: </strong> <%= project.skills %></label>                
                </div>
              </div>
            </div><br>
            <div class="span12">		
              <div class="control-group">
                <label class="control-label" for="basicinput"><strong>Tasks Performed: </strong> <%= project.tasks_performed %></label>                
              </div><br>
              <% if current_user.employee == project.employee %>
              <ul class="navigation-btns pull-left">            
 				        <li> <%= link_to 'Edit',  edit_project_path(project), :class => "btn btn-success", :remote => true %></li>
 				        <li><%= link_to "Delete", project_path(project.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger ", :remote => true %></li>
 				      </ul>
            </div>
     
            
 				      <% end %> 				                 
         </div>
         
         <% end %><br>
				      <%else%>
				      <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  No Projects to display.
              </div>
            <% end %> 	           
						</div><!--/.module-body-->
					</div><!--/.module-->
		
	
