<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        My Projects
        <% if current_user.employee == @employee %>
          <i class="fa fa-plus pull-right icon-position"></i> <%= link_to 'New Project',  new_project_path, :class => "pull-right", :remote => true %>
        <% end %>
      </div>
      <div class="panel-body">   
      <% if @projects.present? %>
        <% @projects.each do |project| %>
        <div class="col-md-12">
          <section class="panel">
              <header class="panel-heading" style="color:#41cac0;letter-spacing:1px;">
                  <%= project.title %>
              </header>
              <div class="panel-body">                  
                <p> <%= project.description %> </p>                             
                <br/>
                <h5 class="bold">Project Details</h5>
                <ul class="list-unstyled p-files">
                    <li><a href=""><i class="fa fa-user"></i>Role: <%= project.roles %></a></li>
                    <li><a href=""><i class="fa fa-calendar"></i>Start Date: <%= format_date(project.start_date) %></a></li>
                    <li><a href=""><i class="fa fa-calendar"></i>End Date: <%= format_date(project.end_date) %></a></li>
                    <li><a href=""><i class="fa fa-file"></i>Tasks: <%= project.tasks_performed %></a></li>
                </ul>
                <br/>

                <h5 class="bold">Skills: </h5>
                <ul class="p-tag-list">
                  <% project.skills.split(",").each do|skill| %>
                    <li><a href=""><i class="fa fa-tag"></i><%=skill %></a></li>
                  <% end if project.skills?%>                                        
                </ul>
                
                <div class="text-center mtop20">
                  <% if current_user.employee == project.employee %>         
                    <%= link_to 'Edit',  edit_project_path(project), :class => "btn btn-sm btn-primary", :remote => true %>
                    <%= link_to "Delete", project_path(project.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-sm btn-warning", :remote => true %>                 
                  <% end %>
                </div>                
              </div>

          </section>
        </div>
                                                   
          <% end %>
        <% else %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            No Projects to display.
          </div>
        <% end %>
       </div><!--/.panel-body-->            
    </div><!--/.panel-->
  </div>
</div>

