<div class="row">
<div class="col-lg-12">
<div class="panel">
	<div class="panel-heading">
		<h3>Experience Details</h3>
	</div>
	<div class="panel-body">
	  <%= form_for ([@employee, @experience]), :remote => true, :html => {:class=>"form-horizontal row-fluid"} do |f| %>			
      
      <div class="form-group">
        <label class="control-label col-lg-2" for="basicinput">Company Name</label>
          <div class="col-lg-8">
            <%= f.text_field :previous_company, :class => "form-control", :placeholder =>"Enter Company Name", :data => {:error => "Please enter Valid Company Name"}, :required => true, :pattern => '[a-zA-Z0-9/s ]*' %>
            <span class="help-block with-errors"></span>
          </div>
		  </div>
						        
      <div class="form-group">
        <label class="control-label col-lg-2" for="basicinput">Designation</label>
        <div class="col-lg-8">
          <%= f.text_field :last_designation, :class => "form-control", :placeholder =>"Enter Designation", :data => {:error => "Please Enter Valid Designation"}, :required => true, :pattern => '[a-zA-Z/./s ]*' %>
          <span class="help-block with-errors"></span>
        </div>
		  </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="basicinput">From Date</label>
        <div class="col-lg-8">
          <%= f.text_field :from_date, :class => "from form-control",:placeholder => "Select Date Of Joining", :data => {:error => "Please Enter valid Joining Date"}, :required => true %>
          <span class="help-block with-errors"></span>   
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="basicinput">To Date</label>
        <div class="col-lg-8">
          <%= f.text_field :to_date, :class => "to form-control", :id => "basicinput",:placeholder => "Select Date Of Relieving", :data => {:error => "Please Enter valid Relieving Date"}, :required => true %>
          <span class="help-block with-errors"></span>   
        </div>
      </div>

      <div class="form-group">		
			  <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit  'Save', :class => "btn btn-success " %>
          <%= link_to 'Cancel', employee_experiences_path(@employee), :class=>"btn btn-danger", :remote => true %>
        </div>
      </div>																
    <% end %>
  </div><!--/.module-body-->
</div><!--/.module-->
</div>
</div>

<!--<script>    
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' })
  });
</script>
-->
<script>
  $(function () {
    $(".from").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        maxDate: -0,
        yearRange: "-100:+0",
        onClose: function (selectedDate) {
          var date2 = $('.from').datepicker('getDate');
          date2.setDate(date2.getDate());
          $(".to").datepicker("option", "minDate", date2);
        }
    });

    $(".to").datepicker({
      dateFormat: 'dd/mm/yy', 
      maxDate: -0,
      yearRange: "-100:+0",
      changeMonth: true,
      changeYear: true
    });
  });
</script>

<script>
  $(function(){
    $("#new_experience").validator();
  });
</script>
