<!-- Author :Priyanka
 Form for creating new album along with its images. -->
<section class="panel panel-info">
  <div class="panel-heading">
    New Album
  </div> 
  <div class="panel-body">   
    <%= form_for Album.new do |f| %>
    <div class="row">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">Title:</label>
          <div class="col-lg-8">
            <%= f.text_field :title, :class => "form-control", :placeholder =>"Enter Title for Album", :data => {:error => "Please Enter Title for Album"}, :required =>true  %>                             
            <span class="help-block with-errors"></span>
          </div>
      </div>
    </div>
    <div class="row ">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">Description: </label>
        <div class="col-lg-8">
          <%= f.text_area :description, :class => "form-control", :placeholder =>"Enter description", :data => {:error => "Please Enter  description name"} %>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div> 
    
    <%= f.fields_for Photo.new do |photo| %>
    <div class="row">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">Upload Images: </label>
        <div class="col-lg-8">
          <%= photo.file_field :image, :onchange =>"validateFiles(this);", :multiple => true, name: "photos[image][]", :id => "image-input", :required => true %>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
    <% end %>	
    <div class="preview-area"></div><br><br>
   
    <footer class="panel-footer">              
      <ul class="nav nav-pills pull-right">
         <li><%= f.submit  'Save', :class => "btn btn-success " %></li>
        <li><%= submit_tag "Cancel", :class => "btn btn-danger status", :type => "button", :onclick => "this.form.reset()" %></li>             
      </ul>
      <ul class="nav nav-pills">
          <li>
              <a href="#"><i class="fa fa-map-marker"></i></a>
          </li>
          <li class="camera">
              <a href="#"><i class="fa fa-camera"></i></a>
          </li>
          <li>
              <a href="#"><i class=" fa fa-film"></i></a>
          </li>
          <li>
              <a href="#"><i class="fa fa-microphone"></i></a>
          </li>
      </ul>                         
    </footer>    		 
  <% end %>
  </div><!--/.module-body-->					  
</section>


<style>
.new-image-border{
margin-right:5px;
padding:2px;
border:solid 3px #ff766c;
}
</style>
<script>
$(function(){ 
  $(".status").click(function(){
    $(".new_status").show();
    $(".new_album").hide();
  });
});
</script>

<!--Script for showing added images in the form befor actually uploading into model
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<script language="javascript" type="text/javascript">
var inputLocalFont = document.getElementById("image-input");
inputLocalFont.addEventListener("change",previewImages,false);

function previewImages(){
    var fileList = this.files;
    
    var anyWindow = window.URL || window.webkitURL;

        for(var i = 0; i < fileList.length; i++){
          var objectUrl = anyWindow.createObjectURL(fileList[i]);
          $('.preview-area').append('<img  class="new-image-border" style="width:150px;height:150px;overflow:hidden;" src="' + objectUrl + '" />');
          window.URL.revokeObjectURL(fileList[i]);
        }
        
}
</script>


<!--Script to validate added images in the form befor actually uploading into model-->
<script>
 function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png is allowed";
  var allowedExtension = ["jpg","JPG", "JPEG", "jpeg", "gif", "GIF",  "png", "PNG",  ]; 
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}


</script>
