<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
						  <h3>Album</h3>	
						  <%= link_to "Add more photos", add_more_photos_form_album_path(@album)%>					  
					  </div>
					  <div class="module-body">
						  <p>
                <strong>Title:</strong>
                <%= @album.title %>
              </p>

              <% @photos.each do |photo| %>
                <%= image_tag photo.image_url, :width =>"100", :height => "100" %>
                <%= link_to "Delete", album_path(@album), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
              <% end %>

              <ul class="navigation-btns edit" >
							  <li><%= link_to 'Edit', edit_album_path(@album), :class=>"btn btn-success" %> </li>
							  <li><%= link_to 'Cancel',  albums_path, :class=>"btn btn-danger" %></li>
							</ul>             
								
						</div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
