<div class="row">
<div class="col-lg-12">
<section class="panel panel-info">
	<header class="panel-heading">
		<h4>Emergency Contact Info</h4>
	</header>

  <div class="panel-body">							                                              
    <%= form_for ([@employee, @emergency]), :remote => true,  :html => {:class=>"form-horizontal row-fluid new_emergency-contact-form"} do |f| %>		
    <div class="form-group">
      <label class="control-label col-lg-2">Name Of person</label>
      <div class="col-lg-8">
        <%= f.text_field :name, :class => "form-control", :placeholder =>"Enter Name", :data => {:error => "Please Enter Name "}, :required => true,:pattern => '[a-zA-Z/s ]*' %>  
        <span class="help-block with-errors"></span>
      </div>
    </div>				          
    
    <div class="form-group">
      <label class="control-label col-lg-2">Relationship with the Employee</label>
      <div class="col-lg-8">
        <%= f.text_field :relation, :class => "form-control", :placeholder =>"Enter Relationship", :data => {:error => "Please Enter Relationship"}, :required => true,:pattern => '[a-zA-Z/s ]*' %>
        <span class="help-block with-errors"></span>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-lg-2">Mobile 1</label>
      <div class="col-lg-8">
        <%= f.text_field :mobile1, :class => "form-control", :placeholder => "Enter Mobile Number", :data => {:error => "Please Enter Valid Mobile number"}, :required =>true, :pattern=> '[0-9]{10}' %> 
        <span class="help-block with-errors mobile-format"></span>   
      </div>
    </div>		 		
    <div class="form-group">
      <label class="control-label col-lg-2">Mobile2 </label>
      <div class="col-lg-8">
        <%= f.text_field :mobile2, :class => "form-control", :placeholder => "Enter Mobile Number",  :data => {:error => "Please Enter Valid mobile number"} %>
        <span class="help-block with-errors"></span>   
      </div>
    </div>					
    
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit  'Save', :class => "btn btn-success" %>
        <%= link_to 'Cancel', employee_emergency_contacts_path(@employee), :class=>"btn btn-danger", :remote => true %>
      </div>
    </div>		
   <% end %>
  </div><!--/.module-body-->
</section><!--/.module-->
</div>
</div>


<script>
  $(function(){
   $(".new_emergency-contact-form").validator();
   $("#emergency_contact_mobile1").click(function(){
    $(".mobile-format").html("");
   });
  });
</script>
