<div class="panel panel-info">
  <div class="panel-heading">							
    Emergency Contact Info
    <% if current_user.department == Department::HR %>                                       
        <label class = "pull-right"><a><i class="icon-plus-sign"></i></a> <%= link_to ' Add Emergency Contact', new_employee_emergency_contact_path(@employee.id), :remote => true %></label>
    <% end %>
  </div>                   
  
  <div class="panel-body">	
    <% if @emergency.present? %>				                                   
    <table class="table table-bordered">
      <thead>											      
        <tr>
          <th>Name Of Person</th>
          <th>Relation Ship With Person </th>	
          <th>Mobile1 </th>
          <th>Mobile2</th>
          <th>Action</th>														            									      		
        </tr>
      </thead>			      
      <% @emergency.each do |emergency| %>
      <tbody>
        <tr>               
          <td><%= emergency.name %></td>
          <td> <%= emergency.relation %> </td>
          <td> <%= emergency.mobile1 %> </td>
          <td> <%= emergency.mobile2 %> </td>
          <% if current_user.department == Department::HR %>
          <td> 
            <ul class="navigation-btns">
              <li><%= link_to 'Edit', edit_employee_emergency_contact_path(@employee.id, emergency.id), :class => "btn btn-success pull-left", :remote => true %></li>
              <li><%= link_to "Delete", employee_emergency_contact_path(@employee.id, emergency), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger", :remote => true %></li>
            </ul>
          </td>
          <% end %>
        </tr>
      </tbody>
      <% end %>			      
    </table>                                                                                                                              
    <% else %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      You have No Emergency contact Details to display.
    </div>
    <% end %>      
  </div> 						
</div>                                
                         
