<h4>Add Increments</h4>
<%= form_for ([@employee, @salary, @salary_increment]), :remote => true do |f| %>
  Increment Date: <%= f.date_field :increment_date%>&nbsp&nbsp
  Increment Value: <%= f.text_field :increment_value %></br>
  <%= f.submit  'save' %>
  <%= f.submit 'save&new' %>
 <% end %>
