<!-- Author :Priyanka
 View for displaying all existing Leaves and Events -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>Company Calendar</h3>              
					  </div>
					  <div class="module-body">
					    <div id='calendar'>	
					      <label><strong>Leaves:</strong></label>
					      <% if @all_leaves.present? %>
					        <% @all_leaves.each do |leave| %>
					          <%= leave.employee.full_name %>	from	
					          <%= leave.from_date %> to
					          <%= leave.to_date %>
					        <% end %>
				        <% else %>
			            <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Leaves to display.
                  </div>
				        <% end %>	
				        <label><strong>Holdays:</strong></label>
				        <% if @all_holidays.present? %>
				          <% @all_holidays.each do |holiday| %>
				            <%= holiday.event_name %>
				            <%= holiday.event_date %><br>
				          <% end %>
				        <% else %>
			            <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Events to display.
                  </div>
				        <% end %>			      
					    </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
