<div class="row">
  <div class="col-lg-12">
    <section class="panel panel-info">
      <header class="panel-heading">
        Tax Exemptions <%= link_to "New Tax Exemption", new_tax_exemption_path, :class => "pull-right" %> 
      </header>
      <div class="panel-body">
        <section id="unseen">
          <% if @tax_exemptions.present? %>                                           
          <table class="table table-bordered table-striped table-condensed" id="sample-table-2">
		        <thead>											      
			        <tr>
				        <th>Gender</th>
				        <th>Exemptions Limit</th>	
				        <th>Action</th>						      		
			        </tr>
		        </thead>          
		        <tbody>
		          <% @tax_exemptions.each do |tax| %>
			          <tr>               
				          <td><%= tax.gender %></td>
				          <td><%= tax.exemption_limit %></td>
				          <td>
                    <% if current_user.department == Department::HR %>
				                 <%= link_to 'Edit', edit_tax_exemption_path(tax), :class => "btn btn-success" %>
				                <%= link_to 'Delete', "#", method: :delete ,data: {confirm: "Are You sure?"}, :class => "btn btn-danger" %> 
							      <% end %>
							    </td>
			          </tr>
              <% end %>
		        </tbody>
	        </table>
	        <% else %>
	          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                No Tax Exemptions to display
            </div>
	        <% end %>
	      </section>
	    </div>
	  </section>
  </div>
</div>
          
