<div class="panel panel-info">
  <div class="panel-heading"> 
     Address Proof       
  </div><!--/.module-head-->
  <div class="row"> 
    <div class="col-md-12">
      <section class="panel">         
        <div class="panel-body">               
          <% if @address1.present? && @address2.present? %>  
          <div class="col-lg-12">
            <div class="form-group">
              <label  class="col-lg-1 control-label">Date:</label>
              <div class="col-lg-10">
              <%= format_date(Time.now.to_date) %>
              <span class="help-block with-errors"></span> 
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group" style="text-align:center;">                                        
              <u><b>TO WHOMSOEVER IT MAY CONCERN</b></u>
              <span class="help-block with-errors"></span>
           </div>                  
         </div>         
         <div class="col-lg-12">
           <div class="form-group">                                         
             <p>This is to certify that <b> <%= current_user.employee.title %>.<%= current_user.employee.full_name %> </b> is a bonafide employee and is working as <b><%= current_user.employee.designation.designation_name if current_user.employee.designation.present? %></b> since <b><%= format_date(current_user.employee.date_of_join)%></b>, for Amzur Technologies Pvt Ltd and as per the company records the residential address of him is as mentioned below.</p>
              <span class="help-block with-errors"></span>
           </div>                  
         </div>
         <div class="col-lg-6">
           <div class="form-group">
             <p><b>Present Address </b></p><br>
             <p><%= @address1.line %>, <%= @address1.line1 %>,</p>
             <p><%= @address1.country %>, </p>
             <p> Pin/Zip:<%= @address1.zipcode %>.</p>
           </div>
         </div>
         <div class="col-lg-6">
           <div class="form-group">
             <p><b>Permanent Address </b></p><br>
             <p><%= @address2.line %>, <%= @address2.line1 %>,</p>
             <p><%= @address2.country %>, </p>
             <p> Pin/Zip:<%= @address2.zipcode %>.</p>
           </div>
         </div>                                                                                                                
         <div class="col-lg-12">
           <div class="form-group">
             <p>Yours sincerely,</p><br>
             <p><label> <%= @hr_manager %>, </label></p>
             <p> Human Resources </p>
           </div>
        </div>                     
        <div class="panel-body">
          <%= link_to "Save as PDF ", "/letters/address_proof_letter.pdf", :class => "btn btn-success" %>
          <%= link_to " Send to My Mail", address_notification_path, :class => "btn btn-info" %>                                    
       </div>                                                                                                            
      <% else %>
         <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             Please Contact HR Manager, You don't have Present/Permenant Address.
         </div>   
      <% end %>  
      </section>
    </div>
  </div>
</div>
     
<style>
   .outing{
   width:1000px;   
   margin-left:100px;
   margin-top:50px;
   }
     
</style>
