<div class="panel panel-info">
  <div class="panel-heading"> 
     Salary Certificate       
  </div><!--/.module-head--> 
    
  <div class="panel-body">               
  <% if @salary.present? %>      
    <div class="col-lg-12">
      <div class="form-group">
        <label  class="col-lg-1 control-label">Date:</label>
        <div class="col-lg-10">
        <%= format_date(Time.now.to_date) %>
        <span class="help-block with-errors"></span> 
      </div>
    </div>
      <div class="col-lg-12">
        <div class="form-group" style="text-align:center;">                                        
          <u><b>TO WHOMSOEVER IT MAY CONCERN</b></u>
          <span class="help-block with-errors"></span>
        </div>                  
      </div>         
      <div class="col-lg-12">
       <div class="form-group">                                        
         <p>This is to certify that <b> <%= current_user.employee.title %>.<%= current_user.employee.full_name %> </b> is a bonafide employee and is working as <b><%= current_user.employee.designation.designation_name if current_user.employee.designation.present? %></b> since <b><%= format_date(current_user.employee.date_of_join)%></b>, for Amzur Technologies Pvt Ltd and as per the company records the residential address of him is as mentioned below.</p>
         <span class="help-block with-errors"></span>
       </div>                  
     </div>
     <div class="col-lg-12">
       <div class="form-group">                                        
         <p>As per our records his / her Salary details in Indian Rupee is as follows :</p>
         <span class="help-block with-errors"></span>
       </div>                  
     </div>
     
    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">BASIC:</label>
          <div class="col-lg-6">
            <%= (@salary.basic_salary/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>

    <% if @salary.allowances.present? %>
      <% @salary.allowances.each do |allowance| %>
        <div class ="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label  class="col-lg-6 control-label"><%= allowance.allowance_name %>:</label>
              <div class="col-lg-6">
                <%= (allowance.total_value/12).round(2) %>
                <span class="help-block with-errors"></span> 
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
     
    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">ADDITIONAL ALLOWANCE:</label>
          <div class="col-lg-6">
            <%= (@salary.special_allowance/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>

    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">PROVIDENT FUND:</label>
          <div class="col-lg-6">
            <%= (@salary.pf/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>             
                
    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">GRATUITY:</label>
          <div class="col-lg-6">
            <%= (@salary.gratuity/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>

    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">QPLC:</label>
          <div class="col-lg-6">
            <%= (@salary.bonus/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>

    <div class ="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label  class="col-lg-6 control-label">MONTHLY GROSS:</label>
          <div class="col-lg-6">
            <%= (@salary.gross_salary/12).round(2) %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12"><br>
      <p>This certificate is issued at employee request.</p>
      <p>For Verification of this letter, you can get in touch with (Mail ID): <b>hr@amzur.com</b></p><br>
      <p><b>Amzur Technologies</b></p><br>
      <p>AUTHORISED SIGNATORY</p><br>                             
    </div> 
    
    <div class="panel-body">                                                          
      <%= link_to "Save as PDF ", "/letters/salary_certificate.pdf", :class => "btn btn-success" %>
      <%= link_to " Send to My Mail", salary_notification_path, :class => "btn btn-info" %>
      <%# link_to " Back", letters_path, :class => "btn btn-banger" %>
    </div>
    <% else %>
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           Please Contact HR Manager, You don't have Salary Details.
       </div>   
    <% end %>                
  </div><!--/.container-->	
</div><!--/.Wrapper-->


<style>
   .outing{
   width:1000px;   
   margin-left:100px;
   margin-top:50px;
   }
     
</style>
