<div class="panel panel-info">  
  <div class="panel-heading">             
    New Review Element             
  </div>
  <div class="panel-body">
    <%= form_for @review_element, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}, remote: true  do |review| %>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">   
            <label class="col-lg-1 control-label" for="basicinput">Title</label>
            <div class="col-lg-6">
              <%= review.text_field :review_element, :class => "form-control", required: true %>
              <span class="help-block with-errors"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">   
            <label class="col-lg-1 control-label" for="basicinput">Performance Indicator</label>
            <div class="col-lg-6">
              <%= review.text_field :performance_indicator, :class => "form-control", required: true %>
              <span class="help-block with-errors"></span>
            </div>
          </div>
        </div>
      </div>              
     <!--   <div class="control-group">   
          <label class="control-label" for="basicinput">Employee Assesment</label>
          <div class="controls">
            <%# review.text_field :employee_assesment %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
        <div class="control-group">   
          <label class="control-label" for="basicinput">Employee Rating</label>
          <div class="controls">
            <%# review.text_field :employee_rating %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
        <div class="control-group">   
          <label class="control-label" for="basicinput">Manager Feedback</label>
          <div class="controls">
            <%# review.text_field :manager_feedback %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
        <div class="control-group">   
          <label class="control-label" for="basicinput">Manager Rating</label>
          <div class="controls">
            <%#review.text_field :manager_rating  %>
            <span class="help-block with-errors"></span>
          </div>
        </div> -->
    <%= review.submit 'Create', :class => 'btn btn-success' %>
    <%= link_to 'Cancel', review_elements_path, :class=>"btn btn-danger" %>  
    <% end %><br/>
  </div><!--/.module-body-->
  
  <% title "Appraisal Review Elements" %>
