
                 
                      <section class="panel">
                          <header class="panel-heading">
                             Work Group
                          </header>
                          <div class="panel-body">
                               <%= form_for @workgroup,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid shift_from"} do |w| %>
              <div class="form-group">
                <label class="control-label col-lg-2">Work Group Name</label>
                <div class="col-lg-8">
                  <%= w.text_field :name, :class => "form-control ", :placeholder =>"Enter Work Group Name", :data => {:error => "Please Enter Work Group Name"}, :required => true %>
                  <span class="help-block with-errors"></span>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-lg-2" for="basicinput">Work Group Description</label>
                <div class="col-lg-8">
                  <%= w.text_area :description, :class => "form-control time-picker", :placeholder =>"Enter Description ", :data => {:error => "Please Enter Description  "}, :required => true %>
                  <span class="help-block with-errors"></span>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="basicinput">Work Group Icon</label>                                         
                <div class="controls">
                  <%= w.file_field :workgroupicon,:onchange =>"validateFiles(this);",:data => {:max_file_size => 5.megabytes}%>
                  Existing/Default Work Group Icon: <% if @workgroup.workgroupicon.present? %> <%= image_tag @workgroup.workgroupicon, size: "40x20" %>
                  <% else %>
                    <%= image_tag "workgroup.png", size: "40x20" %> 
                  <% end %> 
                  <span class="help-block with-errors"></span>
                </div>
              </div>
              <ul class="navigation-btns editthree" >
                <li><button type="submit" class="btn btn-success">Save</button></li>
                <li><%= link_to "Cancel", workgroups_path,:class => "btn btn-danger" %></li>
              </ul>	
              <% end %>
                          </div>
                      </section>
                 
   
   
          
            
            
          
	
<script>
 function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png is allowed";
  var allowedExtension = ["jpg", "JPEG", "jpeg", "gif", "GIF",  "png", "PNG",  ]; 
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}


</script>

