<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3> Work Group Name:<%= @workgroup.name.upcase %> </h3>
              <div class="pull-right" ></div>  
                   <label style="font-weight:normal;margin-top:-20px" class = "pull-right" ><a><i class="icon-circle-arrow-left "></i></a><%= link_to  'Back',workgroup_path(@workgroup) %> </label> 
            </div>
            <%= form_tag("/workgroups/#{@workgroup.id}/added_moderators") do %>
        
            <div class="module-body">                                                         
                <% if @employees.present? %>                                                                                         
              <table class="table table-striped table-bordered table-condensed">
		            <thead>
			            <tr>
				            <th class="center">Employee Name</th>
				            <th>Role </th>
				            <th> Moderator </th>
				          </tr>
		            </thead>
		             <% @employees.each do |em| %> 
		            <tbody>
		            <tr>
				            <th class="center">
				             <%= em.full_name %> 
				            </th>           
				            <th class="center">
				              <% if em.id == @workgroup.admin_id %> 
				                admin  
				              <% elsif WorkgroupsEmployee.where(is_moderator: true, employee_id: em.id, workgroup_id: @workgroup.id).present? %>
				                Moderator
				              <% else %>
				                Member    
				              <% end %>
				            </th>
				            <th class="center">
				            <% if WorkgroupsEmployee.where(is_moderator: true, employee_id: em.id, workgroup_id: @workgroup.id).present? %>
				                <%= check_box_tag 'employee_ids[]', em.id, checked = true%>
				                <% elsif em.id == @workgroup.admin_id %> 
				                <%# check_box_tag %>
                    <% else%>
                         <%= check_box_tag 'employee_ids[]', em.id %> 
                    <% end %>
				            </th>
				         </tr>
				            <% #raise WorkgroupsEmployee.where(is_moderator: true).inspect %>
				            <%# if current_user.employee.id == @workgroup.admin_id %> 
                     <ul class="navigation-btns  pull-right" >
                        <li><%# link_to 'Edit', :class => "btn btn-success " %></li>
                        <li><%# link_to "Delete",shift_path(shift.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
                     </ul>  
                  <% end %>
				          <% else %>  
							    <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                      </button>
                          No Employees to display
                  </div>                                             
						  <% end %> 
		            </tbody>
                </table>
	            <% end %> <br>
	              <%= link_to 'Cancel', workgroup_path(@workgroup), :class => "btn btn-danger pull-right" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	              
	              <%= submit_tag 'Submit', :class => "btn btn-success pull-right" %>
	              <br/><br/>
	            
            </div><!--module body-->
          </div><!--/.module -->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper--> 



  

                     
