<div class="panel panel-info">
  <div class="panel-heading"> 
    <%= @workgroup.name.upcase %> 
    <i class="fa fa-plus pull-right" style="margin-top:3px;"></i><%= link_to 'All Workgroups', workgroups_path, :class => "pull-right" %>

  </div>   
                         
  <div class="panel-body">  
    <p>Workgroup Group Admin : <%= @admin.full_name %>
    
    <% if current_user.employee.id == @workgroup.admin_id || WorkgroupsEmployee.where(is_moderator: true,employee_id: current_user.employee.id, workgroup_id: @workgroup.id ).present? %>
      <span class="pull-right"> 
        <a href="#m" role="button" data-toggle="modal" class=" btn btn-success btn-xs">Add Member&nbsp;</a>                                
        <%= link_to "Add/Remove Moderator",add_moderator_workgroup_path, :class =>" btn btn-success btn-xs" %> 
      </p></span>   
    <% end %> 
                            

   <%= hidden_field_tag('work_group_id', @workgroup.id) %> 
    <% if @employees.present? %>  
         <div class="adv-table">
         
      <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
        <thead>
          <tr>
            <th class="center">Employee Name</th>
            <th>Role </th>
            <th> Actions </th>        
          </tr>
        </thead>         
        <tbody>
          <% @employees.each do |em| %> 
          <tr class="gradeA">
            <th class="center">
             <%= em.full_name %> 
            </th>           
            <th class="center">
              <% if em.id == @workgroup.admin_id %> 
                Admin  
              <% elsif WorkgroupsEmployee.where(is_moderator: true, employee_id: em.id, workgroup_id: @workgroup.id).present? %>
                Moderator
              <% else %>
                Member    
              <% end %>
            </th>
            <th>
              <% if current_user.employee.id == @workgroup.admin_id %> 
                <%= link_to "Delete",destroy_member_workgroup_path(@workgroup.id,em.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger btn-sm"%>
                <% elsif WorkgroupsEmployee.where(is_moderator: true, employee_id: current_user.employee.id, workgroup_id: @workgroup.id).present? %>
                  <% unless em.id == current_user.employee.id %>
                    <%= link_to "Delete",destroy_member_workgroup_path(@workgroup.id,em.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger btn-sm"%>
                  <% end %>
            <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>  
     </div>  
     
      <% else %>    
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No members/moderators to display
        </div>                                    
      <% end %>                                                                   
      </div><!--module-body -->    																																											                               
 							      				                                      
                  
  </div><!--/.row-->
</div><!--/panel panel-info-->


<!-- Button to trigger modal -->
   
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="m" class="modal fade">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
       <h4 class="modal-title">Add Member To WorkGroup</h4>
     </div>
     <div class="modal-body event_show_body">
      <%= render "workgroups/add_member"%>
     </div>
   </div>
 </div>
</div>


<script>
  $(function() {
  var availableTags = [];
  var workgroup_id = parseInt($("#work_group_id").val());
  $.get( "/workgroups/"+workgroup_id+"/get_employees.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       
       //alert(val["id"]+" - "+val["value"]);
      });
      console.log(availableTags);
  });
  
       $( "#member" ).autocomplete({
        minLength: 2,
        source: availableTags,
        focus: function( event, ui ) {
        $( "#member" ).val( ui.item.value );
        
        return false;
        },
        select: function( event, ui ) {
        $( "#member" ).val( ui.item.value );
        $( "#member_id" ).val( ui.item.id );
        return false;
        }
        })
  });
  </script>
  
  <style>
    .ui-autocomplete{
      z-index :5000;
    }
  </style>
  
  <script>
  $(function(){
    $(".add_member").click(function(){
      var url = $(this).attr("url");
      $.ajax({
        type : "GET",
        url : url,
        dataType : "script"
      });
    });
  });
</script>



<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myMember" class="modal fade">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                              <h4 class="modal-title">Form Tittle</h4>
                                          </div>
                                          <div class="modal-body">

                                              <form role="form">
                                                  <div class="form-group">
                                                      <label for="exampleInputEmail1">Email address</label>
                                                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="exampleInputPassword1">Password</label>
                                                      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="exampleInputFile">File input</label>
                                                      <input type="file" id="exampleInputFile3">
                                                      <p class="help-block">Example block-level help text here.</p>
                                                  </div>
                                                  <div class="checkbox">
                                                      <label>
                                                          <input type="checkbox"> Check me out
                                                      </label>
                                                  </div>
                                                  <button type="submit" class="btn btn-default">Submit</button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                     
