<div class="row">
<div class="col-lg-12">
<div class="panel panel-info">
  <div class="panel-heading">
    Add  Holiday calender For : <%= @group.group_name %> Departmant
  </div>
  <div class="panel-body">        
    <% @holiday_calender.errors.full_messages.each do |error| %>
    <label class="col-lg-3"><%= error %></label>
    <% end %> 
    <% if @events.present? %>               
    <%= form_for ([@group, @holiday_calender]), :html => {:class=>"form-horizontal row-fluid"}, :remote => true do |f| %>
    <div class="adv-table">
      <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
      <thead>											      
        <tr>
          <th>Holiday Name</th>
          <th> Holiday Date </th>	
          <th> Select Holidays </th> 
          <th>Mandatory </th>  									      		
        </tr>
      </thead>		             
	    <tbody>
		   <tr>                                                                      
         <% @events.each do |event, i| %>
         <%= fields_for "events[]", event do |f| %> 
        <td><%= event.event_name %></td>
        <td><%= format_date(event.event_date) %></td>        
        <% if @group.events.include?(event) %>
          <td><%= check_box_tag 'event_ids[]', event.id, checked = true %></td>
        <% else %>
        <td><%= check_box_tag 'event_ids[]', event.id %></td>          
        <% end %>        
        <% if @group.holiday_calenders.present? && @group.holiday_calenders.find_by_event_id(event.id) %>
        <% if @group.holiday_calenders.find_by_event_id(event.id).mandatory_or_optional? %>
          <td><%= check_box_tag 'mandatory[]', event.id, checked = true %></td>
        <% else %> 
          <td><%= check_box_tag 'mandatory[]', event.id %></td>
        <% end %>
        <% else %>
           <td><%= check_box_tag 'mandatory[]', event.id %></td>
        <% end %>              
        </tr>
       <% end %>
		   <% end %>       
       </tbody>
    </table>
    </div>
    <div class="row">
    <div class="form-group">
     <div class="col-lg-offset-2 col-lg-8 pull-right">  			
          <%= f.submit  'Save', :class => "btn btn-success" %>
          <%= link_to  'Cancel', @group, :class => "btn btn-danger" %>            	                                                   
    <% end %>
    </div>
    </div>				             
  <% else %>
   <div class="alert alert-success alert-dismissable">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        There Are No Events To Add. Please contact your Administrator
   </div>
  <%end%>
  </div> 
</div><!--/.module-->
</div>
</div>

  


          
<script>
  $(function(){
    $(".datepicker").datepicker();
  });
</script>


