<div class="row">
  <div class="col-lg-12">
    <section class="panel">
    <header class="panel-heading">
    Tax Bracket
    </header>

    <div class="panel-body">
      <% if @custom_error.present? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= @custom_error %>
        </div>
      <% end %>

      <%= form_for @tax_bracket, :html => {:class=>"form-horizontal row new_tax_form"} do |tax| %>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Bracket Name</label>
          <div class="col-lg-8">
            <%= tax.text_field :bracket, :class => "form-control", :placeholder =>"Enter Bracket Name"%>
            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Lower Limit</label>
          <div class="col-lg-8">
            <%= tax.text_field :lower_limit, :class => "form-control", :placeholder =>"Enter Lower Limit",  :data => {:error => "Please Enter Lower Limit"},  :pattern =>'[0-9]*\.[0-9]+|[0-9]+', :required => true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Upper Limit</label>
          <div class="col-lg-8">
            <%= tax.text_field :upper_limit, :class => "form-control", :placeholder =>"Enter Upper Limit",  :data => {:error => "Please Enter Upper Limit"},  :pattern =>'[0-9]*\.[0-9]+|[0-9]+', :required => true  %>
            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Tax Percentage</label>
          <div class="col-lg-8">
            <%= tax.text_field :tax_percentage, :class => "form-control", :placeholder =>"Enter Tax Percentage",  :data => {:error => "Please Enter Tax Percentages"},  :pattern =>'[0-9]*\.[0-9]+|[0-9]+', :required => true  %>
            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Minimum Tax</label>
          <div class="col-lg-8">
            <%= tax.text_field :min_tax, :class => "form-control", :placeholder =>"Enter Minimum Tax",  :data => {:error => "Please Enter Minimum Tax"},  :pattern =>'[0-9]*\.[0-9]+|[0-9]+', :required => true  %>
            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success">Save</button>
            <%= link_to "Cancel", tax_brackets_path,:class => "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
    </section>
  </div>
</div>
<script>
  $(".new_tax_form").validator();
</script>   

