<h2> Welcome To Amzur Connect </h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, :class => "form-signin" } do |f| %>
  <h2 class="form-signin-heading">Set Your Password</h2>
    <div class="login-wrap">
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>

      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
  
       <button class="btn btn-lg btn-login btn-block" type="submit">submit</button>
    </div>
<% end %>
