<%= form_for @declaration, :html => {:class=>"form-horizontal row-fluid edit_form"} do |d| %>

  <div class="form-group">
    <label class="control-label col-lg-2" for="basicinput">Section</label>
    <div class="col-lg-10">
       <input class=" form-control",  value=<%= @declaration.general_investment.section_declaration.section %> disabled >
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-lg-2" for="basicinput">Title</label>
    <div class="col-lg-10">
      <input class="form-control",  value=<%= @declaration.general_investment.title %> disabled >
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-lg-2" for="basicinput">Max Limit</label>
    <div class="col-lg-10">
     <input class="form-control",  value=<%= @declaration.general_investment.section_declaration.maximum_limit %> disabled >
    </div>
  </div>
  


  <div class="form-group">   
    <label class="control-label col-lg-2" for="basicinput">Yearly Value</label>
    <div class="col-lg-10">
    <%= d.text_field :yearly_value, :class => "form-control", :placeholder =>"Enter Value", :data => {:error => "Please Enter Value"}, :required =>true,:pattern => '[0-9]*\.?[0-9]*'  %>
    <span class="help-block with-errors"></span>
    </div>
  </div>


  <div class="form-group">   
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-success">Save</button>
      <%= link_to "Cancel", investment_declarations_path,:class => "btn btn-danger" %>
    </div>
  </div>
	
<% end %>


<script>
  $(".edit_form").validator();
</script>   

     
