
			          <div class="module">
				          <div class="module-head">
					          <h3>Address Details</h3>
						      </div>						    
						      <div class="module-body"> 
                  <%= form_for([@employee, @address], :html => {:class => "address-edit-form"}, :remote => true)  do |f|%>  
	                 <div class="control-group">
                      <label class="control-label" for="basicinput">Address Line 1</label>
                      <div class="controls">
                        <%= f.text_field :line, :class => "form-control", :placeholder=> "Enter Address Line 1",:data => {:error => "Please Enter Address Line 1"}, :required =>true %>
                         <span class="help-block with-errors"></span>
                      </div>
	              </div>
								                                                                   
                <div class="control-group">
                    <label class="control-label" for="basicinput">Address Line 2</label>
                        <div class="controls">
                          <%= f.text_field :line1, :class => "form-control", :placeholder=> "Enter Address Line 2",:data => {:error => "Please Enter Address Line 2"}, :required =>true %>  
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">City</label>
                        <div class="controls">
                          <%= f.text_field :city, :class => "form-control", :placeholder=> "Enter City",:data => {:error => "Please Enter City Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div>
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">State</label>
                        <div class="controls">
                          <%= f.text_field :state, :class => "form-control", :placeholder=> "Enter State",:data => {:error => "Please Enter State Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>   
                           <span class="help-block with-errors"></span>
                        </div>
							    </div>
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">Country</label>
                        <div class="controls">
                          <%= f.text_field :country, :class => "form-control", :placeholder=> "Enter Country",:data => {:error => "Please Enter Country Name "}, :required =>true, :pattern => '[a-zA-Z/s ]*' %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 
							
							    <div class="control-group">
                    <label class="control-label" for="basicinput">ZipCode</label>
                        <div class="controls">
                          <%= f.text_field :zipcode, :class => "form-control", :placeholder=> "Enter ZipCode",:data => {:error => "Please Enter ZipCode ", :minlength => "6", :maxlenght => "6"}, :type => "number", :required =>true %> 
                           <span class="help-block with-errors"></span>
                        </div>
							    </div> 								
							     <br>
                   <ul class="navigation-btns" style="list-style: none;display:inline;">
                    <li><button type="submit" class="btn btn-success pull-left">Update</button></li>
                    <li><%= link_to 'Cancel', employee_addresses_path(@employee), :class => "btn btn-danger pull-left", :remote => true %></li>
                  </ul>    

                   <% end %>
							
                   
						    </div><!--/.module-body-->
					    </div><!--/.module-->
		




			<script>
			  $(function(){
          $(".address-edit-form").validator();
         });  
			</script>

