 <div class="module-head" > <h3>Contact Info</h3></div>
						                  <% if current_user.department == Department::HR %>
                                  <% if @address1.nil? %>
                                    <%= link_to "Present Address", new_employee_address_path(@employee, :address_type => "false"), :remote => true, :class=>"btn btn-info" %>
                                  <% end %>
                                  <% if @address2.nil? %>
                                    <%= link_to "Permanent Address", new_employee_address_path(@employee, :address_type => "true"), :remote => true, :class=>"btn btn-info" %><br>
                                  <% end %> 

                          <% end %>
                     
                      
                      <div class ="new_address_form">
                      <% if !@address1.present? && !@address2.present? %>
                        <br/>
                         <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                             You have No Addresses to display. 
                         </div>
                      <% end %>
                      <!-- /.row -->
                                     
															<% if @address1.present? %>
                              <div class="row-fluid">
                          
                          <div class="module-head" > Present Address</div> 
                            <% if current_user.department == Department::HR %>     
                             <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class=" icon-edit"></i></a><%= link_to "Edit", edit_employee_address_path(@employee, @address1), :class=>"pull-right", :remote => true %></label> 
                            <% end %>
                             <div class="module-body " style="margin-left:100px;">
                                <div class ="row-fluid">
                                  <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Address Line 1: <%= @address1.line %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Address Line 2: <%= @address1.line1 %></label>  
			                              </div>
		                               </div>
	                              </div>	
	                              
	                               <div class ="row-fluid">
	                                 <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">City: <%= @address1.city %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">State: <%= @address1.state %></label>  
			                              </div>
		                               </div>
	                               </div>
	                               
	                               <div class ="row-fluid">
	                                 <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Country: <%= @address1.country %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Zipcode: <%= @address1.zipcode %></label>  
			                              </div>
		                               </div>
	                               </div>
	                            </div><!-- /.module-body -->
									         </div><!-- /.row-fluid -->
									          	<% end %>	 
                               
                                
                             <% if @address2.present? %>    
                           
                          <div class="row-fluid">  
                           <div class="module-head"> Permanent Address</div>                                                   
                              <% if current_user.department == Department::HR %>                             
                              <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class=" icon-edit"></i></a><%= link_to "Edit", edit_employee_address_path(@employee, @address2), :class=>"pull-right", :remote => true %></label>
												      <% end %>
                            </ul> 	              
                             <div class="module-body " style="margin-left:100px;">								                          
                               <div class ="row-fluid">
                                  <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Address Line 1: <%= @address2.line %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Address Line 2: <%= @address2.line1 %></label>  
			                              </div>
		                               </div>
	                              </div>	
	                              
	                               <div class ="row-fluid">
	                                 <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">City: <%= @address2.city %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">State: <%= @address2.state %></label>  
			                              </div>
		                               </div>
	                               </div>
	                               
	                               <div class ="row-fluid">
	                                 <div class="span5">		
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Country: <%= @address2.country %> </label>
		                                </div>
	                                </div>
	                                <div class="span5">	
		                                <div class="control-group">
			                                <label class="control-label" for="basicinput">Zipcode: <%= @address2.zipcode %></label>  
			                              </div>
		                               </div>
	                               </div>
			                          </div><!-- /.row-fluid -->				                          
			                        </div><!-- /.module-body -->									      
                                                         												                                    
																	<% end %>   
																	</div>                         

