<div class="panel panel-info">
  <div class="panel-heading"> Contact Info</div>
  <div class="panel-body ">
    <% if current_user.department == Department::HR %>
      <% if @address1.nil? %>
        <%= link_to "Present Address", new_employee_address_path(@employee, :address_type => "false"), :remote => true, :class=>"btn btn-info add" %>
      <% end %>
      <% if @address2.nil? %>
        <%= link_to "Permanent Address", new_employee_address_path(@employee, :address_type => "true"), :remote => true, :class=>"btn btn-info add" %>
      <% end %> 
    <% end %>
    <div class ="new_address_form">
      <% unless @address1.present? && @address2.present? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>You have No Addresses to display. 
        </div>
      <% end %>      
      <% if @address1.present? %>
      <div class="panel-body">            
        <div class="row"> 
            Present Address
            <% if current_user.department == Department::HR %>     
              <i class="fa fa-edit pull-right" style="margin-top:3px;"></i><%= link_to "Edit", edit_employee_address_path(@employee, @address1), :class=>"pull-right", :remote => true %>
            <% end %>
        </div>         
        <div class="panel-body">          
          <div class ="row">
            <div class="bio-row">
              <p><span>Address Line 1</span>: <%= @address1.line %></p>
            </div>
            <div class="bio-row">	
              <p><span>Address Line 2</span>: <%= @address1.line1 %></p>
            </div>
          </div>	

          <div class ="row">
            <div class="bio-row">		
              <p><span>City</span>: <%= @address1.city %></p>
            </div>
            <div class="bio-row">	
              <p><span>State</span>: <%= @address1.state %></p>  
            </div>
          </div>

          <div class="row">		
            <div class="bio-row">
              <p><span>Country</span>: <%= @address1.country %></p>
            </div>
            <div class="bio-row">	
              <p><span>Zipcode: </span><%= @address1.zipcode %></p>  
            </div>
          </div>
        </div>
      </div>
      <% end %>      
      <% if @address2.present? %>                               
        <div class="panel-body">  
          <div class="row">  
            Permanent Address
            <% if current_user.department == Department::HR %>
              <i class="fa fa-edit pull-right" style="margin-top:3px;"></i><%= link_to "Edit", edit_employee_address_path(@employee, @address2), :class=>"pull-right", :remote => true %>                
            <% end %>
          </div> 	              
          <div class="panel-body">								                                    
          <div class ="row">
            <div class="bio-row">
              <p>Address Line 1</span>: <%= @address2.line %> </p>
            </div>
            <div class="bio-row">	
              <p><span>Address Line 2 </span>: <%= @address2.line1 %></p>  
            </div>
          </div>	
          
          <div class ="row">
            <div class="bio-row">
              <P><span>City </span>: <%= @address2.city %> </p>
            </div>
            <div class="bio-row">
              <p><span>State </span>: <%= @address2.state %></p>  
            </div>
          </div>

          <div class="row">		
            <div class="bio-row">
              <p><span>Country</span>: <%= @address2.country %> </p>
            </div>
            <div class="bio-row">	
              <p><span>Zipcode </span>:<%= @address2.zipcode %></p>  
            </div>
          </div>
        </div>
      </div>     								      				                                      
    <% end %>
    </div>
  </div>
</div>





