
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                   <% if current_user.department == Department::HR %>
                        <div class="panel-body">
                            <div class="row">                               
                                  <div class="col-lg-6"> 
                                    <%= form_for [@employee, @address],  :remote => true  do |f| %>
                                    <br>                                  
                                    <label><u><%= @address_type %> Address</u></label><br><br> 

                                        <% if @employee.addresses.present? %>                                        
                                          <a href="#" id="address-check-box-hyper-link"><input type="checkbox", id="address-check-box"></a> &nbsp Same as old address
                                          
                                        <% end %>
                                        <div class="form-group ">
                                           <label class="required" >Address Line 1</label>

                                           <%= f.text_field :line, :class => "form-control", :placeholder=> "Enter Address Line 1", :data => {:error => "Please Enter Address Line 1"}, :required =>true, :pattern => '[a-zA-Z0-9/s ]*' %>
                                            <div class="help-block with-errors"></div>
                                         </div>
                                         <div class="form-group ">
                                            <label class="required" >Address Line 2</label>
                                            <%= f.text_field :line1, :class => "form-control", :placeholder=> "Enter Address Line 1", :data => {:error => "Please Enter Address Line 2"}, :required =>true, :pattern => '[a-zA-Z0-9/s ]*' %>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="required" >City</label>
                                            <%= f.text_field :city, :class => "form-control", :placeholder=> "Enter City", :data => {:error => "Please Enter City"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                                            <div class="help-block with-errors"></div>   
                                        </div>
                                        <div class="form-group ">
                                            <label class="required">State</label>
                                            <%= f.text_field :state, :class => "form-control", :placeholder=> "Enter State", :data => {:error => "Please Enter State"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                                            <div class="help-block with-errors"></div>   
                                        </div>                                        
                                        <div class="form-group">
                                            <label class="required" >Country</label>
                                            <%= f.text_field :country, :class => "form-control", :placeholder=> "Enter Country", :data => {:error => "Please Enter Country"}, :type => "data", :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                                            <div class="help-block with-errors"></div>   
                                        </div>
																				<div class="form-group">
                                            <label class="required" >Zipcode</label>
                          <%= f.text_field :zipcode, :class => "form-control", :placeholder=> "Enter Zipcode", :type => "number", :data => {:error => "Please Enter Zipcode",  :minlength => "6", :maxlenght => "6"}, :required =>true %>
                                            <div class="help-block with-errors"></div>   
                                        </div>

              													<div class="form-group">
                                           <%= f.hidden_field :address_type, :class => "form-control", :value=>"#{@address_type_value}"%>
                                        </div>
                                        
                                        <!--<% if @is_permanent == false %>                                        
                                        <div class="form-group">                                           
                                          <%# f.check_box :is_permanent %>
                                           <label class="required" > Save as Permanent address</label>              
                                        </div> 
                                        <% end %>             
                                        <br> -->
                                        <button type="submit" class="btn btn-success pull-left">Save & Continue</button>      
                                </div>
                                    <% end %>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
												<% else %>
														<h4>No Contact details </h4>
												<% end %>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            
            <script>
              $(function(){
                $("#address-check-box-hyper-link").click(function(){
                   if($("#address-check-box").is(':checked')){
                   <% if @employee.addresses.present?  %>
                    $("#address_line1").val('<%= @employee.addresses.first.line1 %>');
                    $("#address_line").val('<%= @employee.addresses.first.line %>');
                    $("#address_city").val('<%= @employee.addresses.first.city %>');
                    $("#address_state").val('<%= @employee.addresses.first.state %>');
                    $("#address_country").val('<%= @employee.addresses.first.country %>');
                    $("#address_zipcode").val('<%= @employee.addresses.first.zipcode %>');
                   <% end %>
                   }
                   else{
                     $("#address_line1").val("");
                    $("#address_line").val("");
                    $("#address_city").val("");
                    $("#address_state").val("");
                    $("#address_country").val("");
                    $("#address_zipcode").val("");
                   }
                });
               
              });
            </script>
      

<script>
  $(function(){
   $("#new_address").validator();
  });
</script>






























