	
							<% if current_user.department == Department::HR %>
							<div class="module-body">	
							 <%= form_for [@employee, @address],  :remote => true  do |f| %>
                <br>                                  
                <label><u><%= @address_type %> Address</u></label><br><br> 
                  <% if @employee.addresses.present? %>                                        
                    <a href="#" id="address-check-box-hyper-link"><input type="checkbox", id="address-check-box"></a> 
                    Same As &nbsp<%= @copy_address_type %> Address                    
                  <% end %>	
                    														
                  <div class="control-group">
										<label class="control-label" for="basicinput">Address Line 1</label>
										<div class="controls">
											 <%= f.text_field :line, :class => "span8 form-control", :id => "basicinput", :placeholder=> "Enter Address Line 1", :data => {:error => "Please Enter Address Line 1"}, :required =>true %>
                       <div class="help-block with-errors"></div>  
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Address Line 2</label>
										<div class="controls">									
                      <%= f.text_field :line1, :class => "span8 form-control", :id => "basicinput", :placeholder=> "Enter Address Line 1", :data => {:error => "Please Enter Address Line 2"}, :required =>true %>
                       <div class="help-block with-errors"></div>											 
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">City</label>
										<div class="controls">									
                      <%= f.text_field :city, :class => "span8 form-control", :id => "basicinput", :placeholder=> "Enter City", :data => {:error => "Please Enter City"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                       <div class="help-block with-errors"></div>											 
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">State</label>
										<div class="controls">									
                      <%= f.text_field :state,:class => "span8 form-control", :id => "basicinput", :placeholder=> "Enter State", :data => {:error => "Please Enter State"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                       <div class="help-block with-errors"></div>											 
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Country</label>
										<div class="controls">									
                       <%= f.text_field :country, :class => "span8", :id => "basicinput", :placeholder=> "Enter Country", :data => {:error => "Please Enter Country"}, :type => "data", :required =>true, :pattern => '[a-zA-Z/s ]*' %>
                       <div class="help-block with-errors"></div>											 
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Zipcode</label>
										<div class="controls">									
                       <%= f.text_field :zipcode, :class => "span8 form-control", :id => "basicinput", :placeholder=> "Enter Zipcode", :type => "number", :data => {:error => "Please Enter Zipcode",  :minlength => "6", :maxlenght => "6"}, :required =>true %>
                       <div class="help-block with-errors"></div>											 
										</div>
									</div>
									
									<div class="control-group">
                     <%= f.hidden_field :address_type,:class => "span8 form-control", :id => "basicinput", :value=>"#{@address_type_value}" %>
                  </div>
                  <button type="submit" class="btn btn-success">Save & Continue</button>
									<% end %>
									   
							</div><!--/.module-body-->
							 <% end %>
						</div><!--/.module-->
						                                                                                                                                                                         
																		
            
            <script>
              $(function(){
                $("#address-check-box-hyper-link").click(function(){
                   if($("#address-check-box").is(':checked')){
                   <% if @employee.addresses.present?  %>
                    $("#address_line1").val('<%= @employee.addresses.first.line1 %>');
                    $("#address_line").val('<%= @employee.addresses.first.line %>');
                    $("#address_city").val('<%= @employee.addresses.first.city %>');
                    $("#address_state").val('<%= @employee.addresses.first.state %>');
                    $("#address_country").val('<%= @employee.addresses.first.country %>');
                    $("#address_zipcode").val('<%= @employee.addresses.first.zipcode %>');
                   <% end %>
                   }
                   else{
                     $("#address_line1").val("");
                    $("#address_line").val("");
                    $("#address_city").val("");
                    $("#address_state").val("");
                    $("#address_country").val("");
                    $("#address_zipcode").val("");
                   }
                });
               
              });
            </script>
      

<script>
  $(function(){
   $("#new_address").validator();
  });
</script>






























