<h1>Addresses#edit</h1>

<%= form_for([@employee, @address]) do |f| %>
  <%= f.label :line, "Line1" %>
  <%= f.text_field :line %> <br>
  
  <%= f.label :line1, "Line2" %>
  <%= f.text_field :line1 %> <br>
  
  <select id="country_list" name="ed_country">
  </select>
  <input type='text' id='new_country' name='new_country'>
  <span id="state_dpdwn"></span>
  <span id="city_dpdwn"></span>  

  <%= f.submit "Submit"%>
  <% end %>


