<h3> Employee Address Details </h3>

<h4>Present Address </h4>
Line-1 : <%= @address1.line %><br>
Line-2 :<%= @address1.line1 %><br>
<%= link_to 'edit',  edit_employee_address_path(@employee.id, @address1.id) %><hr>
<h4>permanent Address </h4>
Line-1 :<%= @address2.line %><br>
Line-2 :<%= @address2.line1 %><br>
<%= link_to 'edit',  edit_employee_address_path(@employee.id, @address2.id) %>
