<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">Contact Info</div>
                      <div class="pull-right"> 
                        <% if @address1.nil? %>
                          <a href="/employees/<%=params[:employee_id] %>/addresses/new?address_type=0" style="margin:20px;">Add Present Address</a>
                        <% end %>
                        <% if @address2.nil? %>
                          <a href="/employees/<%=params[:employee_id] %>/addresses/new?address_type=1">Add Permanent Address</a>
                        <% end %>
                      </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">               
                   <div class="  col-lg-5">
                       <div class="border panel panel-default">
                           <div class="panel-heading" style="font-weight:bold;">
                              Present Address
                            </div>
                            <div class="panel-body">
                            <% if @address1.present? %>
                                 <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                     <% if current_user.department == Department::HR %>
                                        <li><%= link_to "Edit", edit_employee_address_path(@employee, @address1), :class=>"btn btn-success pull-right" %></li>
                                     <% end %>
                                 </ul>                                    
                                 <div class="form-group">
                                      <label style="font-weight:normal;">Address Line 1:</label>
                                      <%= @address1.line %>                                  
                                 </div>
                                 <div class="form-group">
                                      <label style="font-weight:normal;">Address Line 2:</label>
                                      <%= @address1.line1 %>
                                 </div>
                                 <div class="form-group">
                                      <label style="font-weight:normal;">City:</label>
                                      <%= @address1.city %>                                       
                                 </div>
                                 <div class="form-group">
                                      <label style="font-weight:normal;">State:</label>
                                      <%= @address1.state %>                                            
                                 </div>
                                 <div class="form-group">
                                      <label style="font-weight:normal;">Country:</label>
                                      <%= @address1.country %>
                                 </div>
                                 <div class="form-group">
                                      <label style="font-weight:normal;">Zipcode:</label>
                                      <%= @address1.zipcode %>
                                  </div> 
                            
                                  <% else %>
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                         You have No Present Address to display. 
                                    </div>
																	<% end %>
																	
													</div><!-- panel-body -->                                  
                      </div><!-- panel-panel-default -->
									 </div><!-- /.col-lg-5 (nested) --> 
                                <div class="col-lg-1">
                                </div>
                                
                   <div class="  col-lg-5">
                       <div class="border panel panel-default">
                           <div class="panel-heading" style="font-weight:bold;">
                              Permanent Address
                            </div>
                            <div class="panel-body">
                              	<% if @address2.present? %>                                                                     
                                    <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                       <% if current_user.department == Department::HR %>
                                        <li><%= link_to "Edit", edit_employee_address_path(@employee, @address2), :class=>"btn btn-success pull-right" %></li>
																		    <% end %>
                                    </ul>
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Address Line 1:</label>
                                            <%= @address2.line %>                                  
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Address Line 2:</label>
                                            <%= @address2.line1 %> 
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">City:</label>
                                           <%= @address2.city %>                                     
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">State:</label>
                                           <%= @address2.state %>                                                        
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Country:</label>
                                           <%= @address2.country %>
                                        </div>

																				<div class="form-group">
                                            <label style="font-weight:normal;">Zipcode:</label>
                                           <%= @address2.zipcode %>
                                        </div>

                                </div>
                                <% else %>
<<<<<<< HEAD
                                    <!--  <div class="alert alert-info alert-dismissable">
=======
                                     <div class="alert alert-success alert-dismissable">
>>>>>>> 9c737fe59eaa8e750e0369223a442858af6274ca
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                          
                                    </div>
<<<<<<< HEAD
																	<% end %> -->                                                                                  
                                <!-- /.col-lg-6 (nested) -->
=======
                                </div><!-- panel-body --> 
                            </div><!-- panel-default --> 
                          </div><!-- /.col-lg-5 (nested) -->
																	<% end %>                                                                                   
                               
>>>>>>> 9c737fe59eaa8e750e0369223a442858af6274ca
                         
                            </div>													
                     
        </div>
