<section class="panel panel-info">
  <header class="panel-heading">
      Post Form
  </header>
  <div class="panel-body">
      <%= form_for @post,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid shift_from"} do |p| %>
      <form class="form-horizontal" role="form">
          <div class="form-group">
              <label class="col-lg-2 col-sm-2 control-label">Title</label>
              <div class="col-lg-8">
                   <%= p.text_field :title, :class => "form-control ", :placeholder =>"What's On Your Mind", :data => {:error => "Please Enter Status"}, :required => true %>
            <span class="help-block with-errors"></span>
                  
              </div>
          </div>
          <div class="form-group">
              <label  class="col-lg-2 col-sm-2 control-label">Content</label>
              <div class="col-lg-8">
               <%= p.bootsy_area :content, :class => " form-control ", :placeholder =>"What's On Your Mind", :data => {:error => "Please Enter Status"}, :size => "650x20", :required => true %>
           <span class="help-block with-errors"></span>
              </div>
          </div>
          
           <div class="form-group">
              <label  class="col-lg-2 col-sm-2 control-label">Category</label>
              <div class="col-lg-8">
                   <%= p.text_field :category, :class => " form-control ", :placeholder =>"Add Category", :data => {:error => "Please Enter Status"}, :required => true %>
          <span class="help-block with-errors"></span>
                  
              </div>
          </div>
          
          
          <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Tags</label>
              <div class="col-lg-8">
                 <input id="s" type="text">
               <input type="hidden" name="hidden_tags" class="hidden_tags">
                <span id="advanced_search_box"></span><br><br>
                <% if @post.tags.present?%>
                <p class="pull-left">
                  <% @post.tags.split(",").each do|tag| %>
                    <span class="label label-info"><i class=" icon-tag"></i> <%=  tag %></span>
                  <% end %>
                </p>
                <%end%>  
                <input type="hidden" name="total_tags" class="total_tags">
              </div>
          </div>
          
       
          <div class="form-group">
              <div class="col-lg-offset-2 col-lg-8">
                 <button type="submit" class="btn btn-success">Post </button>&nbsp&nbsp
                 <%= link_to "Cancel", posts_path, :class => "btn btn-danger" %>
              </div>
          </div>
      </form>
      
       <% end %>
  </div>
</section>


           
         



<script>
$(function(){
    var tags= "";
    var total_tags="";
    var present_tags = "<%= @post.tags %>";
$("#s").keypress(function(e) {
    if(e.which == 13) {
    var tag = $("#s").val();
    //var all_tags  = tag+ ","+ $("#s").val()
    span = get_box(tag);
    $('#advanced_search_box').append(span);
    tags = tags+ tag + "," ;
    $("#s").val("");
    $(".hidden_tags").val(tags); 
    total_tags = tags + present_tags
    $(".total_tags").val(total_tags);
    e.preventDefault();
    return false;
     
    }
});  
   });


 function get_box(text){
    return "<span style='margin:5px;margin-left:0px;min-width: 40px;color: #FFF !important;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #36ACD1;background-image: -moz-linear-gradient(top, #3FC6F2, #36ACD1);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3FC6F2), to(#36ACD1)); background-image: -webkit-linear-gradient(top, #3FC6F2, #36ACD1);background-image: -o-linear-gradient(top, #3FC6F2, #36ACD1); background-image: linear-gradient(to bottom, #3FC6F2, #36ACD1);background-repeat: repeat-x;border-color: #3FC6F2 #30A1C4 #36ACD1; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = &#39;#ff0088cc&#39;, endColorstr = &#39;#ff0044cc&#39;, GradientType = 0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);' class='btn btn-primary' onclick='$(this).hide();remove_tags(&#39;"+text+"&#39;);'>"
    +text+" <span style='text-shadow: 0 1px 0 #FFF;opacity: 0.3;'> X</span></span>"
  }
function remove_tags(text){
var present_tags = "<%= @post.tags %>";
console.log(text);
var tags =  $(".hidden_tags").val().split(",");
tags = jQuery.grep(tags, function(value) {
        return value !== text;
    });    
    tags = tags.join(",");
    $(".hidden_tags").val(tags);
    total_tags = tags + present_tags;
    $(".total_tags").val(total_tags); 
}


</script>

