
              <%= form_for @post,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid shift_from"} do |p| %>
              <div class="control-group">
                <label class="control-label" for="basicinput">Title:</label>
                <div class="controls">
                  <%= p.text_field :title, :class => "span8 form-control ", :placeholder =>"What's On Your Mind", :data => {:error => "Please Enter Status"}, :required => true %>
                 <span class="help-block with-errors"></span>
                </div>
              </div>
              
               <div class="control-group">
               <label class="control-label" for="basicinput">Content:</label>
                <div class="controls">
                  <%= p.bootsy_area :content, :class => "span8 form-control ", :placeholder =>"What's On Your Mind", :data => {:error => "Please Enter Status"}, :required => true %>
                 <span class="help-block with-errors"></span>
                </div>
              </div>
              
               <div class="control-group">
               <label class="control-label" for="basicinput">Add Category:</label>
                <div class="controls">
                  <%= p.text_field :category, :class => "span8 form-control ", :placeholder =>"Add Category", :data => {:error => "Please Enter Status"}, :required => true %>
                 <span class="help-block with-errors"></span>
                </div>
              </div>
              
                <div class="control-group">
               <label class="control-label" for="basicinput">Add Tags:</label>
                <div class="controls">
                  <%= p.text_field :tags, :class => "span8 form-control ", :placeholder =>"Add Tags", :data => {:error => "Please Enter Status"}, :required => true %>
                 <span class="help-block with-errors"></span>
                </div>
              </div>
                          
                <ul class="navigation-btns editthree" >
                <li><button type="submit" class="btn btn-success">Post </button></li>
                <li><%= link_to "Cancel", posts_path, :class => "btn btn-danger" %></li>
              </ul>	
              <% end %>
     
 
