<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
		    <div class="content">
			    <div class="module">
				    <div class="module-head">
					    <h3>All posts </h3>
					    <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><%= link_to "Create A New Post", new_post_path %></label>   
					 </div>	
				   
		        <% if @posts.present? %> 
              <% @posts.each do |p| %> 
                <div class="row-fluid" style="border:solid 1px #eee;padding:10px;margin-top:10px;width:1100px">
                <div class="span12" style="margin-left:20px;">	 
                <div class="control-group span2">
                    <% if current_user.employee.id == p.employee.id %>
                      <ul class="navigation-btns"> 
                       <label style="font-weight:normal;margin-top:-5px;" class = "pull-right"><a><i class="icon-trash"></i></a>
                            <%= link_to "Delete", post_path(p.id), method: :delete, data: {confirm: "Are You sure?"} %>
                          </label>
                     <label style="font-weight:normal;margin-top:-5px;" class = "pull-right"><a><i class="icon-edit"></i></a>
                        <%= link_to 'Edit',  edit_post_path(p)%></label>      
                        </li>
                      </ul>
                    <% end %>
                   </div> 
                </div>
                
                <div class="span12" style="margin-left:20px;">		
                  <div class="control-group span8">
                    <label class="control-label" for="basicinput"> <strong><%=link_to p.title, post_path(p.id) %></strong></label>                
                  </div>

                  <div class="control-group span2">
                    <label class="control-label" for="basicinput"><strong>Created </strong> <%= format_date(p.created_at) %></label>                
                  </div>
                     <div class="control-group span2">
                    <label class="control-label" for="basicinput"><strong>Categoty </strong> <%= p.category %></label>                
                  </div>
                 </div>
                  <div class="span12" style="margin-left:20px;">
                  <div class="control-group">
                  <label class="control-label" for="basicinput"><strong>Content </strong></label>
                 <label class="desc">
                    <%= raw(p.content)%>
                  </label>              
                    <%= link_to "Read More..", post_path(p.id), :class => "pt4" %><br><hr>  
               
                 </div>
                  </div>
                 
                 <div class="span12" style="margin-left:20px;">
                   <div class="control-group span8">
                    <label class="control-label" for="basicinput"> <strong> <%= p.tags %></strong></label>                
                  </div>
                  <div class="control-group span4">
                   <label class="control-label" for="basicinput"><i>by:</i> <strong><%= p.employee.full_name %></strong></label>                
                  </div>
                  </div> 
                  
                  
               
                  
                  <div class="row-fluid">
                    <div class="span8"><hr>
                      <h5>Likes(<%= p.likes_count %>) . Comments(<%= p.comments.count %>) 
              
                      <% if p.likes.where(:employee_id => current_user.employee.id, :is_like => true).first %>  
                        <%= link_to 'Unlike', remove_like_post_path(p.id, :employee_id => current_user.employee), :method => "post" %> </span> </h5>
                      <% else %> 
                        <%= link_to 'Like',  add_like_post_path(p.id, :employee_id => current_user.employee), :method => "post" %></span> </h5>
                      <% end %>
                      
                      
                    </div>
                   </div> 
              
                  
                  
                  
                  </div><!--row fluid-->
                <%end%>
                
                
              <% else %>                                                  
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                No Statuses to display.
              </div>
                <% end %>      
					   </div><!--/.module-body-->
					</div><!--/.module-->
				</div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
	
	
