<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>New Goal</h3>
            </div>
            <div class="module-body">
              <%= form_for @goal, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}  do |g| %>
                <%= fields_for @goal do |g| %>
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Title</label>
                    <div class="controls">
                      <%= text_field_tag 'title[]',nil %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Description</label>
                    <div class="controls">
                      <%= text_area_tag 'description[]', nil, :class => "span9 form-control" %> 
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Start Date</label>
                    <div class="controls">
                      <%= g.text_field :start_date, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">End Date</label>
                    <div class="controls">
                      <%= g.text_field :end_date, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
              <%= g.submit 'Create Goal', :class => 'btn btn-success pull-right' %>
                <% end %>
              <% end %><br/>
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->
