<section class="panel panel-info">
  <header class="panel-heading">
      Event Form
  </header>
  <div class="panel-body">
    <%= form_for @amzurevent, :html => {:class=>"form-horizontal row-fluid event_form"} do |f| %>
    <div class="form-group">
      <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Event Title: </label>
      <div class="col-lg-7">
        <%= f.text_field :title, :class => " form-control", :placeholder =>"Enter Title", :data => {:error => "Please Enter valid Event Title"}, :required => true %>
        <span class="help-block with-errors"></span>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Description: </label>
      <div class="col-lg-7">
        <%= f.bootsy_area :description, :class => "form-control", :placeholder =>"Enter Description", :data => {:error => "Please Enter  Event Description"}, :style => "margin: 0px 0px 10px; height: 221px;" %>
          <span class="help-block with-errors"></span> 
      </div>
    </div>
          
    <%if @amzurevent.new_record? %>
    <div class="form-group">
      <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Event Group: </label>
      <div class="col-lg-7" style="margin-top:8px;">
        <select  name="eventable_type"  class="event form-control">

          <option value="all">All</option>
        <%unless @departments.blank? %>
          <option value="Department">Department</option>
        <%end%>
        <%unless @groups.blank? %>
          <option value="Group">Group</option>
        <%end%>
        <%unless @workgroups.blank? %>
            <option value="Workgroup">WorkGroup</option>
        <%end%>
        </select>
      </div>
    </div>
    <div class="form-group ">
      <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label"></label>
      <div class="col-lg-7" >  
        <div id ="departments">             
          <%= select_tag :department_id, options_from_collection_for_select(@departments, "id", "department_name"), :class => "form-control" %>
        </div>        
        <div id="groups">
          <%= select_tag :group_id, options_from_collection_for_select(@groups, "id", "group_name"), :class => "form-control" %>            
        </div>        
        <div id="workgroups">
          <%= select_tag :workgroup_id, options_from_collection_for_select(@workgroups, "id", "name"), :class => "form-control" %>
        </div> 
      </div>
    </div>
    <% else %>
    <div class="form-group">
     <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Event for: </label>
      <div class="col-lg-9" style="margin-top:8px;">
         <%if @amzurevent.eventable_type.nil? %> <strong >ALL</strong> <%else%> <%=@eventable %>  <%=@amzurevent.eventable_type%> <%end%>
      </div>
    </div>
    <%end%>
    
    
     <div class="form-group">                                           
      <label class="col-lg-2 control-label">Event Date: </label>
      <div class="col-lg-3">
        <%= f.text_field :held_on,:placeholder =>"Enter Date Of Event", :class => "col-lg-2 date-picker form-control", :data => {:error => "Please Select Event Date"}, :required => true %>
        <span class="help-block with-errors"></span>   
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-5">
        <div class="form-group">                                                                              
        <label class="col-lg-5 control-label" style="margin-left:-10px;">Start Time: </label>
          <div class="col-lg-7">
            <%= f.text_field :from_time, :placeholder =>"Enter Time Of Event", :class => "form-control timepicker", :data => {:error => "Please Select Event Time"}, :required => true %>
            <span class="help-block with-errors"></span>   
          </div>
        </div>              
      </div>     
      <div class="col-lg-7" >           
        <div class="form-group">             
        <label  class="col-lg-2  control-label">End Time: </label>
          <div class="col-lg-5">
            <%= f.text_field :to_time, :placeholder =>"Enter Time Of Event", :class => "form-control timepicker", :data => {:error => "Please Select Event Time"}, :required => true %>
            <span class="help-block with-errors"></span>   

          </div>
        </div>   
      </div>
    </div>                 
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :is_send_mail, {checked: true} %> Select Mail To Event Group
          </label>
        </div>
      </div>
    </div>  
  <div class="form-group">                                           
      <label class="col-lg-2 control-label"> </label>
      <div class="col-lg-3">
        <button type="submit" class="btn btn-success">Post </button>
        <%= link_to "Cancel", welcome_wall_path,:class => "btn btn-danger" %>   
      </div>
    </div>                       
    <% end %>
  </div>
</section>

<% title 'Events' %>


<script>
    $(function() {
    $(".event_form").validator();
});
</script> 

<script>
$(function(){
var startDate = new Date('01/01/1900');
var FromEndDate = new Date();
var ToEndDate = new Date();

ToEndDate.setDate(ToEndDate.getDate()+365);

$('.date-picker').datepicker({
    format: 'dd/mm/yyyy',
    weekStart: 1,
    startDate: FromEndDate,
    //endDate: '01/01/2900', 
    autoclose: true
})
    .on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        //$('.to_date').datepicker('setStartDate', startDate);
    }); 
});
</script>





<script>

 $(".timepicker").timepicker(); 
  
</script>

<script>
  $(function(){
          $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").hide();
  
  $(".event").change(function () {
    var str = $( ".event" ).val();  
    console.log(str);
    switch (str) { 
    case 'Group': 
           console.log(str);
          $("#departments").hide();
          $("#groups").show();
          $("#workgroups").hide();
        break;
    case 'Department':
    console.log(str); 
        $("#departments").show();
          $("#groups").hide();
          $("#workgroups").hide();
        break;
    case 'Workgroup': 
    console.log(str);
        $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").show();
        break;      
    case 'all': 
    console.log(str);
         $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").hide();
    }
    
  });
});
</script>


