
<section class="panel panel-info">
  <header class="panel-heading">
			    Events Details		      
  </header>	 
  <div class="panel-body">
  <div class="form-group">
   <label class="control-label" for="basicinput"><strong><%= @amzurevent.title %></strong> on <strong><%= format_date (@amzurevent.held_on) %></strong> at <strong><%= format_time(@amzurevent.from_time) %></strong> to <strong><%= format_time(@amzurevent.to_time) %></strong></label>  
  </div>    
<div class="form-group">
   <label class="control-label" for="basicinput"><strong>Event for <%if @amzurevent.eventable_type.nil? %> ALL <%else%> <%=@eventable %>  <%=@amzurevent.eventable_type%> <%end%></strong></label>  
  </div>  
  <div class="form-group">
    <label class="control-label" for="basicinput"><strong>Details</stong></label>
    <label class="desc">
           <%= raw @amzurevent.description %>
    </label>   
  </div> 
    <div class="form-group">
     <span class="pull-right">
     <% if current_user.employee == @amzurevent.employee %>
        <%= link_to 'Edit', edit_amzur_event_path(@amzurevent), :class => "btn btn-success " %>
         <%= link_to "Delete", amzur_event_path(@amzurevent), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
      <% end %>
     </span>
    </div>
   </div><!--panel-body-->                              
                                        
</section>				 
