<div class="wrapper">
 <div class="container">
	<div class="row">

  <div class="span12">
		<div class="content">

			<div class="module">
				<div class="module-head">
					<h3>Events Details</h3>
					<% if current_user.department == Department::HR %>  
					<label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-edit"></i></a> <%= link_to 'Add New Event',  new_amzur_event_path %></label>
					<% end %>
			  </div>
				
				<div class="module-body">
			    <% if @amzurevent.present? %>    
            <% @amzurevent.each do |amzurevent| %>
              <h4><%= amzurevent.title %></h4>
               <% if current_user.department == Department::HR %>
                <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                  <li><%= link_to 'Edit', edit_amzur_event_path(amzurevent), :class => "btn btn-success " %></li>
                  <li><%= link_to "Delete", amzur_event_path(amzurevent.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
                </ul>
              <% end %><br>
              <div class="row-fluid">
                <%= raw amzurevent.description %>
              </div>
		          <h5>Event Date: <%= format_date (amzurevent.held_on) %></h5>
              
             <hr>
            <% end %>
          <% else %>
   
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  No Events to display.
           </div>
         <% end %>
      
	           
							</div><!--/.module-body-->
						</div><!--/.module-->
					</div><!--/.content-->
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!--/.wrapper-->
	

-
