<section class="panel panel-info">
  <header class="panel-heading">
      Events Created By Me <i class="fa fa-plus pull-right icon-position "></i><%= link_to ' Add Event',  new_amzur_event_path, :class => "pull-right" %>      
  </header>
	      <div class="panel-body">
		          <% if @empevents.present? %>    
              <% @empevents.each do |amzurevent| %>
              <div> <strong><%= amzurevent.title %></strong> on <strong> <%= format_date (amzurevent.held_on) %> </strong> at <strong><%= format_time(amzurevent.from_time) %></strong> to <strong><%= format_time(amzurevent.to_time) %></strong></div>
               
              <% if current_user.employee.id == amzurevent.employee_id %>         
               
              <%= link_to 'Edit', edit_amzur_event_path(amzurevent), :class => "btn btn-success " %>
              <%= link_to "Delete", amzur_event_path(amzurevent.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>
               
              <% end %>             
              <label class="desc">
                <%= raw amzurevent.description %>
              </label>              
              <%= link_to "Continue..", amzur_event_path(amzurevent), :class => "pt4" %><br><hr>                       
              <% end %>
              <% else %>     
              <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Events to display.
              </div>
            <% end %> 
             
						</div><!--/.panel-body-->
			  </section>
				<section class="panel">
         <header class="panel-heading">
              My Department Events
            </div>
            <div class="panel-body">
            <% if @emp_dept_events.present? %>                             	           
              <% @emp_dept_events.each do |amzurevent| %>
                <div> <strong><%= amzurevent.title %></strong> on <strong> <%= format_date (amzurevent.held_on) %> </strong></div>                           
                <label class="desc">
                  <%= raw amzurevent.description %>
                </label>              
                <%= link_to "Continue..", amzur_event_path(amzurevent), :class => "pt4" %><br><hr>                       
              <% end %>
              <% else %><br>     
              <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Events to display.
              </div>               
              
              <% end %>	     	           
						  </div><!--/.panel-body-->
						</section>
						
						
						<section class="panel">
						<header class="panel-heading">
             My Group Events
            </div>
            <div class="panel-body">															
						  <% if @emp_group_events.present? %>    
              <% @emp_group_events.each do |amzurevent| %>
              <div> <strong><%= amzurevent.title %></strong> on <strong> <%= format_date (amzurevent.held_on) %> </strong></div> 
                          
              <label class="desc">
                <%= raw amzurevent.description %>
              </label>              
              <%= link_to "Continue..", amzur_event_path(amzurevent), :class => "pt4" %><br><hr>                       
              <% end %>
              <% else %>     
              <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Events to display.
              </div>
            <% end %> 
                	           
						</div><!--/.panel-body-->
						</section>
						
						<section class="panel">
						
						<header class="panel-heading">
              My WorkGroup Events
            </div>
						
						   
		           
		            <div class="panel-body">
		          <% if @emp_workgroup_events.present? %>    
              <% @emp_workgroup_events.each do |amzurevent| %>
              <div> <strong><%= amzurevent.title %></strong> on <strong> <%= format_date (amzurevent.held_on) %> </strong></div> 
                          
              <label class="desc">
                <%= raw amzurevent.description %>
              </label>              
              <%= link_to "Continue..", amzur_event_path(amzurevent), :class => "pt4" %><br><hr>                       
              <% end %>
              <% else %>     
              <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Events to display.
              </div>
            <% end %> 
            	           
						</div><!--/.panel-body-->
						
          </section>
	


