<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span8">	
			  <div class="module">
          <div class="module-head">
			      <h3>Events Details</h3>			      
	        </div>			
		      <div class="module-body">	       
            <div><strong><%= @amzurevent.title %></strong> on <strong><%= format_date (@amzurevent.held_on) %></strong></div>
            <% if current_user.department == Department::HR %>
              <ul class="navigation-btns pull-right" style="margin-top:-20px">
                <li><%= link_to 'Edit', edit_amzur_event_path(@amzurevent), :class => "btn btn-success " %></li>
                <li><%= link_to "Delete", amzur_event_path(@amzurevent), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
              </ul>  
            <% end %><br>                         
            <%= raw @amzurevent.description %><br>                             
					  </div><!--/.module-body-->
				  </div><!--/.module-->
			  </div>	
			  <div class="span4">	
          <div class="module">	
            <div class="box-title">
              <div class="module-head">
                <h3>All Events</h3> 
              </div>                                            
            </div>
            <div class="module-body">
              <% @event.each do |event| %>
              <div class="control-group">
                 <a href="#"><br><strong><%= event.title %> </strong> </a> on <a href="#"><strong> <%= format_date (event.held_on) %> </strong></a>
              </div>
              <div class="control-group">
                <label class="desc" for="basicinput"> <%= raw event.description %></label>
              </div>         						
              <%= link_to "Continue..", amzur_event_path(event), :class => "pt4" %><br>              
              <div style="border-top: 1px solid #eeeeee;padding-bottom:-20px;"></div>
              <% end %> 
              <%= paginate @event %>	                                          
              </div><!--module body-->                         					
            </div><!--/.module-body-->
         </div><!--/.module-->
		  </div><!--/.span4-->
	  </div>				
  </div>	
</div>	
