
<div class="module">
	<div class="module-head">
		<h3> Promotion Info</h3>
  </div>
	<div class="module-body">	      
    <%= form_for ([@employee,@promotion]), :remote => true , :html => {:class=>"form-horizontal row-fluid edit-promotion-form"} do |f| %>
    <div class="control-group">
      <label class="control-label" for="basicinput">Date of Promotion</label>
        <div class="controls">      
          <%= f.text_field :date_of_promotion, :class => " span8 form-control date-picker", :placeholder => "Enter Date of Promotion", :data => {:error => "Please Enter Date of Promotion"},  :required => true %>   
          <div class="help-block with-errors"></div>               
      </div>
		</div>			        
    		
		<div class="control-group">
			<label class="control-label" for="basicinput">Department</label>                                              
			<div class="controls">
       <%= f.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments, span8 form-control", :id => "disabledSelect1" } %> 
       <span class="help-block with-errors"></span>
			</div>
		</div>
	
		<div class="control-group">
			<label class="control-label" for="basicinput">Designation</label>                                              
			<div class="controls">
       <%= f.grouped_collection_select :designation_id, Department.all, :designations, :department_name,  :id, :designation_name, { :prompt => "Please Select" }, { :class => "designation span8 form-control", :id=>"disabledSelect"  } %>  
       <span class="help-block with-errors"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="basicinput">Grade/Level</label>                                           
			<div class="controls">
        <%= f.grouped_collection_select :grade_id, Designation.all, :grades, :designation_name,  :id, :value, { :prompt => "Please Select" }, { :class => "grades span8 form-control", :id=>"disabledSelect"  } %>
       <span class="help-block with-errors"></span>
			</div>
		</div>				
	  <ul class="navigation-btns pull-left">
			  <li><%= f.submit "Save", :class => "btn btn-success" %></li>
				<li><%= link_to 'Cancel', employee_promotions_path(@employee), :class=>"btn btn-danger", :remote => true %></li>									
	 </ul>																									  											
	<% end %>
	</div><!--/.module-body-->
</div><!--/.module-->

       
     <script>
			  $(function(){
          $(".edit-promotion-form").validator();
         });  
			</script>
    
    <script>
      $(function() {
    $( ".date-picker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
  
    </script>
    
    
    
    
    
    <script>
//Date Picker


//Department and designation dynamic select buttons
 
  $('.designation').parent().hide();
  var designations = $('.designation').html();
  $('#disabledSelect1').change(function() {
   var department = $('#disabledSelect1 :selected').text();
   var  options = $(designations).filter("optgroup[label='"+department+"']").html();
    if (options) {
      $('.designation').html(options);
      $('.designation').parent().show();
       
      }
    else {
      $('.designation').empty();
      $('.designation').parent().hide();
      }
    var grades =  $('.grades').html();
   var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
      $('.grades').html(gradeoptions);
      $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      $('.grades').parent().hide();
      }
  });
   
  //Designation and grades dynamic select buttons
  $('.grades').parent().hide();
    var grades =  $('.grades').html();
    $('.designation').click(function() {
     var designation = $('.designation :selected').text();
     var gradeoptions = $(grades).filter("optgroup[label='"+designation+"']").html();
      if (gradeoptions) {
      $('.grades').html(gradeoptions);
      $('.grades').parent().show();
      }
    else {
      $('.grades').empty();
      //$('.grades').parent().hide();
      }
    });
 </script>

