
<%= form_for @education do |f| %>
  Qualification:<select id="qualification_list" name="qualification">
  </select><br/>
 
  College/University: <%= f.text_field :institute %><br/>
  Starting Year: <%= f.date_field :year_of_admission %>
  Pass Out Year: <%= f.date_field :year_of_pass %><br/>
  Percentage/CGPA: <%= f.text_field :cgpa_percentage %><br/>
  <select id="country_list" name="ed_country">
  </select>
  <input type='text' id='new_country' name='new_country'>
  <span id="state_dpdwn"></span>
  <span id="city_dpdwn"></span>
  
  <%= f.submit %>
 
<% end %>

<script>
  $(function(){
     $("#qualification_list").append("<option value='0'>Select Qualification</option>");     
    $.getJSON("/educations/qualifications.json", function( data ) {
        parseQualificationData(data);
     } ) ;
   
     function parseQualificationData(data){
      $.each( data, function( key, val ) {
          value = val['id'];
          name = val["qualification_name"]
          $("#qualification_list").append("<option value='"+value+"'>"+name+"</option>");
          console.log(value+" "+name);
        });
        }
        
   });
  
</script>
