			<div class="module">
				<div class="module-head">
					<h3>Education Info</h3>
						</div>
							<div class="module-body">
							
							<%= form_for ([@employee, @education]), :data => {:toggle => "validator", :remote => true}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>
							
			         <div class="control-group">
                  <label class="control-label" for="basicinput">Name Of Graduation</label>
                      <div class="controls">
                        <%= f.text_field :specilization, :class => "span8 form-control", :placeholder =>"Enter Graduation", :data => {:error => "Please Enter Degree"}, :required => true,:pattern => '[a-zA-Z/s ]*'%>  
                        <span class="help-block with-errors"></span>
                      </div>
								</div>
									        
    <div class="control-group">
                  <label class="control-label" for="basicinput">College/University Name</label>
                      <div class="controls">
                        <%= f.text_field :institute, :class => "span8 form-control", :placeholder =>"Enter College/University Name", :data => {:error => "Please Enter University"}, :required => true, :pattern => '[a-zA-Z/s ]*'%>
                        <span class="help-block with-errors"></span>
                      </div>
								</div>
	
	
		<div class="control-group">
										<label class="control-label" for="basicinput">Year of Passing</label>
										<div class="controls">
                     <%= f.text_field :year_of_pass, :class => "span8 from form-control", :placeholder => "Enter Year Of Passing", :data => {:error => "Please Enter Passing Year"}, :type => "number", :required => true, :pattern => '[0-9]{4}' %> 
											 <span class="help-block with-errors"></span>   
										</div>
									</div>
	
	 	
	
	
		<div class="control-group">
										<label class="control-label" for="basicinput">Percentage/CGPA </label>
										<div class="controls">
                     <%= f.text_field :cgpa_percentage, :class => "span8 to form-control", :id => "basicinput", :placeholder => "Percentage/CGPA",  :data => {:error => "Please Enter Percentage/CGPA"},:required => true, :pattern => "[0-9]*\.[0-9]+|[0-9]+" %>                  
											 <span class="help-block with-errors"></span>   
										</div>
									</div>
			
								
							
												 <button type="submit" class="btn btn-success">Save </button><br>
											<%= link_to 'Cancel', employee_educations_path(@employee), :class=>"btn btn-danger btn btn-success pull-right", :remote => true %>
										<% end %>
							</div><!--/.module-body-->
						</div><!--/.module-->

     
