<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Education Details</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            
                <div class="col-lg-12">
	<% if current_user.employee.role.id == 2 %>                
                <label style="font-weight:normal;padding:20px;" class = "pull-right"><i class="fa fa-plus "></i> <%= link_to 'Add Education', new_employee_education_path(@employee.id)  %></label>
<% end %>
<% if @eudcations.present? %>
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-lg-12">
                                    <% @eudcations.each do |education| %>
                                      <label class="normalfont">Name Of Institute : </label><label>&nbsp<%= education.institute %></label><br>
                                      <label class="normalfont">Specilization : </label><label>&nbsp<%= education.specilization %></label><br>
                                      <label class="normalfont">Releaved On : </label><label><%= education.year_of_pass %></label><label class="normalfont">With &nbsp </label><%= education.cgpa_percentage %> &nbsp%</label><br>
                                      
                                  <% if current_user.employee.role.id == 2 %>
                                  <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                     <li><%= link_to 'Edit', edit_employee_education_path(@employee.id, education.id), :class => "btn btn-success " %></li>
                                     <li><%= link_to "Delete", employee_education_path(@employee, education), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
<% end %>
                                  </ul>
     <br>
                                  <hr>
                                   <% end %>
                                </div>
<% else %>
<br/>
<h4>No Education Details</h4>
<% end %>
                              
                               
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

