<h2>Education details</h2>

  Qualification:<%= @education.specilization %><br/>
  College/University: <%= @education.institute %><br/>
 
  Pass Out Year: <%= @education.year_of_pass %><br/>
  Percentage/CGPA: <%= @education.cgpa_percentage %><br/>

   
  <%= link_to 'Edit', edit_education_path %>
