<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>Appraisal Cycles List</h3>
              <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'New Appraisal Cycle',  new_appraisal_cycle_path, :remote => true %></label>
            </div>
            <div class="module-body">
            <table border="0" class="table  table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Department</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Period</th>
                  <th>Employee Dead Line Date</th>
                  <th>Manager Dead Line Date</th>
                  <th>Employee Discussion Dead Line</th>
                  <th>Status</th>
                </tr>
              </thead>
              <% @appraisal_cycles.each do |appraisal_cycle| %>
                <tr>
                <td><%= link_to appraisal_cycle.title, appraisal_cycle_path(appraisal_cycle.id) %></td>
                <td><%= appraisal_cycle.department.department_name %></td>
                <td><%= appraisal_cycle.start_date.strftime("%d %b, %Y") %></td>
                <td><%= appraisal_cycle.end_date.strftime("%d %b, %Y") %></td>
                <td><%= appraisal_cycle.period %></td>
                <td><%= appraisal_cycle.employee_dead_line.strftime("%d %b, %Y") %></td>
                <td><%= appraisal_cycle.manager_dead_line.strftime("%d %b, %Y") %></td>
                <td><%= appraisal_cycle.discussion_dead_line.strftime("%d %b, %Y") %></td>
                <% if appraisal_cycle.status == AppraisalCycle::CLOSE %>
                  <td><%= appraisal_cycle.status %></td>
                <% else %>
                  <td><%= select_tag :status, options_for_select([['Open', 'Open'], ['Close', 'Close']]), class: "span1 status", :onchange => "get_appraisal(#{appraisal_cycle.id})" %></td>
                <% end %>
              <% end %>
            </table>
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->
  
  
  <script>
     function get_appraisal(appraisal_id){
        if(confirm("Are you sure?")){
        var cycle_id = appraisal_id;
        var status_value = $(".status").val();
        var status = { 'id': cycle_id, 'appraisal_cycle_status': status_value };
        $.ajax({
          type: "POST",
          url: "appraisal_cycles/status_update",
          data: status
        });
       }
       else{
        return false;
       }
     }
  </script>
  
