<div class="panel panel-info">
  <div class="panel-heading">
    New Appraisal Cycle  
  </div>
  <div class="panel-body">
    <%= form_for @appraisal_cycle, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}, remote: true  do |a| %>
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Title</label>
          <div class="col-lg-10">
            <%= a.text_field :title, :class => "form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="control-group">   
          <label class="col-lg-2 control-label" for="basicinput">Department</label>
          <div class="col-lg-10">
            <%= a.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments, form-control", required: true } %> 
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div><hr>
    
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Start Date</label>
          <div class="col-lg-10">
            <%= a.text_field :start_date, :class => "date-picker start_date form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="control-group">   
          <label class="col-lg-2 control-label" for="basicinput">End Date</label>
          <div class="col-lg-10">
            <%= a.text_field :end_date, :class => "date-picker end_date form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div><hr>
            
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Period</label>
          <div class="col-lg-10">
            <%= a.text_field :period, :class => "form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-3 control-label" for="basicinput">Employee Dead Line Date</label>
          <div class="col-lg-9">
            <%= a.text_field :employee_dead_line, :class => "date-picker employee_date form-control", required: true %>
            <span class="help-block with-errors"></span><span class="error2"></span>
          </div>
        </div>
      </div>
    </div><hr>
    
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-3 control-label" for="basicinput">Manager Dead Line Date</label>
          <div class="col-lg-9">
            <%= a.text_field :manager_dead_line, :class => "form-control date-picker manager_date", required: true %>
            <span class="help-block with-errors"></span><span class="error3"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-3 control-label" for="basicinput">Discussion Dead Line Date</label>
          <div class="col-lg-9">
            <%= a.text_field :discussion_dead_line, :class => "form-control date-picker discussion_date", required: true %>
            <span class="help-block with-errors"></span><span class="error4"></span>
          </div>
        </div>
      </div>
    </div><hr>
    <%= a.submit 'Create', :class => 'btn btn-success' %>
    <%= link_to ' Back', appraisal_cycles_path, :class => "btn btn-danger" %>            
    <% end %>
  </div><!--/.panel-body-->          
</div><!--/.wrapper-->

<script>
     $(".start_date").datepicker({
         dateFormat: 'dd/mm/yy',
         changeMonth: true,
         changeYear: true,
          minDate: -0,
         yearRange: "+0:+1",
         onSelect: function (selectedDate) {
             var date2 = $('.start_date').datepicker('getDate');
             date2.setDate(date2.getDate());
             $(".end_date").datepicker("option", "minDate", date2);
             $(".error1").html('');
         }
     });

     $(".end_date").datepicker({
         dateFormat: 'dd/mm/yy',
          minDate: $('.start_date').datepicker('getDate'),
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true, 
           onClose: function (selectedDate) {
            var date1 = $('.start_date').datepicker('getDate');
            $(".employee_date").datepicker("option", "minDate", $('.start_date').datepicker('getDate'));
            $(".employee_date").datepicker("option", "maxDate", $('.end_date').datepicker('getDate'));
            if (date1){
              
            }else{
              $(".end_date").val('');
              $(".error1").html('<ul class="list-unstyled"><li>Please Enter Start Date First</li></ul>');
            }
           }
     });
     
     $(".employee_date").datepicker({
         dateFormat: 'dd/mm/yy',
          minDate: -0,
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true, 
           onClose: function (selectedDate) {
            var date1 = $('.start_date').datepicker('getDate');
            var date2 = $('.end_date').datepicker('getDate');
            var date3 = $('.employee_date').datepicker('getDate');
            date3.setDate(date3.getDate());
            $(".manager_date").datepicker("option", "minDate", date3);
            $(".manager_date").datepicker("option", "maxDate", date2);
            $(".error1").html('');
            if (date3>date1 && date3<date2){
              
            }else{
              $(".employee_date").val('');
              $(".error2").html('<ul class="list-unstyled"><li>Please Enter Date Between start and end dates</li></ul>');
            }
           }
     });
     
      $(".manager_date").datepicker({
         dateFormat: 'dd/mm/yy',
          minDate: -0,
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true, 
           onClose: function (selectedDate) {
            var date1 = $('.employee_date').datepicker('getDate');
            var date2 = $('.end_date').datepicker('getDate');
            var date3 = $('.manager_date').datepicker('getDate');
            date3.setDate(date3.getDate());
            $(".discussion_date").datepicker("option", "minDate", date3);
            $(".discussion_date").datepicker("option", "maxDate", date2);
            $(".error1").html('');
            if (date3>date1 && date3<date2){ 
            }else{
              $(".manager_date").val('');
              $(".error3").html('<ul class="list-unstyled"><li>Please Enter Date Between start and end dates</li></ul>');
            }
           }
     });
     
      $(".discussion_date").datepicker({
         dateFormat: 'dd/mm/yy',
          minDate: -0,
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true, 
           onClose: function (selectedDate) {
            var date1 = $('.manager_date').datepicker('getDate');
            var date2 = $('.end_date').datepicker('getDate');
            var date3 = $('.discussion_date').datepicker('getDate');
            if (date3>date1 && date3<date2){
              
            }else{
              $(".discussion_date").val('');
              $(".error4").html('<ul class="list-unstyled"><li>Please Enter Date Between start and end dates</li></ul>');
            }
           }
     });
</script>
