<div class="panel panel-info">
  <div class="panel-heading">
    New Appraisal Cycle <i class="fa fa-arrow-circle-left pull-right" style="margin-top:5px;"></i><%= link_to ' Back To AppraisalsCycles', appraisal_cycles_path, :class => " pull-right" %>
  </div>
  <div class="panel-body">
    <%= form_for @appraisal_cycle, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}, remote: true  do |a| %>
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Title</label>
          <div class="col-lg-10">
            <%= a.text_field :title, :class => "form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="control-group">   
          <label class="col-lg-2 control-label" for="basicinput">Department</label>
          <div class="col-lg-10">
            <%= a.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments, form-control", required: true } %> 
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div><hr>
    
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Start Date</label>
          <div class="col-lg-10">
            <%= a.text_field :start_date, :class => "date-picker start_date form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="control-group">   
          <label class="col-lg-2 control-label" for="basicinput">End Date</label>
          <div class="col-lg-10">
            <%= a.text_field :end_date, :class => "date-picker end_date form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div><hr>
            
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Period</label>
          <div class="col-lg-10">
            <%= a.text_field :period, :class => "form-control", required: true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Employee Dead Line Date</label>
          <div class="col-lg-10">
            <%= a.text_field :employee_dead_line, :class => "date-picker employee_date form-control", required: true %>
            <span class="help-block with-errors"></span><span class="error2"></span>
          </div>
        </div>
      </div>
    </div><hr>
    
    <div class ="row">
	    <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Manager Dead Line Date</label>
          <div class="col-lg-10">
            <%= a.text_field :manager_dead_line, :class => "form-control date-picker manager_date", required: true %>
            <span class="help-block with-errors"></span><span class="error3"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="col-lg-2 control-label" for="basicinput">Discussion Dead Line Date</label>
          <div class="col-lg-10">
            <%= a.text_field :discussion_dead_line, :class => "form-control date-picker discussion_date", required: true %>
            <span class="help-block with-errors"></span><span class="error4"></span>
          </div>
        </div>
      </div>
    </div><hr>
    <%= a.submit 'Create', :class => 'btn btn-success' %>
    <%= link_to 'Cancel', appraisal_cycles_path, :class => "btn btn-danger" %>            
    <% end %>
  </div><!--/.panel-body-->          
</div><!--/.wrapper-->

<script>
  //var startDate = new Date('01/01/1900');
  var appraisalStartDate = new Date();
  var startDate = new Date();
  var endDate = new Date();
  $(".start_date").datepicker({
    format: 'dd/mm/yyyy',
    startDate: '01/01/2000', 
    autoclose: true
  })
    .on('changeDate', function(selected){
      startDate = new Date(selected.date.valueOf());
      startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
      $('.end_date').datepicker('setStartDate', startDate);
  });
  
  $(".end_date").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  })
    .on( 'changeDate', function (selected) {
      startDate = $(".start_date").datepicker('getDate');
      endDate = new Date(selected.date.valueOf());
      $('.employee_date').datepicker('setStartDate', startDate);
      $('.employee_date').datepicker('setEndDate', endDate);       
  });
  
  $(".employee_date").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  })
    .on('changeDate', function (selected) {
      startDate = $(".employee_date").datepicker('getDate');
      endDate = $('.end_date').datepicker('getDate');
      $('.manager_date').datepicker('setStartDate', startDate);
      $('.manager_date').datepicker('setEndDate', endDate);
  });

  $(".manager_date").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  }) 
  .on ('changeDate', function (selected) {
    startDate = $(".manager_date").datepicker('getDate');
    endDate = $('.end_date').datepicker('getDate');
    $(".discussion_date").datepicker('setStartDate', startDate);
    $(".discussion_date").datepicker('setEndDate', endDate);
  });

  $(".discussion_date").datepicker({
  format: 'dd/mm/yyyy',
  autoclose: true
  }) 
</script>


