<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>New Appraisal Cycle</h3>
            </div>
            <div class="module-body">
              <%= form_for @appraisal_cycle, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal"}  do |a| %>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Title</label>
                    <div class="controls">
                      <%= a.text_field :title %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Department</label>
                    <div class="controls">
                      <%= a.collection_select :department_id, Department.all, :id, :department_name, { :prompt => "Please Select" }, { :class => "departments, span9 form-control", :id => "disabledSelect1" } %> 
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div><hr>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Start Date</label>
                    <div class="controls">
                      <%= a.text_field :start_date, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">End Date</label>
                    <div class="controls">
                      <%= a.text_field :end_date, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div><hr>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Period</label>
                    <div class="controls">
                      <%= a.text_field :period %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Employee Dead Line Date</label>
                    <div class="controls">
                      <%= a.text_field :employee_dead_line, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div><hr>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Manager Dead Line Date</label>
                    <div class="controls">
                      <%= a.text_field :manager_dead_line, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Discussion Dead Line Date</label>
                    <div class="controls">
                      <%= a.text_field :discussion_dead_line, :class => "date-picker" %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div><hr>
              <div class ="row-fluid">
						    <div class="span5">
                  <div class="control-group">   
                    <label class="control-label" for="basicinput">Status</label>
                    <div class="controls">
                      <%= a.select :status, options_for_select([['Open', 'Open'], ['Close', 'Close']]),  { :prompt => "Please Select" },:class=> "span8 form-control",:data => {:error => " Please Select status"}, :required =>true %>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div>
              <%= a.submit 'Create Appraisal', :class => 'btn btn-success pull-right' %>
              <% end %><br/>
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->
