<div class="row">
  <div class="col-lg-12">
    <section class="panel panel-info">
    <header class="panel-heading">
    Add Investment Declaration
    </header>

    <div class="panel-body">
      <%= form_for @investment, :html => {:class=>"form-horizontal row gen_inv_edit_form"} do |gen| %>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Section Name</label>
          <div class="col-lg-8">
            <%= gen.collection_select :section_declaration_id, SectionDeclaration.all, :id, :section, { :promt => "Please select"}, { :class => "section_declaration form-control",  :id => "disabledSelect"}  %>

            <span class="help-block with-errors"></span>
          </div>
        </div>

        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">Title</label>
          <div class="col-lg-8">
            <%= gen.text_field :title, :class => "form-control", :placeholder =>"Enter Section  Name", :data => {:error => "Section Should not be Empty"}, :required =>true %>
            <span class="help-block with-errors"></span>
          </div>
        </div>


        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput"> Description</label>
          <div class="col-lg-8">
            <%= gen.text_area :description, :class => "form-control", :placeholder =>"Enter Description", :data => {:error => "Description Should not be Empty"}, :required =>true,:pattern => '[0-9]*\.?[0-9]*' %>
            <span class="help-block with-errors"></span>
          </div>

        </div>	

        <div class="form-group">   
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success">Save</button>
            <%= link_to "Cancel", section_declarations_path,:class => "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
    </section>
  </div>
</div>



<script>
  $(".gen_inv_edit_form").validator();
</script>   

<% title "New Investment Declaration" %>






