 <a href="#" class="media-avatar pull-left">
   <% if @employee.present? && @employee.avatar_url.present? %>	  
      <%= image_tag(@employee.avatar_url) %>     
   <% else %>
     <% if @employee.gender == "Female" %>
        <%= image_tag "1.jpg", :class=> "nav-avatar" %> 
     <% else %>
        <%= image_tag "user.png", :class=> "nav-avatar" %> 
     <% end %>
   <% end %>							
</a><br>
<div class="media-body">
<div class="pull-right" ><a href="/employees" style="color:#5ecad4 pull-right"><i class="icon-circle-arrow-left"> Back to Employees</i></a></div> 
    <h4> 
       <%= @employee.title %>.&nbsp<%= @employee.full_name %> 
    </h4>
    <p class="profile-brief">
       
    </p>
     <div class="profile-details muted">
        <i class="icon-suitcase"></i> <%= @employee.designation.designation_name if @employee.designation.present? %><br>
        <i class="icon-phone"></i> <%= @employee.mobile_number %><br>
        <i class="icon-envelope-alt shaded"></i> <%= @employee.user.email if @employee.user.email.present? %><br>
    </div>        
</div>
