<!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">                
                <div class="span12">
                    <div class="content">
                        <div class="module">
                            <div class="module-body">
                                <div class="profile-head media">
                                    <a href="#" class="media-avatar pull-left">
                                      <% if @employee.present? && @employee.avatar_url.present? %>
                                        <%= image_tag(@employee.avatar_url) %> 
                                       <% else %>
                                          <img src="/assets/user.png"> 
                                    <% end %>
                                     
                                    </a>
                                    <div class="media-body">
                                        <h4>
                                           <%= @employee.full_name %> 
                                        </h4>
                                        <p class="profile-brief">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type.
                                        </p>
                                         <div class="profile-details muted">
                                            <i class="icon-suitcase"></i><%= @employee.designation.designation_name if @employee.designation.present? %><br>
                                            <i class="icon-phone"></i> <%= @employee.mobile_number %><br>
                                            <i class="icon-envelope-alt shaded"></i> <%= @employee.user.email %><br>
                                        </div>        
                                    </div>
                                                                                                              
                                <ul class="profile-tab nav nav-tabs">
                                    <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
                                    <li><a href="#contact" data-toggle="tab">Contact</a></li>
                                    <li><a href="#education" data-toggle="tab">Education</a></li>
                                    <li><a href="#experience" data-toggle="tab">Experience</a></li>
                                    <li><a href="#salary" data-toggle="tab">Salary</a></li>
                                    <li><a href="#promotions" data-toggle="tab">Promotions</a></li>
                                    <li><a href="#email_etiquette" data-toggle="tab">Email Etiquette</a></li>
                                    <li><a href="#exit_info" data-toggle="tab">Exit Info</a></li>
                                </ul>                                                                                                
                                 <div class="profile-tab-content tab-content">                                                                
                                    <div class="tab-pane fade active in" id="basic">
                                         <%= render "employees/show" %>                             
                                    </div><!--/.tab-pane-list--> 

                          <!--contact PANEL--> 
                                   
                                    <div class="tab-pane fade" id="contact">
                                      <%= render "addresses/index" %>   
                                    </div><!--/.tab-pane-list--> 
                          <!--education PANEL-->   
                                      <div class="tab-pane fade " id="education"> 
                                          <%= render "educations/index" %>  
                                      </div>                                               
                          <!--salary PANEL--> 
                              <div class="tab-pane fade " id="experience">
                                         <%= render "experiences/index" %>                             
                                      </div>          
                                                  
                                      <div class="tab-pane fade " id="salary">
                                      <h2>salary Info</h2>                                            
                                      </div>
                          <!--promotions PANEL-->             
                                      <div class="tab-pane fade " id="promotions">
                                      <%= render "promotions/index"%>                                           
                                      </div>
                          <!--email_etiquette PANEL-->             
                                      <div class="tab-pane fade " id="email_etiquette">
                                      <%= render "email_ettiquities/index" %>                                            
                                      </div> 
                          <!--exit_info PANEL-->             
                                      <div class="tab-pane fade " id="exit_info">
                                      <%= render "ff_statuses/index" %>                                            
                                      </div>

                                </div><!--/.tab-pane-list-->                                                                                      
                              </div>
                            <!--/.module-body-->
                        </div>
                        <!--/.module-->
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>	
									
									
									
										   
           
                   



