   <%= form_for (@leave_history), :data => {:toggle => "validator"} do |f| %>
        <div class="row"> 
          <div class="form-group">
            <label  class="col-lg-1 control-label">Leave Type:</label>
            <div class="col-lg-10">
              <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name,  { :class => "leave_type form-control", :id => "disabledSelect" } %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div> 
        </div>  
                            
        <div class="row">
          <div class="form-group">
            <label  class="col-lg-1 control-label">Reason:</label>
            <div class="col-lg-6">
              <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Reason", :data => {:error => "Please Enter Reason For Leave"}, :required =>true %> 
              <span class="help-block with-errors"></span> 
            </div>
          </div>
        </div>   
        
        <!----------------------------------------------------------------->
                  
          <div id="casualleave"> 
            <!---------------- Radio Picker -------------------------->
            <div class="row col-lg-6">       
                <div class="col-lg-2"></div>
                <div class="form-group col-lg-2">                           
                  <%= f.radio_button :is_halfday, 'half_day', :class => "rb1" %> &nbspHalf Day  
                  <span class="help-block with-errors"></span>               
                </div>
                <div class="col-lg-2"></div>
                <div class="form-group col-lg-2">
                  <%= f.radio_button :is_halfday, 'full_day',:class => "rb2", :checked => true %> &nbspFull Day      
                  <span class="help-block with-errors"></span> 
                </div>
            </div>
          <!---------------- Radio Picker -------------------------->
         
            
            <!------------Full Day -------------------->
                <div class=" col-lg-10 full_day"> 
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label  class="col-lg-2 control-label">From: </label>
                      <div class="col-lg-8">
                        <%= f.text_field :from_date, :class => "form-control leave-form-date idnm1", id: "full_day_from", :data => {:error => "Please Enter Valid Date"}, :required => true %>
                        <span class="help-block with-errors"></span> 
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label  class="col-lg-2 control-label">To:</label>
                      <div class="col-lg-8">
                        <%= f.text_field :to_date, :class => "form-control leave-to-date idnm2", id: "full_day_to", :data => {:error => "Please Enter Valid Date"}, :required => true  %>
                        <span class="help-block with-errors"></span> 
                      </div>
                    </div> 
                  </div>
                </div>

              <!------------Full Day -------------------->
                
              <!------------Half Day -------------------->
            
            <div class="col-lg-12 half_day">          
              <div class="form-group">
                <label  class="col-lg-1 control-label">Date:</label>
                <div class="col-lg-3">
                  <input type="text" name="leave_date" id = "half_day" class ="form-control leave-date">
					        <span class="help-block with-errors"></span>   
				        </div>
              </div>
              <div class="form-group">
                <label  class="col-lg-1 control-label">Section:</label>
                <div class="col-lg-3">
                  <%= f.select :section, options_for_select([['Morning', 'Morning'], ['After Noon', 'After Noon']]), :class => "form-control leave-to-date idnm4", :data => {:error => "Please Enter Select Session"} %>
                  <span class="help-block with-errors"></span> 
                </div>
              </div>   
            </div>         
          </div><!-- calualleave-->
        </div>
          <!------------Half Day -------------------->
            <!------------Floating  Day -------------------->
          <div class="floatingleave col-lg-12">          
            <div class="form-group">
              <label  class="col-lg-1 control-label">Date:</label>
              <div class="col-lg-4">
                <input type="text" name="float_leave_date" id = "floating_leave" class =" form-control float-leave-date" >
                <span class="help-block with-errors"></span> 
              </div>
            </div>
          </div>
        
          <!------------Floatng Day -------------------->
        <%= hidden_field_tag 'total_leaves', total_balance_leaves(@employee) %>
        <div class="panel-body">
          <button type="submit" class="btn btn-success apply"> Apply </button>
          <%= link_to "Cancel", leave_histories_path,:class => "btn btn-danger" %>                                    
        </div>
      <% end %>           
