<div class="panel panel-info">
	<div class="panel-heading">
    Leave Form
  </div>   
  <% if @error.present? %>
     <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       <%= @error%>
    </div>
  <% end %>              
  <div class="panel-body">   
     <%= form_for ([@employe, @leave_history]), :data => {:toggle => "validator"}, :html => {:class => "form-horizontal"} do |f| %>
      <div class="form-group">
			  <label class="control-label col-lg-2" for="basicinput">Leave Type</label>                                              
					<div class="col-lg-8">
           <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name, { :prompt => "Please Select" }, { :class => "leave_type  form-control" ,:selected => f.object.leave_type_id} %> 
           <span class="help-block with-errors"></span>
					</div>
		 </div> 
     <div class="form-group">
				<label class="col-lg-2 control-label" for="basicinput">Reason</label>
					<div class="col-lg-8">
             <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Reason", :data => {:error => "Please Enter Reason For Leave"}, :required =>true %>  
					  <span class="help-block with-errors"></span>   
					</div>
			</div>
			
		  <div class="casualleave">
	      <!---------------- Radio Picker -------------------------->
	       <div class="row">                 
            <div class="col-lg-2"></div>
            <div class="form-group col-lg-2" style="margin-left:0px;">                           
              <%= f.radio_button :is_halfday, 'half_day', :class => "rb1" %> &nbspHalf Day    
              <span class="help-block with-errors"></span>               
            </div>              
            <div class="form-group col-lg-2">
              <%= f.radio_button :is_halfday, 'full_day',:class => "rb2", :checked => true %> &nbspFull Day         
              <span class="help-block with-errors"></span> 
            </div>
          </div>                                
        <!-------- radio buttons end -------------------->
        
        
        <!------------Full Day -------------------->
        <div class="full_day">
          <div class="row" >                 
            <div class="form-group" style="margin-left:0px;">
            
              <label  class="col-lg-2 control-label" >From: </label>
              <div class="col-lg-3">
                <%= f.text_field :from_date, :class => "form-control leave-form-date idnm1", id: "full_day_from", :data => {:error => "Please Enter Valid Date"}, :required => true %>
                <span class="help-block with-errors"></span> 
              </div>                                                       
              <label  class="col-lg-1 control-label">To:</label>
              <div class="col-lg-3">
                <%= f.text_field :to_date, :class => "form-control leave-to-date idnm2", id: "full_day_to", :data => {:error => "Please Enter Valid Date"}, :required => true  %>
                <span class="help-block with-errors"></span> 
              </div>
                                               
            </div> 
          </div>
        </div>                                         

        <!------------Full Day -------------------->
        
          <div class=" half_day">
            <div class="row">          
              <div class="form-group" style="margin-left:0px;">
              
                <label  class="col-lg-2 control-label">Date:</label>
                <div class="col-lg-3">
                  <input type="text" name="leave_date" id = "half_day" class ="form-control leave-date">
					        <span class="help-block with-errors"></span>   
				        </div>
                                        
                <label  class="col-lg-2 control-label">Section:</label>
                <div class="col-lg-3">
                  <%= f.select :section, options_for_select([['First Half', 'First Half'], ['Second Half', 'Second Half']]), :class => "form-control leave-to-date idnm4", :data => {:error => "Please Enter Select Session"} %>
                  <span class="help-block with-errors"></span> 
                </div>
                
              </div> 
            </div>  
          </div>
            
         <!------------- calualleave------------>   
        </div>
        
        
            <!------------Floating  Day -------------------->
          <div class="floatingleave">          
            <div class="row">
              <div class="form-group" style="margin-left:0px;">
                <label  class="col-lg-2 control-label">Date:</label>
                <div class="col-lg-3">
                  <input type="text" name="float_leave_date" id = "floating_leave" class =" form-control float-leave-date" >
                  <span class="help-block with-errors"></span> 
                </div>
              </div>
            </div>
          </div>
        
          <!------------Floatng Day -------------------->
          
        <%= hidden_field_tag 'total_leaves', total_balance_leaves(@employee) %>
        <div class="row">
          <div class="form-group">
           <label  class="col-lg-2 control-label" style="margin-left:27px;"></label>
            <button type="submit" class="btn btn-success apply"> Apply </button>
            <%= link_to "Cancel", leave_histories_path,:class => "btn btn-danger" %> 
          </div>                                   
        </div>
   <% end %>
    <div class="alert-message alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       You have crossed the limit of your balace leaves
    </div>
                       
  </div><!--module -body-->
</div><!--/.module-->
	                               
<script>
$(function(){
    $('.half_day').hide();
    $(".alert-message").hide();
     $('.floatingleave').hide();
     
    $('.rb1').click(function(){
      $('.full_day').hide();
      $('.half_day').show();
      $("#half_day").prop('required', true);
      $("#floating_leave").removeAttr("required");
      $("#full_day_from").removeAttr("required");
      $("#full_day_to").removeAttr("required");
    });
    $('.rb2').click(function(){
      $('.half_day').hide();
      $('.full_day').show();
      $("#full_day_from").prop('required', true);
      $("#full_day_to").prop('required', true);
      $("#half_day").removeAttr("required");
      $("#floating_leave").removeAttr("required");
    });
    
    
    var startDate = new Date('01/01/1900');
    var FromEndDate = new Date();
    var ToEndDate = new Date();

    $('.leave-form-date').datepicker({
       format: 'dd/mm/yyyy',
       startDate: '-1m', 
       autoclose: true
    })
     .on('changeDate', function(selected){
           startDate = new Date(selected.date.valueOf());
           startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
           $('.leave-to-date').datepicker('setStartDate', startDate);
     });
     
     $('.leave-to-date').datepicker({
           format: 'dd/mm/yyyy',
           autoclose: true
       })
       .on('changeDate', function(selected){
           FromEndDate = new Date(selected.date.valueOf());
           FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
           $('.leave-from-date').datepicker('setEndDate', FromEndDate);
       });
       
       
      $(".idnm2").change(function(){
       
        if ($(".rb2").prop("checked")){
          var startDate =$(".idnm1").datepicker("getDate");
          var endDate =$(".idnm2").datepicker("getDate");
          var diff = endDate - startDate;// calculating date difference will give value in milliseconds
          var days = (diff/86400000)+1; // converting milliseconds to days here we are adding 1, becuase it will give the difference of two dates
          var weeks = Math.floor(days / 7); // calculating how many weeks we have in that days
          days = days - (weeks * 2); // multiply with 2 will give how many weekends we have in those weeks
          var startDay = startDate.getDay(); //will give day of that date
          var endDay = endDate.getDay();
          if (startDay - endDay > 1) // conditons for calculating days depends on their start and end dates
            days = days - 2;
          if (startDay == 0 && endDay != 6) // it checks weather start day is sunday
            days = days - 1;
          if (endDay == 6 && startDay != 0) // it checks weather end day is saturday
            days = days - 1;
          var total_leaves = parseFloat($("#total_leaves").val());// converting value into float
          if(total_leaves<days){  // checking weather applied leaves are more than balance leaves
            $(".alert-message").show(); // it will show an alert message to the user that he crossed his balance leaves
          }
          else{
            $(".alert-message").hide();
          }
        }
      });
     
   $('.leave-date').datepicker({
       format: 'dd/mm/yyyy',
        startDate: FromEndDate,
       //endDate: '01/01/2900',
       autoclose: true
   });
   

   
    $('.float-leave-date').datepicker({
       format: 'dd/mm/yyyy',
       startDate: '-1m',
      
       autoclose: true
   })
   
    $(".leave_type").change(function(){
      var leave_id = parseInt($(this).val());
      if(leave_id == 2)
        {
          $('.casualleave').hide();
          $('.floatingleave').show();
          $(".leave-form-date").removeAttr("required");
          $(".leave-to-date").removeAttr("required");
          $(".float-leave-date").prop('required', true);
          $(".leave-date").removeAttr("required");
          
          //.datepicker('setDate', date);
        }
        else{
          $('.floatingleave').hide();
          $('.casualleave').show();
          $(".leave-form-date").prop('required', true);
          $(".leave-to-date").prop('required', true);
          $(".float-leave-date").removeAttr("required");
          $(".leave-date").removeAttr("required");
        }
          //console.log(leave_id);
     });
     
  
});
</script>
