<div class="panel panel-info">
  <div class="panel-heading">
    Leave Form
  </div>   
  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= @error%>
    </div>
  <% end %>              
  <div class="panel-body">   
    <%= form_for ([@employe, @leave_history]), :data => {:toggle => "validator"}, :html => {:class => "form-horizontal"} do |f| %>  
      <div class="form-group">
        <label  class="col-lg-1 control-label">Leave Type:</label>
        <div class="col-lg-10">
          <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name,  { :class => "leave_type form-control", :id => "disabledSelect" } %> 
          <span class="help-block with-errors"></span> 
        </div>
      </div> 
      <div class="form-group">
        <label  class="col-lg-1 control-label">Reason:</label>
        <div class="col-lg-8">
          <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Reason", :data => {:error => "Please Enter Reason For Leave"}, :required =>true %> 
          <span class="help-block with-errors"></span> 
        </div>
      </div>


<!--   <div class="row">        
<div class="col-lg-1">
<div class="form-group">                           
<%= f.radio_button :is_halfday, 'half_day', :class => "rb1" %> &nbspHalf Day  
<span class="help-block with-errors"></span>               
</div>
</div>
<div class="col-lg-5">
<div class="form-group">
<%= f.radio_button :is_halfday, 'full_day',:class => "rb2", :checked => true %> &nbspFull Day      
<span class="help-block with-errors"></span> 
</div>
</div>
</div> -->

      <div class="form-inline col-lg-offset-1">
        <div class="form-group ">
          <label  class="col-lg-2 control-label">From: </label>
          <div class="col-lg-8">
            <%= f.text_field :from_date, :class => "form-control leave-form-date idnm1",  :data => {:error => "Please Enter Valid Date"}, :required => true %>
            <span class="help-block with-errors"></span> 
          </div>
        </div>
        <div class="form-group">
          <label  class="col-lg-1 control-label">To:</label>
          <div class="col-lg-8">
            <%= f.text_field :to_date, :class => "form-control leave-to-date idnm2", :data => {:error => "Please Enter Valid Date"}, :required => true  %>
            <span class="help-block with-errors"></span> 
          </div>
        </div> 
      </div>

        <%= hidden_field_tag 'total_leaves', total_balance_leaves(@employee) %>
           
        <button type="submit" class="btn btn-success"> Apply </button>
        <%= link_to "Cancel", leave_histories_path,:class => "btn btn-danger" %>

      <% end %>

    </div><!--module -body-->
</div><!--/.module-->
	                               
<script>
$(function(){
$(".alert-message").hide();
var startDate = new Date('01/01/1900');
var FromEndDate = new Date();
var ToEndDate = new Date();

ToEndDate.setDate(ToEndDate.getDate()+365);

$('.leave-form-date').datepicker({
   format: 'dd/mm/yyyy', 
   autoclose: true
})
   .on('changeDate', function(selected){
       startDate = new Date(selected.date.valueOf());
       startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
       $('.leave-to-date').datepicker('setStartDate', startDate);
   }); 
   
$('.leave-to-date')
   .datepicker({
       format: 'dd/mm/yyyy',
       autoclose: true
   })
   .on('changeDate', function(selected){
       FromEndDate = new Date(selected.date.valueOf());
       FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
       $('.leave-from-date').datepicker('setEndDate', FromEndDate);
   });
    
});
</script>         





