<div class="panel panel-info">
  <div class="panel-heading"> 
    Leave History & Current Leaves <i class="fa fa-plus pull-right icon-position"></i><%= link_to ' Apply Leave',  new_leave_history_path, :class => "pull-right " %>
  </div>  	 	 	                     
  <div class="panel-body">
    <% if @leave_histories.present? %>   
    <div class="adv-table">
      <table  class="display table table-bordered table-striped table-dynamic" id="leave-history-data-table">
        <thead>
          <tr>			  
	          <th> Date </th>
	          <th>No.of Days</th>
	          <th> Reason </th>
	          <th> Leave Type </th>											
	          <th> Status</th>
	          <th>Action</th>							
         </tr>            
        </thead>
        <tbody >                           
          <%  @leave_histories.each do |f| %>
       		<% if((f.from_date.to_date <= Date.today && f.to_date.to_date >= Date.today) || (f.to_date.to_date < Date.today)) %>											
          <tr>               
            <% if f.is_halfday %>
              <td><%= f.from_date %></td>
              <td>half day(<%= f.section %>)</td>               
             <% else %>
           	  <td><%= format_date(f.from_date) %> - <%= format_date(f.to_date) %> </td>													
	            <td>  <%= pluralize(f.days, 'day') %>  </td>
	           <% end %>
	          <td><span style='display: none;'><%= f.reason %></span><%= truncate(f.reason) { link_to "Continue", "#", :data => {:toggle => "modal", :target => "#myModal3"}, :id => "modal-text" } %>  </td>
	          <td><%=f.leave_type.type_name %> </td>													
	          <td><%=f.status %></td>
	          <% unless f.to_date.to_date <= Date.today %>
	            <td><%= link_to "Edit", edit_leave_history_path(f),  :class => "btn btn-info btn-xs", :remote => true  %></td>								 
	          <% end %>
          </tr>																						
        </tbody>
        <% end %>	
        <% end %>                                     
        <tfoot>
         <tr>			  
	          <th> Date </th>
	          <th>No.of Days</th>
	          <th> Reason </th>
	          <th> Leave Type </th>											
	          <th> Status</th>
	          <th>Action</th>							
         </tr>          
        </tfoot>
      </table>
    </div>      
    <% else %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         You have No Leaves History 
    </div>
  <% end %>                               
  </div>                          												  									
</div><!--panel panel-info-->							


<script>
	$(document).ready(function() {
		$('#leave-history-data-table').dataTable();
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>
                          												 											
							

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Reason for leave</h4>
      </div>
      <div class="modal-body">
        <span id="modal_body-reason4"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("td a[id='modal-text']").click(function(){
    var content=$(this).prev().text();
    $("#modal_body-reason4").text(content);
  });
  

});
</script>
