<div class="panel panel-info">
  <div class="panel-heading">                                                        
     My Reportees
  </div>   
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">      
      <div class="panel-body">
        <div class="adv-table">
          <% if @employees.present? %> 
          <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">         
            <thead>
		          <tr>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Group</th>
                <th>Number of leaves used</th>
              </tr>
             </thead>
             <tbody>          
                <% @employees.each do |emp| %>
               <tr class="gradeA">             
				          <td><%= emp.full_name %></td>
                  <td><%= emp.department.department_name %></td>
                  <td><%= emp.designation.designation_name if emp.designation.present? %></td>
                  <td><%= emp.group.group_name if emp.group.present? %></td> 
                  <td><%= total_used_leaves(emp)%> </td>
               </tr>
               <% end %>
	          </tbody>
	          <tfoot>
		          <tr>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Group</th>
                <th>Number of leaves used</th>
              </tr>
             </tfoot>                        
          </table>
          <% else %>
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                You have No List of Reportees to display.
          </div> 
          <% end %>        		 			             
          </div>
        </div>
      </section>                           
    </div>
  </div>                          												  									
</div><!--panel panel-info-->		




       
