<div class="panel panel-info">
  <div class="panel-heading"> 
    Leaves Waiting for Approval<%= link_to ' Apply Leave',  new_leave_history_path, :class => "icon-plus-sign pull-right " %>
  </div>          
    <!-- page start-->        
  <div class="panel-body">
    <% if employee_has_hold_leaves? %>	   
    <div class="adv-table">
      <table  class="display table table-bordered table-striped table-dynamic" id="dynamic-table">
        <thead>
          <tr>																																						
            <th> Date </th>
            <th> No.of Days </th>
            <th> Reason </th>
            <th> Leave Type </th>				
            <th  >Status </th>
            <th clospan=2>Action</th>												
          </tr>             
        </thead>
        <tbody>                           
        <% @leaves.each do |f| %>												
          <tr class="gradeA">             												 	
            <% if f.is_halfday %>
              <td><%= format_date(f.from_date) %></td>
              <td>half day(<%= f.section %>)</td>               
            <% else %>
              <td><%= format_date(f.from_date) %> - <%= format_date(f.to_date) %> </td>													
              <td>  <%= pluralize(f.days, 'day') %>  </td>
            <% end %>
            <td><span style='display: none;'><%= f.reason %></span><%= truncate(f.reason) { link_to "Continue", "#", :data => {:toggle => "modal", :target => "#myModal"}, :id => "modal-text" } %>  </td>
            <td><%=f.leave_type.type_name if f.leave_type.present? %></td>													
            <td><%=f.status %></td>
            <td><%= link_to "Edit", edit_leave_history_path(f), :class => "btn btn-info", :remote => true %>
            <%= link_to "Delete",  f, method: :delete, data: {confirm: "Are You sure?"}, :class => "btn btn-danger"%></td>								 
          </tr>																						
        <% end %>             
        </tbody>
        <tfoot>
          <tr>																																						
            <th> Date </th>
            <th> No.of Days </th>
            <th> Reason </th>
            <th> Leave Type </th>				
            <th  class="center hidden-phone"> Status </th>
            <th  class="center hidden-phone" clospan=2>Action</th>												
          </tr>             
        </tfoot>
      </table>
    </div>     
    <% else %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         You have No Leaves Requests 
    </div>
    <% end %>                                                   												  								
    </div>  
</div><!--panel panel-info-->		

<script>
$(function(){
  $("td a[id='modal-text']").click(function(){  
    var content=$(this).prev().text();
    $("#modal_body-reason3").html(content);   
  });  
});
</script>



<!-- Modal -->
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:red;">Reason for leave</h4>
      </div>
      <div class="modal-body">
        <span id="modal_body-reason3"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>				
    


  


    
    


