             <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="page-header">Employees Leaves</div>
                    </div>
                <!-- /.col-lg-12 -->
                </div>
            <!-- /.row -->
                 <div class="row">
                   <div class="panel panel-default">                  
                      <div class="panel-heading">
                          Total Applied Leave List
                      </div>
                    <div class="panel-body"> 
                    <% if @leaves[1].present? %>                   
										<table class="table table-striped table-hover" id="sample-table-2">
											<thead>
												<tr>
												   <th> Full Name </th>
													 <th> Date </th>
													 <th> Day(s) </th>
													 <th> Reason </th>
													 <th> Leave Type </th>
													 <th> Remaining Leaves </th>
													 <th> Used Leaves </th>														
													 <th> Status</th>
												   <th> Comments</th>																				
												</tr>
											</thead>
										  <% @leaves[1].each do |f| %>											
											<tbody>												
												<tr>               
												  <td> <%= Employee.(f['employee_id']).full_name %></td>
											    <td> <%= format_date(f.from_date) %> to <%= format_date(f.to_date) %>  </td>
												  <td> <%= f.days %> </td>
												  <td> <%= f.leave_type.type_name if f.leave_type.present? %>  </td>
												  <td> <%= f.reason %> </td> 
												  <td> <%=total_balance_leaves(f.employee) %></td>
												  <td> <%=total_used_leaves(employee)%> </td>
												  <td> <%= f.feedback %> </td>
												  <td> <%= f.status %> </td>
												</tr>
                     </tbody>
								     <% end %>	          
									</table>							   
                     <div class="pagination ">                       
                        <%= paginate @leave %>                       
                     </div>
                  <% else %>
										 <div class="alert alert-info alert-dismissable">
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                             You have Not Applied Leaves 
                     </div>                                   
									<% end %>								                     
                 </div>
                    <!-- /.panel .body-->
               </div>
                  <!-- /.panel .panel-default-->                                   
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->



