<div class="wrapper">
 <div class="container">
   <div class="row">                
    <div class="span12">
      <div class="content">
        <div class="module"> 
          <div class="module-head">
            <h3> Employees Leaves List</h3>
          </div> 
          <% if @leaves.present? %> 
          <div class="module-body table" style="width:98%">                                                                          								
						<table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table  table-striped	 display" width="98%">
							<thead>
								<tr>
								   <th> Full Name </th>
									 <th> Date </th>
									 <th> Day(s) </th>
									 <th> Reason </th>
									 <th> Leave Type </th>
									 <th> Remaining Leaves </th>
									 <th> Used Leaves </th>														
									 <th> Status</th>
								   <th> Comments</th>																				
								</tr>
							</thead>										 									
							<tbody>
							 <% @leaves.each do |f| %>														
								<tr class="gradeA">               
								  <td> <%= f.employee.full_name %></td>
							    <td> <%= format_date(f.from_date) %> to <%= format_date(f.to_date) %>  </td>
								  <td> <%= f.days %> </td>
								  <td> <%= f.leave_type.type_name if f.leave_type.present? %>  </td>
								  <td> <%= f.reason %> </td> 
								  <td> <%=total_balance_leaves(f.employee) %></td>
								  <td> <%=total_used_leaves(f.employee)%> </td>
								  <td> <%= f.status %>  </td>
								  <td> <%= f.feedback %> </td>
								</tr>
							<% end %>	
             </tbody>								     	          
					</table>							                        
          <% else %>
						 <div class="alert alert-success alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                     No Applied Leaves To Show  
             </div>                                   												                                
           <% end %>
        </div><!-- /.module .body-->    	
      </div><!-- /.module -->    
    </div><!-- /.content -->
   </div><!-- /.span12-->
  </div><!-- /.row-->
 </div><!-- /.container-->
</div><!-- /.wrapper-->   
 
    
<script>
	$(document).ready(function() {
		$('.datatable-2').dataTable();
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>
      

