   <div id="page-wrapper"><br>
              
               <div class="add">      
						      <label style="margin-top:-5px;" class = "pull-right"><%= link_to 'Apply Leave',  new_leave_history_path(), :class => "fa fa-plus " %> </label> 
						   </div>
    
                <div class="page-header">Leaves Waiting for Approval</div>               
                 <div class="panel panel-default">
               
                  <div class="panel-heading">
                     Leaves Waiting for Approval
                  </div>
									<div class="panel-body"> 
                    <% if employee_has_hold_leaves? %>
										<table class="table table-striped table-hover" id="sample-table-2">
											<thead>
												<tr>
																									
													<th> Full Name </th>
													<th> Date </th>
													<th> Day(s) </th>
													<th> Reason </th>
													<th> Leave Type </th>
													<th> Remaining Leaves </th>
													<th> Used Leaves </th>														
													<th colspan="2"><center>Action </center></th>												
												</tr>
											</thead>
											 <%  @leaves.each do |f| %>											
											<tbody>												
												<tr>               
												 	<td><%= f.employee.full_name %>  </td>
													<td><%= f.from_date %> - <%= f.to_date%> </td>													
													<td> <%=f.days %></td>
													<td> <%= f.reason %>  </td>
													<td><%=f.leave_type.type_name %></td>													
													<td><%=total_balance_leaves(f.employee) %></td><!-- TODO-->
													<td><%=total_used_leaves(employee)%></td><!-- TODO-->
													<td><%=f.status %></td>
													<td></td>								 
												</tr>																						
											</tbody>
								      <% end %>
									
										</table>
										
									<%= paginate @leaves %>
										<% else %>
										  <div class="alert alert-info alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                           You have No Leaves Requests 
                      </div>
										<% end %>
									</div>
								 </div> 
    
								

								
									 <div class="page-header"> Approved Leaves List</div> 							
                   <div class="panel panel-default">
                      <div class="panel-heading">
                          Approved Leaves List
                      </div>
                    <div class="panel-body">
										 <% if @leave_histories.present? %> 	  	
									  <table class="table table-striped table-hover" id="sample-table-2">
											<thead>
												<tr>
												  <th> Full Name </th>
													<th> Date </th>
													<th> Day(s) </th>
													<th> Reason </th>
													<th> Leave Type </th>
													<th> Remaining Leaves </th>
													<th> Used Leaves </th>														
													<th> Status</th>
												  <th> Comments</th>
												</tr>
											</thead>
										 <%  @leave_histories.each do |f| %>											
											<tbody>												
												<tr>               
												 	<td><%= f.employee.full_name %>  </td>
													<td><%= f.from_date %> - <%= f.to_date%> </td>													
													<td> <%=f.days %> </td>
													<td> <%= f.reason %>  </td>
													<td><%=f.leave_type.type_name %> </td>													
													<td> <%=total_balance_leaves(f.employee) %></td><!--TODO-->
													<td><%= total_used_leaves(f.employee)%></td><!--TODO-->
													<td><%=f.status %></td>
													<td>Test Comment</td>								 
												</tr>																						
											</tbody>
								      <% end %>	                   
										</table>									
									    <div class="pagination ">                      
                          <%= paginate @leave_histories %>                       
                      </div>									
										<% else %>
										  <div class="alert alert-info alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                           You have No Leaves Requests 
                      </div>
                     
										<% end %>																					
                    </div>
                    <!-- /.panel .body -->
                </div>
								
                </div>
                <!-- /..panel-default  -->           
        </div>
        <!-- /#page-wrapper -->

