

<<<<<<< HEAD
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Leave History Details</h2>
=======
<% unless @leave_history.nil? %>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Employee Leave List               </h2>
                                        
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
<<<<<<< HEAD
                            Leave History d
=======
                            Holiday List Form  
                            <%= link_to "Apply Leave",  new_employee_leave_history_path, :class=>"btn btn-success pull-right" %>       
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
<<<<<<< HEAD
                                    <% @leave_histories.each do |leave_history| %>
                                        
                                        <div class="form-group">
                                            <label>Leave From:</label>
                                            <%= leave_history.from_date %>
                                        </div>
                                        <div class="form-group">
                                            <label>Leave Till:</label>
                                            <%= leave_history.to_date %>
                                        </div>
                                        <div class="form-group">
                                            <label>Total no of days:</label>
                                            <%= leave_history.days %>
                                        </div>
                                         <div class="form-group">
                                            <label>Reason for leave:</label>
                                            <%= leave_history.reason %>
                                        </div>
                                        <div class="form-group">
                                            <label>Feedback from respective authority:</label>
                                            <%= leave_history.feedback %>
                                        </div>
                                        <ul class="navigation-btns" style="list-style: none;display:inline;">                                            
                                            <li><button type="submit" class="btn btn-success pull-left">Save</button> </li>  
                                        </ul>
                                  <hr>
                                   <% end %>
                                </div>
                                
=======
                                <% @leave_history.each do |f| %>
                                    
                                        <div class="form-group">
                                            <label style="font-weight:normal;">From Date:</label>
                                            <%= f.from_date %>                                 
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">To Date:</label>
                                            <%= f.to_date %>
                                        </div>
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Leave Type:</label>
                                            <%= LeaveType.find(f.leave_type_id).type_name %>
                                        </div>
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Total Days:</label>
                                            <%= f.days %>
                                        </div>
                                        
                                        
                                        <ul class="navigation-btns" style="list-style: none;display:inline;">  
                                        <%= link_to "Edit", edit_employee_leave_history_path(@employee, f), :class=>"btn btn-success pull-right" %>                                          
                                      <!--      <li><button type="submit" class="btn btn-success pull-left">Save</button> </li> --> 
                                        </ul>
                                  <hr>
                                 
                                </div>
                                <% end %>
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

<<<<<<< HEAD
=======

<% end %>
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
