
             <div id="page-wrapper"><br>
              
               <div class="add">      
						      <label style="" class = "pull-right"><%= link_to 'Apply Leave',  new_leave_history_path(), :class => "fa fa-plus " %> </label> </div>
						  
<br><br>     <h4>Leaves Waiting for Approval</h4><hr>
               
               <div class="panel panel-default">
               
                  <div class="panel-heading">
                     Leaves Waiting for Approval
                  </div>
									<div class="panel-body"> 
<% @leaves.each do |f| %>
											 <% if f.status == "HOLD" %>
										<table class="table table-striped table-hover" id="sample-table-2">
											<thead>
												<tr>
													<th class="center">Full Name</th>
													<th> Leaves Used </th>
													<th class="hidden-xs">Leaves Balance</th>
													<th class="hidden-xs">Remaining Carry Forward Leaves</th>
													<th class="hidden-xs">Waiting For Approval</th>
												</tr>
											</thead>
											 <% @leaves.each do |f| %>
											 <% if f.status == "HOLD" %>
											<tbody>
												<tr>

													<td class="center"><a href="view.html"> <%= @employee.full_name %></td>
													<td><%= total_used_leaves(@employee)%></td>
													<td><%= total_balance_leaves(@employee) %></td>

													<td>2</td>
													<td><%= waiting_for_approval(@employee)%></td>
												</tr>
											</tbody>
									<% end %>
									<% end %>
										</table>
										<% else %>
										  <h3>There is no leaves </h3>
										<% end%>
										<% end %>
									</div>

								 </div>     
								 <h4> Approved Leaves List</h4> <hr>  
                   <div class="panel panel-default">
                      <div class="panel-heading">
                          Approved Leaves List
                      </div>
                    <div class="panel-body">
										   		 <% @leaves.each do |f| %>
												<% unless f.status == "HOLD" %>
										    <table class="table table-striped table-hover" id="sample-table-2">
											<thead>
												<tr>
												  <th> Full Name</th>
													<th class="center">Date</th>
													<th class="hidden-xs">No 0f Days</th>													
													<th class="hidden-xs">Leaves Type</th>
													<th class="hidden-xs">Leaves Balance</th>
													<th> Leaves Used </th>
													<th class="hidden-xs">Status</th>
													<th class="hidden-xs">Feedback</th>
												</tr>
											</thead>
										 <% @leaves.each do |f| %>
												<% unless f.status == "HOLD" %>
											<tbody>												
												<tr>               <td><%= @employee.full_name %></td>
													                  <td class="center"> <%= format_date(f.from_date) %>  </td>
													                  <td> <%= f.days %> </td>
													                  <td> <%= f.leave_type.type_name if f.leave_type.present? %>  </td>
													                  <td> <%f.reason %> </td> 
																						<td></td>
																						<td></td>
													                  <td> <%= f.status %> </td>
													               
												                  </tr>
											
												
												
											</tbody>
								<% end %>
	<% end %>
										</table>
										<% else %>
										  <h4>There is no leaves</h4>
										<% end %>
										<% end %>
									</div>
								</div>
                   
                    
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

