<div class="wrapper">
    <div class="container">
        <div class="row">                
            <div class="span12">
                <div class="content">
                    <div class="module">
                      <% if @employee.department.leave_policy.present? %>
                   <% if @employee.reporting_manager? %>
                        <div class="module-body">
                            <div class="profile-head media">                   
                                <div class="media-body">
                                   <a class="media-avatar pull-left" href="#">                                 
                                      <img src="/assets/HR.jpg" style="height:120px !important;width:120px !important;"> 
                                    </a> 
                                    <div class="media-body"> 
                                      <h4>
                                         Leaves DashBoard
                                            <%= link_to 'Apply Leave',  new_leave_history_path, :class => "fa fa-plus pull-right " %> 
                                      </h4>
                                      <p>Balance Leaves:  <%= pluralize(total_balance_leaves(@employee)+carry_forward_leaves(@employee), 'day') %></p>
                                       
                                      <p>Used Leaves : <%= pluralize(total_used_leaves(@employee), 'day') %>  </p>
                                    
                                    </div>
                                 </div>                                                                         
                                  <ul class="profile-tab nav nav-tabs">
                                      <li class="active"><a href="#waiting-for-approval" data-toggle="tab">Leaves Waiting for Approval</a></li>
                                      <li><a href="#upcoming-leaves" data-toggle="tab">Upcoming Leaves List</a></li>
                                      <li ><a href="#leaves-history" data-toggle="tab">Leave History</a></li>
                                      <li><a href="#leave_policy" data-toggle="tab">Leave Policy</a></li>
                                      <li><a href="#holiday_calender" data-toggle="tab">Holiday-Calender</a></li> 
                                      <li><a href="#leave_approavals" data-toggle="tab">Leave Approavals</a></li>  
                                      <li><a href="#reportees" data-toggle="tab">Reportees</a></li>                                     
                                  </ul> 
                            
                                                                                                                           
                             <div class="profile-tab-content tab-content">  
                                <div class="tab-pane fade active in" id="waiting-for-approval">                                              
                                    <%= render "leave_histories/waiting_for_approvals"%>                  
                                </div><!--/.tab-pane-list--> 
                      <!--leaves PANEL-->                                    
                                
                                <div class="tab-pane fade" id="upcoming-leaves">
                                     <%= render "leave_histories/upcoming_leaves_list"%>         
                                </div><!--/.tab-pane-list--> 
                      <!--designations PANEL-->   
                                 
                                  <div class="tab-pane fade " id="leaves-history"> 
                                     <%= render "leave_histories/leave_history" %>    
                                  </div> <!--/.tab-pane-list-->                                              
                      <!--leave_policies PANEL-->             
                                 
                                  <div class="tab-pane fade " id="leave_policy"> 
                                    <%= render "leave_histories/leave_policy"%>                                          
                                  </div><!--/.tab-pane-list-->
                      <!--holiday_calender PANEL-->             
                                  
                                  <div class="tab-pane fade " id="holiday_calender">
                                     <%= render "leave_histories/holiday_list" %>                                           
                                  </div><!--/.tab-pane-list-->                                          
                                  
                                  <div class="tab-pane fade " id="leave_approavals">                                              
                                    <%= render "leave_histories/reported_leaves"%>                  
                                </div><!--/.tab-pane-list--> 
                                
                                <div class="tab-pane fade" id="reportees">                                              
                                    <%= render "leave_histories/reportees"%>                  
                                </div><!--/.tab-pane-list--> 
                                
                                                                                   
                            </div><!--/.profile-tab-content -->                                                                                      
                          </div>
                        <!--/.profile-head-->
                        <% end %>
                      <% end %>
                    </div>
                    <!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
    </div>	


                    
