
<div class="wrapper">
 <div class="container">
   <div class="row">                
    <div class="span12">
      <div class="content">
        <div class="module">
          <div class="module-head">
            <h3> Leave Form </h3>
          </div>  <br>                  
          <% if @employee.reporting_manager.present? %> 
          <% if total_balance_leaves(@employee) <= 0 %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Your Have No remaining leaves Please confirm before apply
            </div>
          <% end %>
          <% if @error.present? %>
             <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               <%= @error%>
            </div>
          <% end %>
          <% if flash[:error].present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= flash[:error] %>
            </div>
          <% end %>             
          <div class="module-body">         
           <%= form_for (@leave_history), :data => {:toggle => "validator"} do |f| %>                          
          <div class="control-group">
          <label class="control-label" for="basicinput">Leave Type</label>                                              
	            <div class="controls">
               <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name,  { :class => "leave_type span8 form-control", :id => "disabledSelect" } %> 
               <span class="help-block with-errors"></span>
	            </div>
          </div>

          <div class="control-group">
          <label class="control-label" for="basicinput">Reason</label>
          <div class="controls">
            
             <%= f.text_area :reason,  :class =>"span8 form-control", :placeholder => "Enter Reason", :data => {:error => "Please Enter Reason For Leave"}, :required =>true %>  
             <span class="help-block with-errors"></span>   
          </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <%= f.radio_button :is_halfday, 'half_day', :class => "rb1" %> &nbspHalf Day  
            </div>
            <div class="span2">
               <%= f.radio_button :is_halfday, 'full_day',:class => "rb2" %> &nbspFull Day                            	
            </div>
          </div>
          <div class="row-fluid full_day">
            <div class="span4">
              <div class="control-group">
							  <label class="control-label" for="basicinput">From</label>
							  <div class="controls">
                 <%= f.text_field :from_date, :id => "idnm1", :class => "span8 form-control leave-form-date idnm1",  :data => {:error => "Please Enter Valid Date"}, :required => true %>
								   <span class="help-block with-errors"></span>   
							  </div>
						  </div>
            </div>
            <div class="span4">
              <div class="control-group">
							  <label class="control-label" for="basicinput">To</label>
							  <div class="controls">
                 <%= f.text_field :to_date, :id => "idnm2", :class => "span8 form-control leave-to-date idnm2", :data => {:error => "Please Enter Valid Date"}, :required => true  %>
								   <span class="help-block with-errors"></span>   
							  </div>
						  </div>
            </div>
          </div>
          <div class="row-fluid half_day">
            <div class="span4">
              <div class="control-group">
							  <label class="control-label" for="basicinput">Date</label>
							  <div class="controls">
                 <input type="text" name="leave_date" id = "idnm3" class ="span8 form-control leave-date">
								   <span class="help-block with-errors"></span>   
							  </div>
						  </div>
            </div>
            <div class="span4">
              <div class="control-group">
							  <label class="control-label" for="basicinput"></label>
							  <div class="controls">
                 <%= f.select :section, options_for_select([['Morning', 'Morning'], ['After Noon', 'After Noon']]), :id => "idnm2", :class => "span8 form-control leave-to-date", :data => {:error => "Please Enter Select Session"} %>
								   <span class="help-block with-errors"></span>   
							  </div>
						  </div>
            </div>
          </div>
          <%= hidden_field_tag 'total_leaves', total_balance_leaves(@employee) %>
          <ul class="navigation-btns edittwo">                                                                                       
            <li><button type="submit" class="btn btn-success apply"> Apply </button></li>
            <li><%= link_to "Cancel", leave_histories_path,:class => "btn btn-danger" %></li>
          </ul>
          <% end %> 
          <div class="alert-message alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               You have crossed the limit of your balace leaves
          </div>                                                                  
          <% else %>  <br>
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               You have no reporting manager. Please contact your Administrator
          </div>
          <% end %>
        </div>
          </div>
        </div>
      </div>
     </div>
    </div>
</div>

 <script>
 $(function () {
     $(".leave-form-date").datepicker({
         dateFormat: 'dd/mm/yy',
         changeMonth: true,
         changeYear: true,
          minDate: -0,
         yearRange: "+0:+1",
         onClose: function (selectedDate) {
             var date2 = $('.leave-form-date').datepicker('getDate');
             date2.setDate(date2.getDate());
             $(".leave-to-date").datepicker("option", "minDate", date2);
             $(".error1").html('');
         }
     });

     $(".leave-to-date").datepicker({
         dateFormat: 'dd/mm/yy',
          minDate: -0,
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true, 
           onClose: function (selectedDate) {
            var date1 = $('.leave-form-date').datepicker('getDate');
            if (date1){
              
            }else{
              $("#idnm2").val('');
              $(".error1").html('<ul class="list-unstyled"><li>Please Enter From Date First</li></ul>');
            }
           }
     });
     $(".leave-date").datepicker({
       dateFormat: 'dd/mm/yy',
          minDate: -0,
          yearRange: "0:+1",
           changeMonth: true,
         changeYear: true
     });
  });
  $(function(){
    $('.half_day').hide();
    $(".alert-message").hide();
    $('.rb1').click(function(){
      $('.full_day').hide();
      $('.half_day').show();
    });
    $('.rb2').click(function(){
      $('.half_day').hide();
      $('.full_day').show();
    });
     $(".leave-date").change(function(){
        var date = $('.leave-date').datepicker('getDate');
        date.setDate(date.getDate());
        $(".leave-form-date").datepicker('setDate', date);
        $(".leave-to-date").datepicker('setDate', date);
     });
    //script for checking applied leaves is greater than balanced leaves - sekhar
    $(".idnm2").change(function(){
      if($(".rb2").prop("checked")){
       var startDate =$(".idnm1").datepicker("getDate");
       var endDate =$(".idnm2").datepicker("getDate");
       var diff = endDate - startDate;// calculating date difference will give value in milliseconds
       var days = (diff/86400000)+1; // converting milliseconds to days here we are adding 1, becuase it will give the difference of two dates
       var weeks = Math.floor(days / 7); // calculating how many weeks we have in that days
       days = days - (weeks * 2); // multiply with 2 will give how many weekends we have in those weeks
       var startDay = startDate.getDay(); //will give day of that date
       var endDay = endDate.getDay();
       if (startDay - endDay > 1) // conditons for calculating days depends on their start and end dates
         days = days - 2;
       if (startDay == 0 && endDay != 6) // it checks weather start day is sunday
            days = days - 1;
       if (endDay == 6 && startDay != 0) // it checks weather end day is saturday
            days = days - 1;
    var total_leaves = parseFloat($("#total_leaves").val());// converting value into float
    if(total_leaves<days){  // checking weather applied leaves are more than balance leaves
       $(".alert-message").show(); // it will show an alert message to the user that he crossed his balance leaves
    }
    else{
       $(".alert-message").hide();
    }
   }
 });
});

</script>
            

