

     <div id="page-wrapper">

           <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Apply leave</h2>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                   <%= form_for ([@employee, @leave_history]) do |f| %>	
                                   
                                   <!--																		
                                        <div class="form-group col-lg-6">
                                            <label> Subject :</label>
                                             <% #= f.text_field :subject,  :class =>"form-control", :placeholder => "Enter Subject"%>
                                        </div>                                        
                                     -->
                                   
                                     
                                     
                                        <div class="form-group col-lg-6">
                                            <label>Reason :</label>
                                              <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Content" %>          
                                        </div>                                        
                                        <div class="form-group col-lg-6">
                                            <label class="required">Leave Type:</label><br>
                                             <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name, { :prompt => "Please Select" }, { :class => "leave_type, form-control", :id => "disabledSelect" } %> 
                                        </div>                                        
                                        
                                        <div class="form-group col-lg-6">
                                            <label>From:</label>
                                               <%= f.text_field :from_date, :id => "idnm1", :class => "form-control datepicker" %>
                                        </div>                                        
                                        <div class="form-group col-lg-6">
                                            <label>To:</label>
                                               <%= f.text_field :to_date, :id => "idnm2", :class => "form-control datepicker" %>
                                        </div>                                         
                                       <button type="submit" class="btn btn-success pull-left"> Apply</button>
                                </div>
                                <% end %>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>



         </div>
          <!-- /#page wrapper -->




<script>
$(function() {
  $( "#idnm1" ).datepicker();
  $( "#idnm2" ).datepicker();
});
</script>
