<<<<<<< HEAD
<div id="page-wrapper">
                <div class="row">
                <div class="col-lg-12">
                   New Leave History
=======
  <div id="page-wrapper">

           <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Apply leave</h2>
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
<<<<<<< HEAD
                        <div class="panel-heading">
                           New Leave details of :<label> <%= @employee.first_name %></label>
                        </div>
                        <div class="panel-body">
   
                                 <%= form_for ([@employee, @leavetype, @leavehistory]) do |f| %>
                                        
                                        <div class="form-group">
                                            <label>Leave From:</label>
                                            <%= f.text_field :from_date, :id => "disabledSelect", :class => "form-control datepicker" %>
                                        </div>
                                        <div class="form-group">
                                            <label>Leave Till:</label>
                                            <%= f.text_field :to_date, :id => "disabledSelect", :class => "form-control datepicker" %>
                                        </div>
                                        <div class="form-group">
                                            <label>Total no of days:</label>
                                            <%= f.text_field :days,  :class => "form-control" %>
                                        </div>
                                         <div class="form-group">
                                            <label>Reason for leave:</label>
                                            <%= f.text_field :reason,  :class => "form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <label>Feedback from respective authority:</label>
                                            <%= f.text_field :feedback,  :class => "form-control" %>
                                        </div>
                                       
                                        <ul class="navigation-btns" style="list-style: none;display:inline;">
                                           <li> <%= f.submit  'Save', :class => "btn btn-success pull-left" %></li> 
                                        </ul> 
                                                    
                                    <% end %>
=======
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <%= form_for ([@employee, @leave_history]) do |f| %>
                                   <br>
                                        <div class="form-group">
                                            <label> Leave From:</label>
                                             <%= f.text_field :from_date, :id => "idnm1", :class => "form-control datepicker" %>
                                            
                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Leave To:</label>
                                             <%= f.text_field :to_date, :id => "idnm2", :class => "form-control datepicker" %>
                                                                                   
                                        </div>
                                        
                                         <div class="form-group">
                                            <label class="required">Leave Type:</label><br>
                                             <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name, { :prompt => "Please Select" }, { :class => "leave_type, form-control", :id => "disabledSelect" } %> 
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Total Number of Days:</label>
                                   <%= f.text_field :days,  :class =>"form-control", :placeholder => "Enter Days" %>                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Reason:</label>
                                  <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Content" %>                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Feedback:</label>
                                  <%= f.text_area :feedback,  :class =>"form-control", :placeholder => "Enter Content" %>                                           
                                        </div>
                                         
                                       <button type="submit" class="btn btn-success pull-left">Save </button>
                                    
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <h1></h1>
                                  
                                    
                                        
                                    <% end %>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
<<<<<<< HEAD
            <!-- /.row -->
           
         </div>
          <!-- /#page wrapper -->
=======


         </div>
          <!-- /#page wrapper -->




<script>
$(function() {
  $( "#idnm1" ).datepicker();
  $( "#idnm2" ).datepicker();
});
</script>



















>>>>>>> 08c97b046a36e25666fda94dd1083dad5a58dc5b
