            <div id="page-wrapper">

               <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Apply leave</h4>

                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-12">
                              <h4 class="page-header" id="remaining_leaves"><a herf="#"><i class="fa fa-plus"></i> Remaining Leaves </a></h4>
                              <div id="leaves_list">
                                <label class="normalfont">Remaining Sick Leaves: </label><br>
                                <label class="normalfont">Remaining Personal Leaves: </label> <br>
                                <label class="normalfont">Remaining Carry Forward Leaves: </label><br>
                              </div>                                  
                            </div><!-- /.col-lg-12 (nested) -->  
                        </div><!-- /.panel -->  
                   </div><!-- /.panel panel-default -->
   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Leave Form 
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                            <%= form_for (@leave_history) do |f| %>	                                   																	
                               <div class="form-group">
                                   <label class="required" > Subject</label>
                                   <%= f.text_field :subject,  :class =>"form-control", :placeholder => "Enter Subject"%>
                                </div>                                            
                                <div class="form-group">
                                    <label class="required" >Reason</label>
                                    <%= f.text_area :reason,  :class =>"form-control", :placeholder => "Enter Content" %>          
                                </div>                                        
                                <div class="form-group">
                                    <label class="required">Leave Type</label><br>
                                    <%= f.collection_select :leave_type_id, LeaveType.all, :id, :type_name, { :prompt => "Please Select" }, { :class => "leave_type, form-control", :id => "disabledSelect" } %> 
                                </div>                                        
                                <div class="form-group">
                                    <label class="required" >From</label>
                                    <%= f.text_field :from_date, :id => "idnm1", :class => "form-control datepicker" %>
                                </div>                                        
                                <div class="form-group">
                                    <label class="required" >To</label>
                                    <%= f.text_field :to_date, :id => "idnm2", :class => "form-control datepicker" %>
                                </div>                                         
                                <button type="submit" class="btn btn-success pull-left"> Apply</button>
                                         
                            </div><!-- /.col-lg-6(nested) -->  
                            <% end %>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
              <!-- /.row -->
         </div>
          <!-- /#page wrapper -->




<script>
$(function() {
  $( "#idnm1" ).datepicker();
  $( "#idnm2" ).datepicker();
});
</script>

<script>
 $("#leaves_list").hide();
 $(function(){   
	$("#remaining_leaves").click(function(){
			$("#leaves_list").show();
		});
		});
</script>

