<div class="panel panel-success">
  <div class="panel-heading">               
    <%= @policy.title %>           
  </div>       
  <div class="panel-body">        
    <div class="row">
      <label class="control-label col-lg-4" for="basicinput">Description</label>
      <div class="col-lg-11">
         <%= raw(@policy.details) %>
      </div>
    </div>    
    <% if @policy.document_url.present? %>
    <div class="row">
      <label class="control-label col-lg-4" for="basicinput">Attachment</label>
      <div class="col-lg-10">
        <%= link_to "show", @policy.document_url, :target => "/blank" %>
      </div>
    </div>
    <% end %>
    <div class="pull-right">
      <% if current_user.department == Department::HR %>  
        <%= link_to 'Edit', edit_policy_path(@policy), :class => "btn btn-success  " %>
        <%= link_to "Delete", policy_path(@policy), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %>          
      <% end %>
    </div>
  </div>
</div>                 
