<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>Plocy Details</h3>
              <% if current_user.department == Department::HR %>
              <label style="font-weight:normal;margin-top:-15px;" class = "pull-right"><a><i class="icon-plus-sign "></i></a><%= link_to " Add New Shift",new_shift_path %></label>
              <% end %>
            </div>
            <% if shifts.present? %>                                         
            <div class="module-body">                     
              <table class="table table-striped table-bordered table-condensed" id="sample-table-2">     
                <thead>											      
                  <tr>
                    <th>Shift Name</th>
                    <th>Login Time</th>
                    <th>Logout Time</th>
                    <th>Next Day</th>
                    <th> Actions</th>															            									      		
                  </tr>
                  </thead>
                <% @shifts.each do |shift| %>
                <tbody>
                  <tr>               
                    <td class="center"><%= shift.name %></td>  
                    <td><%= shift.from_time %></td>
                    <td><%= shift.to_time %></td>
                    <td><%= shift.is_next_day %></td>
                    <% if current_user.department == Department::HR %>
                    <td> 
                      <ul class="navigation-btns pull-right" >
                        <li><%= link_to 'Edit', edit_shift_path(shift.id), :class => "btn btn-success " %></li>
                        <li><%= link_to "Delete",shift_path(shift.id), method: :delete, data: {confirm: "Are You sure?"}, :class=>"btn btn-danger " %></li>
                      </ul>
                    </td>
                  <% end %>
                  </tr>
                </tbody>
                <% end %>
              </table>
            <% else %> 
            <div class="module-body">                                           
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  No Shifts to display.
              </div>
            </div>
            <% end %>
            </div><!--module-body -->    																																											                               
          </div><!-- /.module-->									      				                                      
        </div><!--/.content-->                    
      </div><!--/.span12-->                
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->


                       
                       
               
